<p class="info">Назарук Валентина Іванівна</p>
<p class="info">Ратнівський район</p>
<p class="info">0978512398</p>

<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує тримісні кімнати. Туалет в будинку, є  ванна.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, телевізором.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
   <p>В господарстві є корова, порося, домашня птиця. Відпочиваючі мають можливість ловити рибу, купатися.</p>
    <p>Медична допомога (медпункт) і пошта знаходяться на відстані 400 м.</p>

