<p class="info">Сюрук
    Степан Лазарович
</p>
<p class="info">Ковельський район</p>
<p class="info">0682356814</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує для відпочиваючих 2 тримісні кімнати.</p>
    <p>Туалет на вулиці, є ванна.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, радіоприймачем, телефоном, дивитись телевізор.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, навчитися верховій їзді.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 0,5 км, а переговорний пункт -7 км.</p>






