<p class="info">Мазур Олена Петрівна</p>
<p class="info">Ковельський район</p>
<p class="info">(03352)97-4-21</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує для відпочиваючих 2 двомісних кімнати.</p>
    <p>Туалет на вулиці. Є колодязь, літня кухня.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, мікрохвильовою піччю, радіоприймачем, телефоном, дивитись телевізор.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Господиня пропонує за бажанням навчити вишиванню,  в’язанню, лозоплетінню. Пропонує екскурсії до історичних та культурних місць.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, навчитися верховій їзді.</p>




