<p class="info">Адамюк Ганна Трохимівна

</p>
<p class="info">Ківерцівський район</p>
<p class="info">(265)9-85-42</p>



<hr>
<p>Красива садиба "Хутірець”. Чудові навколо неї поліські пейзажі. Кругом Садиби ростуть дрімучі, віковічні ліси, які ведуть між собою тиху, таємну розмову. Про що шепочуть вони, стиха нахиливши свої могучі верховіття? Дуби ведуть розмову про те, як жили люди в давнину, як боролись за краще життя. Саме тум Ви зможете почути чистий спів соловейка, голоси цвіркунів підвечір. Тум стіни хат дихають і пам’ятають запах свіжоспеченого хліба. Тум можна залізти на горище і знайти, багато старих цікавих речей. А старі дід і баба не уявляють себе без корови, курей, курчат, качок, собаки, кота, города, комори, дрів, соняшників, вишень. За бажанням Ви зможите проїхатися верхи на конях, покупатися і навчитися вишивати рушники та серветки.</p>

















