<p class="info"> Шевчук Анатолій Констянтинович

</p>
<p class="info">Шацький район</p>
<p class="info">0965609870  </p>
<p class="info">ozerosvitjas@mail.ru </p>





<hr>
<p>Комфортабельне житло у дерев‘яному двоповерховому котеджі;</p>
<p>2-х, 3-х та 4-х місні номери з усіма зручностями;</p>
<p>Можлива здача окремого поверху або цілого будинку;</p>
<p>Місце для стоянки автомобілів;</p>
<p>Можлива організація харчування;</p>
<p>Сауна ( за додаткову оплату ).</p>
<p>В наявності: альтанки, мангали, супутникове телебачення, дитячий майданчик, басейн.</p>
<p>Котедж знаходиться в затишному місці неподалік від лісу.</p>
<p>Ціна: від 250 грн/номер/доба.</p>























