<p class="info">Оксенюк Людмила Петрівна</p>
<p class="info">Ковельський район</p>
<p class="info">0962356927</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує для відпочиваючих 3 одномісні кімнати.</p>
    <p>Туалет на вулиці, є літня кухня.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, дивитись телевізор.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Господиня пропонує за бажанням навчити вишиванню і  в’язанню.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, навчитися верховій їзді.</p>








