<p class="info">Коваль Лідія Леонідівна

</p>
<p class="info">Шацький район</p>
<p class="info">0973258470  </p>
<p class="info">0974085525  </p>




<hr>
<p>В кожному будиночку в наявності:</p>
<p>Дві спальні (3-х місні);</p>
<p>Кухня (гаряча і холодна вода);</p>
<p>Санвузол.</p>




















