<p class="info">Прокопчук Світлана Федорівна</p>
<p class="info">Шацький район</p>
<p class="info">(033255)2-44-04  </p>






<hr>
<p>Умови перебування та послуги:</p>
<p>Господиня пропонує 3 двомісних і 4 тримісних кімнати і окремий будиночок на 3 місця. Є туалет, душ.</p>
<p>Можливість дивитися телевізор та користуватися кухнею. Триразове харчування.</p>
<p>Господиня приймає відпочиваючих з дітьми. Є господарство.</p>
<p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні.</p>
















