<p class="info">Тимошик Віктор Васильович</p>
<p class="info">Ковельський район</p>
<p class="info">0506730407</p>
<p class="info">sadybatoykut@mail.ru</p>


<hr>
<p>З року в рік зростає якість послуг в агросадибі "Несухоїжі”, розташованій поблизу мальовничої річки Турія серед цілющого соснового лісу. Назва території пов’язана з тим, що тут в давнину працювали лісоруби, які сплавляли деревину по річці. А поблизу була харчевня, де можна було поїсти «не на сухо» - скуштувати гарячі страви. На першому поверсі ошатної садиби з автономними опаленням і каналізацією знаходяться вітальня з телевізором, музичним центром, кухня з електроплитою і холодильником, сауна, душова, туалет, а другому поверсі – чотири двомісні кімнати для відпочинку. Поблизу два ставки, де можна покупатись чи упіймати карася, ляща, білого амура. Є крите приміщення для відпочинку на свіжому повітрі. Всі радощі відпочинку на природі: збір грибів та ягід, рибна ловля, вечорниці біля вогнища, печена картопля та смажені шашлики, запечена власноруч зловлена риба чи "юшка з димком”. Ви зможете прогулятись човном річкою Турія, прокататись кіньми на бричці влітку, а санями взимку. В разі потреби запропонують триразове харчування. А якщо комусь забажається послухати українських народних пісень, гостинний господар Віктор Тимошик запросить місцевий фольклорний колектив. Раптом маєте інтерес взяти участь у реальних сільськогосподарських роботах – теж будь ласка. Бажаючих відпочити зустрінуть власним авто на залізничному, автомобільних вокзалах в Ковелі.</p>



