<h1>
	Міжнародний досвід
</h1>


	<div class="body">.
		<h3>Екологічна сертифікація садиб – міжнародний досвід маркетингу</h3>

		<p>Система екологічного маркування (eco-labeling) взагалі та екологічного маркування туристичної діяльності зокрема є дієвим інструментом маркетингу, що сприяє як розвитку туристичного бізнесу, так і збереженню довкілля. Згідно з даними  експертів авторитетної громадської організації The Ecotourism Society, що спеціалізується на розвитку екологічного туризму, 85 % американських туристів надають перевагу туристичним операторам, що опікуються довкіллям. Екологічна свідомість господарів, підкріплена відповідним сертифікатом, є важливим фактором і при виборі місць відпочинку  туристами з Англії та Німеччини та, в дещо меншій мірі, з інших розвинутих країн Західної Європи.  Господарі сертифікованих об’єктів туризму мають більше можливостей для реклами, а відтак і шансів знайти своїх клієнтів. Сертифікація запроваджується як на національному, так і на міжнародному рівнях організаціями туризму, сертифікації або транснаціональними операторами туристичного бізнесу. За данимиSUSTAINABLE TRAVEL INTERNATIONAL на сьогодні національні системи екологічної сертифікації розроблено більше, ніж у 30 країнах.</p>

		<p>Найбільш використовуваними та відомими системами є:</p>
		<table>
			<tbody>
				<tr>
					<td>
		<img src="./resourses/mydosvid/imgs/1.PNG" width="150" height="120">
					</td>
					<td>
		„Блакитний прапор” Blue Flag
		Регіон застосування : Міжнародний
		Сектор застосування: пляжі та РОПи
		Web site: www.blueflag.org
		Email: bf.int@friluftsraadet.dk
		Phone: + 45 (0)33 79 00 79
		Опис:З 1987 „Блакитний прапор” символізує високі стандарти довкілля стосовно якості води, чистоти пляжів та утилізації відходів, надання актуальної інформації відвідувачам, екологічної освіти та охорони прибережних екосистем.
					</td>
				</tr>
				<tr>
					<td>
		<img src="./resourses/mydosvid/imgs/2.PNG" width="150" height="120">
					</td>
					<td>
		<p>„Зелена куля” Green Globe 21</p>
		<p>Регіон застосування : Міжнародний</p>
		<p>Сектор застосування: місцеві громади, місця розміщення, туристичні принади, туристичні оператори та їх офіси.</p>
		<p>Web site:www.greenglobe21.com</p>
		<p>Email: customer.services@greenglobe21.com</p>
		<p>Phone: (+61) (2) 6257 9102</p>
		<p>Опис: Green Globe 21 – це всесвітня програма маркування та сертифікації, що сприяє розвитку сталого туризму для споживачів, компаній та місцевих громад. Вона базується на  „Порядку денному для 21 сторіччя” та принципах сталого розвитку, що були прийняті урядами 182 країн на Світовому самміті в Ріо-де-Жанейро в1992 р. Існує чотири системи стандартів Green Globe 21.</p>
					</td>
				</tr>
				<tr>
					<td>
		<img src="./resourses/mydosvid/imgs/3.PNG" width="150" height="120">
					</td>
					<td>
		<p>Milieubarometer</p>
		<p>Регіон застосування: Нідерланди</p>
		<p>Сектор застосування: кемпінги, молодіжні гуртожитки та парки відпочинку.</p>
		<p>Website:www.milieubarometer.com</p>
		<p>Email:info@milieubarometer.com</p>
		<p>Phone: +31 (0)6 53 92 41 45</p>
		<p>Опис: З 1998 "EnvironmentalBarometer" показує відвідувачам бронзовий, срібний та золотий рівні якості довкілля, що підтримується операторами туризму.</p>
					</td>
				</tr>
				<tr>
					<td>
		<img src="./resourses/mydosvid/imgs/4.PNG" width="150" height="120">
					</td>
					<td>
		<p>LegambienteTurismo</p>
		<p>Регіон застосування: Італія</p>
		<p>Сектор застосування: розміщення, готелі та кемпінги</p>
		<p>Website:www.legambienteturismo.it</p>
		<p>Email:info@legambienteturismo.it</p>
		<p>Phone: + 39 051 241324</p>
		<p>Опис: З 1997 LegambienteTurismo нагороджує своїм знаком екологічно-відповідальних операторів туризму.</p>
					</td>
				</tr>
			</tbody>
		</table>
<br>
		<img src="./resourses/mydosvid/imgs/5.GIF" width="450" height="400">

	</div>