<p class="info">Швирид Валентина Лук'янівна</p>
<p class="info">Любешівський район</p>
<p class="info">0502882367</p>



<hr>
<p>Оселя облаштована всіма зручностями. Господарі запропонують вам чудовий відпочинок: рибну ловлю на озері Люб’язь та катання на катамарані, катері. Можете здійснити прогулянки на водних лижах, на кінній бричці. Матимите можливість скуштувати мед, так як є власна пасіка, а огірочки та помідорчики прямо з грядочки і на стіл.</p>
<p>Господарі готові приймати гостей цілий рік.</p>
<p>Надають1, 2 кімнати;</p>
<p>2-місні – 2 кімнати;</p>
<p>3-місні  - 2 кімнати.</p>













