<p class="info">Гонтарук Валентина Іванівна</p>
<p class="info">Володимир – Волинський район</p>
<p class="info">(03342)9-51-77</p>







<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує будинок на 5 місць.  Туалет на подвір’ї.</p>
    <p>Можливість дивитися телевізор та користуватися кухнею.</p>
    <p>Господиня приймає відпочиваючих з дітьми. Є господарство.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися.</p>






















