<p class="info">Каращук Людмила Миколаївна
</p>
<p class="info">Маневицький  район</p>
<p class="info">0978346118</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує: 1 двомісну, 1 тримісну кімнати в будинку. Туалет на вулиці.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок 10 грн., дворазове харчування  35 грн., триразове харчування  - 40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є кролі, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, кататися у човні, купатися, ходити по гриби і ягоди.</p>
    <p>Медична допомога знаходиться на відстані 300 м і переговорний пункт знаходиться на відстані 2 км.</p>































