<p class="info">Данильчук Микола Миколайович</p>
<p class="info">Рожищенський район</p>
<p class="info">0972779297</p>
<p class="info">(03344)4-09-89</p>


<hr>
    <p>Будинок складають:</p>
    <p>спальна кімната – 2</p>
    <p>вітальня – 1</p>
    <p>кухня – 1</p>
    <p>сауна – 1</p>
    <p>душова – 1</p>
    <p>Крім житлового будинку на садибі розміщені – альтанки для відпочиваючих, місце під автостоянку, ставок. Навколо будинку газони трави, до будинку ведуть доріжки з плитки, садиба обнесена парканом. У користування туристам буде надаватися весь будинок і присадибна рекреаційна зона.</p>
    <p>Наше садиба завжди гостинна. Житловий будинок новий, площею 80 кв.м побудовано у 2006 році з дерев’яних оциліндрованих брусів.</p>
    <p>Квіти, садочок, спів птахів – романика відпочинку.</p>
    <p>Проблиски сонця, ліс – можна розкошувати пішими велосипедними прогулянками, купатися в річці, ловити рибу. А ввечері помилуватися заходом сонця.</p>
    <p>Можемо навчити приготувати традиційні українські страви, які є найсмачнішими в нашому краї. Запрошуємо на наші традиційні свята.</p>
    <p>Запрошуємо на гарний, повний несподіванок відпочинок.</p>





