body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

body.menu{
	overflow: hidden;
}

body *{
	font-family: "Merriweather", serif;
	color: #243040;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}


/* WINDOW CONTROLS-----------
---------------------------*/
.window-controls{
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 99999;
}


.window-controls i{
	cursor: pointer;
	transition: text-shadow .6s;
}

.window-controls i:hover{
	text-shadow: 0 0 16px rgba(0,0,0,.4);
}

.window-controls .minimize{
	float: left;
	margin-top: -2px;
}

.window-controls .minimize i{
	font-size: 32px;
	color: #2196f3 !important;
}

.window-controls .close{
	float: left;
	margin-top: -5px;
}

.window-controls .close i{
	font-size: 38px;
	color: #f00 !important;
}


/* GO-MAIN-------------------
---------------------------*/
.go-main{
	position: fixed;
	left: 0;
	top: -10px;
	font-size: 60px;
	z-index: 1000;
}

.go-main i{
	cursor: pointer;
	transition: color .6s;
}


.go-main i:hover{
	color: #c62828;
}

body.main-state .go-main{
	display: none;
}
/* MAIN MENU-----------------
---------------------------*/
.menu-wrap{
	height: 400px;
	margin: 25px auto;
	width: 700px;
	box-shadow: 0 0 22px rgba(0,0,0,.7);
}

.menu-wrap .tile-row{
	float: left;
	margin-right: 2px;
	width: 150px;
}

.menu-wrap .tile{
	background-color: rgba(255,255,255,.9);
	width: inherit;
}
.menu-wrap .tile *{
	font-weight: 700;
}
.menu-wrap .tile>div{
	float: left;
	height: 80px;
	padding-left: 20px;
}

.menu-wrap .tile>div i{
	font-size: 45px;
	line-height: 80px;
}

.menu-wrap a{
	cursor: pointer;
}

.menu-wrap a:hover{
	text-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.menu-wrap .tile>a{
	line-height: 80px;
	padding-left: 20px;
	text-align: left;
	text-decoration: none;
	font-size: 20px;
}

.menu-wrap .tile{
	font-size: 20px;
}

.menu-wrap .tile ul{
	list-style: none;
	margin: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: all .6s cubic-bezier(.55, 0, .1, 1);
}

.menu-wrap .tile ul *{
	cursor: pointer;
}

.menu-wrap .tile ul>li{
	height: 50px;
}


.menu-wrap>.tile *{
	color: #673ab7 !important;
}

.menu-wrap>.tile:nth-child(2n) *{
	color: #4caf50 !important;
}

.menu-wrap>.tile:nth-child(3n) *{
	color: #f44336 !important;
}

.menu-wrap>.tile:nth-child(4n) *{
	color: #e91e63 !important;
}

.menu-wrap>.tile:nth-child(5n) *{
	color: #00bcd4 !important;
}

.menu-wrap>.tile:nth-child(6n) *{
	color: #009688 !important;
}

.menu-wrap>.tile:nth-child(7n) *{
	color: #4caf50 !important;
}


.menu-wrap .tile ul>li>div{
	float: left;
	margin-left: 80px;
	font-size: 30px;
	text-align: center;
}

.menu-wrap .tile ul>li>div>i{
	
}

.menu-wrap .tile ul>li>a{
	line-height: 30px;
	padding-left: 20px;
	text-align: left;
	text-decoration: none;
}

.menu-wrap .tile.active ul{
	max-height: 300px;
}


/*---TEXT CONTENT-------
-----------------------*/
.idc-text-content h1, .idc-text-content h2,
.idc-text-content h3, .idc-text-content h4,
.idc-text-content h5, .idc-text-content h6{
	text-align: center;
}

.idc-text-content .intro>h1{
	margin: 15px auto;
	display: block;
	width: 700px;
	font-style: italic;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	font-size: 26px;
	font-weight: 700;
	color: #ffffff;
	line-height: 40px;
	background-color: rgba(0,0,0,.8);
}

.idc-text-content .body{
	border-radius: 4px;
	box-shadow: 0 0 12px rgba(0,0,0,.6);
	background-color: rgba(255,255,255,.95);
	margin: -15px auto;
	width: 880px;
	font-size: 18px;
	text-align: justify;
	padding: 20px 35px;
	margin-bottom: 15px;
}

.idc-text-content p{
	text-indent: 35px;
}

.idc-text-content p{
	margin-top: 0.5em;
	margin-bottom: 1em;
}


.idc-text-content li{
	margin-left: 50px;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
}

.idc-text-content table td, table th{
	border: 2px solid #000000;
	padding: 10px 25px;
}




/* SADYBY-----------------------
------------------------------*/
.sadyby-container{
	background-color: rgba(250,250,250,.94);
	margin-top: -10px;
	overflow: hidden;
	height: calc(100% + 10px);
}

.sadyby-container>.title{
	padding-bottom: 5px;
	font-style: italic;
	font-weight: 700;
	text-align: center;
}

.sadyby-container *{
	color: #555555 !important;
}

.sadyby-container .row, .sadyby-container .col-md-3, .sadyby-container .col-md-9{
	height: 100%;
}


.sadyby-container ul{
	list-style: none;
}

.sadyby-container .regions{
	height: inherit;
	box-shadow: 3px -3px 8px rgba(0,0,0,.4);
	font-size: 22px;
}

.sadyby-container .regions li{
	cursor: pointer;
	padding: 9px 0 9px 10px;
	transition: background-color .4s;
	box-shadow: inset 0 -2px 4px rgba(0,0,0,.4);
	font-weight: 700;
	color: rgba(0,0,0,.6) !important;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.sadyby-container .regions li:hover{
	background-color: rgba(220,220,220,.94);
}

.sadyby-container .regions li.active{
	background-color: #006064;
	color: #ffffff !important;
}

.sadyby-container .items-wrapper{
	height: inherit;
	overflow-y: scroll;
	box-shadow: 3px -3px 8px rgba(0,0,0,.4);
	margin: 0 auto;
}

.sadyby-container .items{
	height: inherit;
	font-size: 22px;
	padding: 10px 0;
	margin: 0 auto;
	width: 940px;
}

.sadyby-container .items li{
	display: block;
	padding: 3px 17px 0;
	width: 440px;
	height: 278px;
	float: left;
	margin: 10px 15px;
	background-color: #2aabd2;
	opacity: .8;
	border-radius: 4px;
	box-shadow: 0 0 12px rgba(0,0,0,.4);
	transition: opacity .4s;
	cursor: pointer;
}

.sadyby-container .items li:last-child{
	margin-bottom: 100px;
}

.sadyby-container .items li *{
	cursor: pointer;
}

.sadyby-container .items li:hover{
	opacity: 1;
}

.sadyby-container .items li .img-wrapper{
	margin-top: 4px;
	overflow: hidden;
	height: 228px;
	width: 404px;
}

.sadyby-container .items li img{
	transition: transform .4s ease-in-out;
}

.sadyby-container .items li:hover img{
	transform: scale(1.05);
}

.sadyby-container .items li .title{
	margin: 0;
	text-align: center;
	color: #fff !important;
	font-style: italic;
	font-weight: 700;
}


/* MODAL------------------
-------------------------*/
#s-modal{
	text-align: justify;
	text-indent: 30px;
	font-size: 16px;
}

#s-modal li{
	margin-left: 4.4em;
	text-indent: 6px;
}

#s-modal .modal-dialog{
	width: 900px !important;
}

#s-modal .info{
	font-weight: 700;
	font-style: italic;
	margin-top: 2px;
	margin-bottom: 0;
}


.modal-owl{
	height: 170px;
	overflow: hidden;
	transition: opacity 1s;
}

.modal-owl.m-hide{
	opacity: 0;
}

.modal-owl .item{
	float: left;
	width: 250px;
	height: 170px;
	overflow: hidden;
}


.app-main-title{
	margin: 30px auto;
	text-align: center;
	width: 500px;
	display: block;
	color: #ffffff;
	background-color: #006064;
	padding: 20px 30px;
	border-radius: 7px;
	box-shadow: inset 8px 8px 18px rgba(0,0,0,.6), inset -8px -8px 18px rgba(255,255,255,.4);
	cursor: pointer;
	transition: color .4s, box-shadow .6s;
}

.app-main-title *{
	color: inherit;
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
	cursor: pointer;
}

.app-main-title:hover{
	color: #ec971f !important;
	box-shadow: inset 0 0 10px rgba(0,0,0,.8);
}

.app-main-title *:hover{
	text-decoration: none;
	color: inherit;
}

.bg-video{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(../resourses/bg.jpg) no-repeat;
	background-size: cover;
}

.bg-video-overlay{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -99;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-color: rgba(255,255,255,.2);
}


/*--------------------------
--ICO INFORM---------------*/
.ico-inform-left{
	top: 71px;
	left: 45px;
	position: fixed;
}

.ico-inform-right{
	top: 71px;
	right: 45px;
	position: fixed;
}