<p class="info">Галина Романівна



</p>
<p class="info">Шацький район</p>
<p class="info">0979991246 </p>
<p class="info">0661785701 </p>




<hr>
    <p>Умови проживання:</p>
    <p>На першому поверсі:</p>
        <ol>
            <li>вітальня (камін, два розкладних дивани, два мякі крісла, супутникове ТБ);</li>
            <li>повністю обладнана кухня (холодильник, електрочайник, продуктові шафи, електроплита з духовкою, весь посуд);</li>
            <li>санвузол (душ з гарячою та холодною водою).</li>
        </ol>
    <p>На другому поверсі:</p>
        <ol>
            <li>велика кімната з двоспальним ліжком та розкладним диваном, супутниковим ТБ;</li>
            <li>дві окремі кімнати з полутурним ліжком у кожній;</li>
            <li>санвузол (душ з гарячою та холодною водою).</li>
        </ol>
    <p>У будинку розміщується 8-18 чол.</p>
    <p>Також до послуг відпочиваючих: - парковка автомобілів на території котеджу, велика альтанка, мангал. Відстань від котеджу до о. Світязь – 80 метрів.</p>
    <p>Ціни:</p>
    <p>При замовленні котеджу більше як на три доби-знижки. Кімнати окремо не здаються.</p>












