<p class="info">Гуга Ніна Василівна</p>
<p class="info">Любомльський  район</p>
<p class="info">0979235471</p>







<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує:1 одномісну і 1 двомісну кімнати. Туалет на подвір’ї.</p>
    <p>Є можливість користуватися телевізором, холодильником, пральною машиною, мікрохвильовою піччю, радіоприймачем, телефоном. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. Дворазове харчування  40 грн., триразове харчування  - 40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися у човні.</p>
    <p>Медична допомога знаходиться на відстані 1 км, а переговорний пункт знаходиться на відстані 0,2 км .</p>
























