<p class="info">Бриндзій Євгенія Миколаївна
</p>
<p class="info">Любомльський  район</p>
<p class="info">(03377)3-25-29</p>







<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує: двомісні і одномісні кімнати в будинку. Туалет на подвір’ї.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. Дворазове харчування  40 грн., триразове харчування  - 40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>За бажанням навчить готувати та пекти українські страви, вишивати.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися.</p>
    <p>Медична допомога знаходиться на відстані 400 м, а переговорний пункт знаходиться на відстані 300 м.</p>


























