<p class="info">Ващук Василь Прокопович</p>
<p class="info">Ратнівський район</p>
<p class="info">0978695124</p>

<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує одномісні і двомісні кімнати. Туалет на вулиці, є  душ.</p>
    <p>Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. дворазове харчування  35 грн., триразове харчування  -40 грн.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, телевізором.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>За бажанням господар навчить мистецтву лозоплетіння</p>
    <p>В господарстві є корова, порося, кінь, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, кататися на верхи коні.</p>
    <p>Медична допомога (медпункт) і пошта знаходяться на відстані 3 км.</p>



