<p class="info"> Мережа Тетяна Іванівна

</p>
<p class="info">Шацький район</p>
<p class="info">0679388632  </p>






<hr>
<p>Двоповерховий котедж: кухня, санвузол, вітальня, дві спальні, супутникове телебачення та кондиціонер.</p>
<p>Літній будинок: кухня, дві спальні, супутникове телебачення, кондиціонер, туалет та душ -  на території.</p>
<p>Також в наявності: місце для стоянки автомобілів, мангал, гамак, місце для гри у волейбол, гойдалка.</p>
<p>Можлива організація харчування та риболовлі.</p>
























