<p class="info">Мосійчук Петро Філімонович</p>
<p class="info">Рожищенський район</p>
<p class="info">(03368)6-92-31</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує будинок 8X10 і підвалом і гаражем. Туалет в будинку, є ванна. Можливість дивитися телевізор та користуватися телефоном, кухнею, паркування машини у гаражі. Село газифіковане.</p>
    <p>Господар приймає відпочиваючих з дітьми і дозволяє привозити домашню тварину. В господарстві є корова.</p>
    <p>Поряд є чудовий ліс, тече р. Стир, є невеличкі ставки.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні, катання на конях, відпочивати в лісі, чи на річці, до м. Луцька 20км.</p>






