<h1>
	Знак
</h1>

<div class="body">

	<p>В Україні запроваджується добровільна категоризація у сфері сільського зеленого туризму «Українська гостинна садиба», чотири категорії якої позначаються відповідним знаком. Знак «Українська гостинна садиба» (далі – «УГС») включає композицію із словосполученням українською - «українська гостинна садиба», англійською – «ukrainian guest house»  та графічного символу, на якому зображена українська хатинка. Під  хатинкою розміщені одна, дві або три квітки.</p>
	<p>Знак має чотири категорії засобів розміщення:</p>
	<p>базову (найнижча) – позначається без квітки;</p>
	<p>першу – однієї квіткою  <img src="./resourses/znak/imgs/1.jpg" width="22" height="22"></p>
	<p>другу - двома квітками  <img src="./resourses/znak/imgs/2.jpg" width="44" height="22"></p>
	<p>третя (найвища) - трьома квітками  <img src="./resourses/znak/imgs/3.jpg" width="66" height="22"></p>

	<p>Знак дає право сільському господарю повідомляти про відповідну якість житлових умов та рівень послуг у засобах реклами та інформації, встановлювати плату, співставлену з його категорією тощо. Цей знак надається Спілкою сприяння розвитку сільського зеленого туризму в Україні і може використовуватися як маркетинговий інструмент у зростанні популярності садиби.</p>
	<p>Знак «Українська гостинна садиба» надається агротуристичним садибам, які відповідають наведеним у розділі ПОЛОЖЕННЯ вимогам.</p>
	<p>Знак надається на термін два роки, що засвідчується відповідним сертифікатом.</p>
	<p>Сертифікат базового рівня:</p>
	<img src="./resourses/znak/imgs/4.jpg" width="300" height="350">

	<p>Сертифікат першого рівня:</p>
	<img src="./resourses/znak/imgs/5.jpg" width="300" height="350">

	<p>Сертифікат другого рівня:</p>
	<img src="./resourses/znak/imgs/6.jpg" width="300" height="350">

	<p>Сертифікат третього рівня:</p>
	<img src="./resourses/znak/imgs/7.jpg" width="300" height="350">


</div>