<p class="info">Приступа
    Олена Миколаївна

</p>
<p class="info">Турійський  район</p>
<p class="info">(263)2-22-98</p>
<p class="info">0673320263</p>
<p class="info">0673329288</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує: 5 одномісних, 4 двомісних, 4 тримісних кімнати в будинку і окремий будинок (котедж).  Туалет на вулиці і в будинку, є душ, ванна, сауна, баня.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, мікрохвильовою піччю, радіоприймачем. Є комп’ютер, Інтернет, мобільний зв’язок.</p>
    <p>Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку) в будинку так само -20 грн., сніданок 15 грн., дворазове харчування  40 грн., триразове харчування  - 50 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є домашня птиця.</p>
    <p>Відпочиваючі мають можливість добре відпочити.</p>



































