<p class="info">Нахамець Світлана Андріївна</p>
<p class="info">Шацький район</p>
<p class="info">0963234665 </p>






<hr>
    <p>Звідси відкривається панорама на озеро Люцимер.</p>
    <p>Опис</p>
    <p>Двокімнатний міні-котедж перебуває на узбережжі озера Люцимер, розрахований на 5 місць. У п’ятнадцяти хвилинах ходьби: автостанція, стоянка таксі, магазини, кафе, бари, готель «Гранд Персона», піццерія «Фелічіта», відділення ощадбанку, продуктовий і продовольчий ринок, супермаркет.</p>
    <p>Проживання</p>
    <p>У кімнатах розрахованих на 5 осіб.</p>
    <p>Вигоди на  ериторії.</p>
    <p>Харчування</p>
    <p>Є кухня обладнана всім необхідним для самостійного готування їжі.</p>
    <p>Послуги</p>
    <p>Включене у вартість</p>
    <p>Мангал</p>
    <p>Човен</p>
    <p>Автопарковка.</p>
    <p>За окрему плату</p>
    <p>Дрова.</p>

















