<p class="info">Сергій та Лідія Козулі</p>
<p class="info">Ковельський район</p>
<p class="info">(03352)93-2-21</p>
<p class="info">0967466271</p>


<hr>
<p>Волинь моя - краса моя! Неповторний край, чудова природа, чисте повітря! На березі річки Турія, за 20 кілометрів від одного з найкрупніших залізничних вузлів України - міста Ковель, яке є воротами в Західну Європу, знаходиться мальовниче село з споконвічною мрією українців під назвою Воля. Господарі пропонують туристам круглорічний відпочинок. Будинок на три кімнати з усіма зручностями, туалет, ванна, душ. Є колодязь, кухня, ставок, музей старовини. В господарстві є коні, корови, телята, свині, домашня птиця, цесарки. Природа поблизу села мальовнича, поряд з просторою оселею річка, на березі якої лазня. Посеред річки острів з назвою «Вербник», де похилились над водою символи України верба і калина. А як там смакує рибна юшка пахуча із димком, а які смачні шашлики на вербових дровах, а яка чиста, прозора і лагідна вода в річці. Є будиночок, де можна відпочити і заховатися від дощу. Поряд ліс, в якому сила – силенна ягід і грибів, а краса яка у всі пори року, чисте повітря насичене запахом хвої. Подружжя не викинуло на сміття й ткацький верстат – можна показати міським жителям, як можна отримувати домашнє полотно.Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, верхи на конях, на возі. Є автомашина, мотоцикл, велосипеди. Щоб відновити сили після подорожі, господиня запропонує свіжого домашнього хліба, свіжого парного молока. Ви зможете спробувати свої можливості в сільськогосподарських роботах: подоїти корову, погодувати порося та курей, покосити сіно. Організовуються маршрути по історичних місцях Ковельщини. Поряд знаходиться музей-садиба Лесі Українки в Колодяжному, заказник Нечимне, старовинні церкви в селах Доротище, Гішин, Милецький Свято-Миколаївський чоловічий монастир. Навколо села багато гарних озер. Чекають на тих, хто бажає напоїти душу трунком лугів, лісів і напитися джерельної води. Приїзджайте – не пошкодуєте.</p>




