<p class="info">Білінець
    Галина Данилівна
</p>
<p class="info">Ковельський район</p>
<p class="info">0685246751</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує для відпочиваючих 2 одномісні кімнати.</p>
    <p>Туалет на вулиці. Є літня кухня.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, дивитись телевізор.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Господиня пропонує за бажанням навчити вишиванню і  в’язанню.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, навчитися верховій їзді.</p>





