<p class="info">Панасюк Тетяна Кіндратівна

</p>
<p class="info">Ківерцівський район</p>
<p class="info">(265)9-85-35</p>




<hr>
<p>Відчути себе в затишному домашньому куточку і просто відпочити Вам допоможуть в садибі "Батьківська оселя”.</p>
<p>Прогулянки лісом, збір ягід, грибів, лікарських трав, риболовля, полювання на диких качок. А скуштування домашньої випічки і консервування перенисуть Вас у далеке дитинство, коли матуся частувала своїми домшніми вишуканими і напрочуд простими стравами.</p>
<p>Вам запропонують екскурсії до Древнього Лучеська, Резиденції Радзивилів, Музею партизанської слави, де ви зможете відчути себе справжніми партизанами, побувавши в землянці, яка була викопана мозолистими руками вітчизняних патріотів.</p>
<p>Будинок з усіма зручностями, побудований з цегли, а біля нього росте прекрасний садок, який восени пригостить Вас яблуками, грушками, сливами.</p>
<p>Прийом гостей круглорічно.</p>
















