<p class="info">Борисюк
    Наталія Степанівна
</p>
<p class="info">Любешівський район</p>
<p class="info">0969561915</p>



<hr>
<p>Умови перебування та послуги:</p>
<p>Господиня пропонує 2 одномісних кімнати. Туалет в будинку або на подвір’ї. Можливість дивитися телевізор та користуватися кухнею, паркування машини у гаражі.</p>
<p>Господиня приймає відпочиваючих з дітьми. В господарстві є корова.</p>
<p>Господиня випікає домашній хліб і пропонує страви української кухні.</p>
<p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні.</p>
<p>Медична допомога (медпункт) знаходиться на відстані 3 км.</p>














