<p class="info">Бернацький Петро Петрович</p>
<p class="info">Ковельський район</p>
<p class="info">0502641702</p>


<hr>
<p>Садиба Петра Петровича - ошатний будинок із зручним місцем для парковки автомобілів. До послуг відпочиваючих – сауна (з "фінською", "російською" парою), басейн, кімната для відпочинку, більярдна, тренажерний міні-зал. Вам запропонують відпочинок біля фонтану, є місце для приготування юшки, шашликів. У міні-барі можна приємно відпочити, поспілкуватись, провести вільний час за чашкою кави. Запропонують гостям смачну вечерю. Інтер’єр приміщення облаштований у стародавньому стилі.</p>






