<p class="info">Микитюк
    Ганна Ігорівна

</p>
<p class="info">Турійський  район</p>
<p class="info">0336321357 </p>
<p class="info">0336321810 </p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує кімнати на 14 місць. Планується будівництво бази відпочинку на 34 місця (сауна, туалет).</p>
    <p>Можливість користуватися кухнею, паркування машин на стоянці.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є конеферма та пасіка. Господиня пропонує страви домашньої кухні.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні, катання на конях (отримати уроки верхової їзди), збирати гриби і ягоди, а також пропонує екскурсії.</p>








































