<p class="info">Лесик
    Тетяна Миколаївна
</p>
<p class="info">Маневицький  район</p>
<p class="info">(03376)3-21-90</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує: 1 кімнату в будинку. Туалет в будинку, є душ, ванна.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), дворазове харчування  35 грн., триразове харчування  - 40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість ходити по гриби.</p>
    <p>Медична допомога знаходиться на відстані 200 м, а переговорний пункт знаходиться на відстані 500 м.</p>





























