<p class="info">Ілюшин
    Світлана Матвїівна


</p>
<p class="info">Ковельський район</p>
<p class="info">(03352)3-31-09</p>



<hr>
           <p>Умови перебування та послуги:</p>
           <p>Господиня пропонує для відпочиваючих кімнати. Туалет в квартирі .</p>
           <p>Можливість користуватися кухнею, пральною машиною, дивитись телевізор.</p>
           <p>В господарстві є корова, порося, домашня птиця.</p>
           <p>Відпочиваючі мають можливість добре відпочити.</p>











