<h1>
	Правління та контакти
</h1>

<div class="body">

	<h2>
		ВСЕУКРАЇНСЬКА ГРОМАДСЬКА НЕПРИБУТКОВА ОРГАНІЗАЦІЯ
	</h2>
	<h3>
		Спілка сприяння розвитку сільського зеленого туризму в Україні
	</h3>
	<h3>
		(Спілка СЗТ України)
	</h3>
		<img src="./resourses/kontakty/imgs/1.jpg" width="256" height="300">
		<p>Почесний голова</p>
		<p>законодавче регулювання діяльності в сфері сільського зеленого туризму</p>
		<p>Товт Михайло Михайлович</p>
		<p>Інститут держави і права ім. В.М. Корецького НАН України, відділ міжнародного права та порівняльного правознавства</p>
		<p>старший науковий співробітник, кандидат юридичних наук.</p>
		<p>+38 050 6652506;  E-mail: tothmihaly@meta.ua</p>
		<p>м. Київ,</p>
		<p>(угор., рос., укр.)</p>

	<img src="./resourses/kontakty/imgs/2.jpg" width="256" height="300">
	<p>Голова правління</p>
	<p>Васильєв Володимир Павлович</p>
	<p>головний редактор науково-популярного журналу «Туризм сільський зелений»</p>
	<p>експерт-дорадник з розвитку сільських територій, маркетингу та сільського туризму.</p>
	<p>м.Київ, 04209, а/с 4</p>
	<p>+38 044 223-38-17, vgt951@gmail.com</p>
	<p>м.Київ</p>
	<p>(укр., рос.)</p>

		<img src="./resourses/kontakty/imgs/3.jpg" width="256" height="250">
		<p>Заступник голови правління</p>
		<p>організаційно-правові питання функціонування Спілки, куратор регіональних осередків Західної України</p>
		<p>Зінько Юрій Володимирович</p>
		<p>Львівський національний університет імені Івана Франка, географічний факультет</p>
		<p>Науковий співробітник Лабораторії інженерно-географічних, природоохоронних і туристичних досліджень</p>
		<p>вул. П.Дорошенка, 41, кімн.39, м. Львів, 79000роб. тел. + 38 (032) 2394628; моб. + 38 050 9598847; факс +38 (032) 272-26-44 E-mаil:  o_shevchuk@franko.lviv.ua ; oks.shevchuk@gmail.com</p>
		<p>м.Львів</p>
		<p>(укр., рос., польс., фран.)</p>

	<img src="./resourses/kontakty/imgs/4.jpg" width="256" height="300">
	<p>Заступник голови правління</p>
	<p>маркетинг сільського зеленого туризму у Східних областях України</p>
	<p>Шашкова Тетяна Іванівна</p>
	<p>ген.директор регіонального фонду підтримки підприємництва по Донецькій області,</p>
	<p>голова  правління Донецької обласної  громадської організації "Взаємодія"</p>
	<p>+38  050-543-26-21, +38  062-385-38-89</p>
	<p>mailto:shashkova@dn.farlep.net</p>
	<p>http://www.rfppdn.org.ua/</p>
	<p>http://www.ngovz.com.ua/</p>
	<p>http://www.greendon.info/</p>
	<p>https://www.facebook.com/profile.php?id=100001803460294&ref=tn_tnmn</p>
	<p>м.Донецьк</p>
	<p>(рос. укр.)</p>

	<p>Члени правління:</p>

		<img src="./resourses/kontakty/imgs/5.jpg" width="256" height="300">
		<p>Менеджмент та якість послуг у сфері сільського зеленого туризму</p>
		<p>Програма "Українська гостинна садиба"</p>
		<p>Горішевський Павло Анатолійович</p>
		<p>+38 096 592 45 46, vgt7@i.ua</p>
		<p>м.Івано-Франківськ</p>
		<p>(укр., рос., польс.)</p>

	<img src="./resourses/kontakty/imgs/6.jpg" width="256" height="250">
	<p>Менеджмент та екологічна сертифікація у сфері сільського зеленого туризму</p>
	<p>Програма "Зелена садиба"</p>
	<p>Триліс Володимир Васильович</p>
	<p>Старший науковий співробітник Інституту гідробіології НАН України, канд.біол.наук,</p>
	<p>експерт-дорадник з розвитку сільських територій, маркетингу та сільського туризму.</p>
	<p>+38 050 603 95 49, trylis@rambler.ru</p>
	<p>м.Київ</p>
	<p>(укр., рос., англ.)</p>

		<img src="./resourses/kontakty/imgs/7.jpg" width="235" height="280">
		<p>Зв'язки з владою, громадськістю, засобами масової інформації та міжнародними фондами</p>
		<p>Забуранна Леся Валентинівна</p>
		<p>доктор економічних наук, професор кафедри менеджменту імені проф. Й.С. Завадського Національного університету біоресурсів і природокористування України</p>
		<p>тел. +38 (096)260-65-75, e-mail: alesenka2003@ukr.net</p>
		<p>м.Київ</p>

	<img src="./resourses/kontakty/imgs/8.jpg" width="256" height="300">
	<p>Консультант з юридичних питань</p>
	<p>Гафурова Олена Вікторівна</p>
	<p>доктор юридичних наук, доцент кафедри аграрного, земельного та екологічного права імені академіка В.З. Янчука Національного університету біоресурсів і природокористування України</p>
	<p>тел. +38 (067)776-31-72, e-mail: lllena@rambler.ru</p>
	<p>м.Київ</p>

		<img src="./resourses/kontakty/imgs/9.jpg" width="256" height="300">
		<p>Cекретар правління.</p>
		<p>Комунікації з членами правління, місцевими осередками та членами Спілки</p>
		<p>Пугач Наталія Анатоліївна</p>
		<p>Аспірант Національного університету біоресурсів та природокориcтування Україні, кафедра аграрного консалтингу та сервісу</p>
		<p>+38 097 499 58 27, rural.green.life@gmail.com</p>

	<img src="./resourses/kontakty/imgs/10.jpg" width="256" height="300">
	<p>Заступник головного редактора журналу «Туризм сільський зелений»</p>
	<p>експерт-дорадник з розвитку сільських територій та маркетингу сільського туризму</p>
	<p>Наталія Борисенко</p>
	<p>м.Київ</p>
	<p>+38 063 614 22 57, nva@greentour.com.ua</p>
	<p>( укр., рос.,анг.)</p>

		<img src="./resourses/kontakty/imgs/11.jpg" width="256" height="300">
		<p>Менеджер по комунікаціях з іноземними партнерами</p>
		<p>Оксана Пугач</p>
		<p>Студентка Київського національного університету імені Тараса Шевченка , Інститут міжнародних відносин</p>
		<p>+38 093 145 73 10, okspugach@gmail.com</p>
		<p>(укр., рос., англійська)</p>
</div>