<p class="info">Наташа
    Сергій


</p>
<p class="info">Шацький район</p>
<p class="info">0501805366 </p>
<p class="info">0983542808 </p>



<hr>
    <p>До озера 50 м;</p>
    <p>велика гарна територія; зручне розміщення – поруч ринок, магазини.кафе, через дорогу-озеро, поряд центральна дорога, можливе харчування;</p>
    <p>альтанки, бесідки з мангалами, дитячі розваги, що забезпечує комфортний відпочинок навіть в непогоду;</p>
    <p>автостоянка.</p>
    <p>Опис:</p>
    <p>Ця садиба підходить для сімейного, індивідуального відпочинку, для гарних компаній. Необхідні умови для корпоративного відпочинку, а господарі подбають про те, щоб відпочинок в «Гостинному подвір'ї» був приємним та комфортабельним.</p>
    <p>Проживання:</p>
    <p>Удвох, трьох та чотирьхмісних номерах. В кожному номері – холодильник, телевізор. Ціна за домовленістю. Є обладнана кухня для приготування їжі самостійно.</p>
    <p>Харчування:</p>
    <p>За домовленістю – здорове харчування з місцевих продуктів, сільське харчування.</p>
    <p>Послуги:</p>
    <p>Включено у вартість: прибирання номерів і заміна білизни за необхідністю, альтанки, бесідки, мангали, автостоянка, кухня. За окрему плату – екскурсії – прокат велосипедів – оренда човна.</p>












