<p class="info">Скумич Віктор Феодосійович
    Сергій


</p>
<p class="info">Шацький район</p>
<p class="info">0677525543 </p>
<p class="info">0679610005 </p>



<hr>
    <p>Комфортабельний котедж, кухня, 2 кімнати для відпочинку з телевізором,</p>
    <p>на 1 поверсі: два 3-місних номера.</p>
    <p>На 2 поверсі: один 2-містний і два 3-місних номера.</p>
    <p>Туалет і душ (з гарячою і холодною водою цілодобово) на кожному поверсі.</p>
    <p>Паркова а/м на території.</p>
    <p>Харчування В будинку є прекрасно оснащена кухня (з меблями, посудом, плиткою, холодильниками м\х піч).</p>
    <p>До послуг відпочиваючих: Бесідка 3*3 , мангал.</p>
    <p>Ціни:2-містний номер – 150 грн.(без харчування), 3-містний номер – 200 грн. (без харчування), оренда будинку – 900 грн. Зручна форма оплати (безготівковий та готівковий розрахунок). Будинок розрахований на 14 осіб.</p>












