<h1>
	Положення
</h1>


	<div class="body">

		<p>ЗАТВЕРДЖЕНО</p>
		<p>правлінням ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні"</p>
		<p>протокол № 46 від 6 травня 2008 року</p>
		<p>Зміни та доповнення внесені</p>
		<p>правлінням  ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні"</p>
		<p>протокол № 1  від 31 січня 2013  року</p>

		<h3>Програма</h3>
		<h3>добровільної категоризації у сфері сільського зеленого туризму «Українська гостинна садиба»</h3>

		<p>Мета: розвиток різних форм поселення у сільських садибах, підвищення якості комплексного обслуговування туристів, надаваних послуг розміщення та сприяння розвитку сільських територій в Україні.</p>
	<ol>
			<li>Загальні положення.</li>

			<p>Підготовку Програми добровільної категоризації у сфері сільського зеленого туризму «Українська гостинна садиба» (далі – «Програма») та категоризаційних вимог здійснено на підставі закону України "Про туризм", міждержавних стандартів на туристично-екскурсійне обслуговування та аналогічних стандартів країн-членів Європейської федерації сільського та фермерського туризму EUROGITES (Австрії, Ірландії, Німеччини, Польщі, Угорщини, Швеції, Швейцарії, Чехії).</p>
			<p>Вимоги добровільної категоризації розроблені відповідно до вимог ДСТУ 4268:2003 “Послуги туристичні. Засоби розміщення. Загальні вимоги”, нормативних документів та основних стандартів щодо індивідуальних та колективних не готельних засобів розміщення європейських країн та України.</p>
			<li>Сфера застосування</li>

			<p>Програма застосовується з метою добровільної категоризації індивідуальних та колективних  не готельних засобів розміщення.</p>
			<p>Програма поширюється на індивідуальні та колективні не готельні засоби розміщення, власники яких є членами Го "Спілка сприяння розвитку сільського зеленого туризму в Україні", а також на тих власників засобів розміщення хто не є членами даної організації та добровільно об’єднуються у мережу «Українська гостинна садиба».</p>
			<p>Програма встановлює вимоги до різних категорій засобів розміщення сільського туризму та порядок їх присвоєння. Вимоги Програми застосовують до суб'єктів господарювання, що надають послуги індивідуальних та колективних не готельних засобів розміщення.</p>


			<li>Нормативні посилання</li>

		<p>При розробці даної Програми враховані наступні нормативно-законодавчі акти:</p>
		<ol>
			<li>Закон України “Про туризм”, №324/95  від 15.09. 1995 р.</li>
			<li>Закон України “Про особисте селянське господарство”, №742 від 15.05.2003 р.</li>
			<li>Закон України «Про захист персональних даних», №2297 від 01.06.2010 р.</li>
			<li>Постанова КМУ «Про затвердження порядку надання послуг з тимчасового розміщення (проживання)», №297 від 15.03.2006 р.</li>
			<li>Постанова КМУ «Про затвердження Порядку здійснення рятувальних заходів на об'єктах туристичних відвідувань»,  №507 від 27.05.2009 р.</li>
			<li>Наказ Держтурадміністрації і Держкомстату «Про затвердження Методики розрахунку обсягів туристичної діяльності», №142/394 від 12.11.2003 р.</li>
			<li>ГОСТ 12.1.003-83 ССБТ. Шум. Общие требования безопасности.</li>
			<li>ГОСТ 12.1.036-81 ССБТ. Шум. Допустимые уровни в жилых помещениях и общественных зданиях.</li>
			<li>ГОСТ 12.1.004-91 ССБТ. Пожарная безопасность. Общие требования.</li>
			<li>ГОСТ 17.1.3.13-86 Охрана природы. Гидросфера. Общие требования к охране поверхностных вод от загрязнения.</li>
			<li>ГОСТ 2874-82 Вода питьевая. Гигиенические требования и контроль за качеством.</li>
			<li>ГОСТ 28681.1-95 "Туристско-экскурсионное обслуживание. Проектирование туристских услуг".</li>
			<li>ГОСТ 28681.2-95 Туристско-экскурсионное обслуживание. Туристские услуги. Общие требования.</li>
			<li>ГОСТ 28681.3-95 Туристско-экскурсионное обслуживание. Требования по обеспечению безопасности туристов и экскурсантов.</li>
			<li>ГОСТ 30523-97 Услуги общественного питания. Общие требования.</li>
			<li>ДБН 360-92 Містобудування. Планування і забудова міських і сільських поселень.</li>
			<li>ДБН В.2.2-9-99 Будинки і споруди. Громадські будинки та споруди. Основні положення.</li>
			<li>ДСТУ 4268:2003 “Послуги туристичні. Засоби розміщення. Загальні вимоги”.</li>
			<li>ДСТУ 4269:2003 “Послуги туристичні. Засоби розміщення. Класифікація готелів”.</li>
			<li>ДСТУ 4527:2006 “Послуги туристичні. Засоби розміщення. Терміни та визначення”.</li>
			<li>СНиП 2.04.01 - 85 Внутренний водопровод и канализация зданий.</li>
			<li>СНиП 2.04.05-91 Отопление, вентиляция и кондиционирование.</li>
			<li>СНиП 11-12-77 Санитарные нормы и правила. Защита от шума.</li>
			<li>СНиП 23-05-95 Естественное и искусственное освещение.</li>
			<li>Оцінювальна система стандартів якості послуг у сільському туризмі, прийнята у 2005 році організацією Eurogites.</li>
		</ol>

			<li> Порядок здійснення добровільної категоризації
				<ol>
			<p>Категоризація засобів розміщення здійснюється у добровільному порядку за заявою власника засобу розміщення (Додаток №1) до Комісії з категоризації у сфері сільського туризму «Українська гостинна садиба» Спілки сприяння розвитку сільського зеленого туризму в Україні, яка діє на підставі затвердженого Положення про її діяльність.</p>
			<p>До заяви господар додає анкету садиби сільського зеленого туризму (Додаток №2).</p>
			<p>Після узгодження термінів та інших організаційних питань експерт-консультант з категоризації проводить категоризацію засобу розміщення з обовязковим наданням консультацій та порад його власнику.</p>
			<p>Після завершення роботи експерт-консультант подає в Комісію по категоризації  заповнений та підписаний протокол вимог програми «Українська гостинна садиба» (Додаток №3).</p>
			<p>Для отримання знаку базового рівня садиба має відповідати всім вимогам, позначеним у категорії “Б” (120 пунктів).  Для отримання сертифікату першого рівня садиба має  відповідати 90% вимогам, позначеним у категорії “1” (108 пунктів), другого рівня  - 90% вимогам, позначеним у категорії “2”(108 пунктів), третього рівня – 90% вимогам, позначених у категорії “3”(108 пунктів).</p>
			<p>Експерт-консультант  з категоризації – це фахівець, який має практичний досвід, пройшов відповідну підготовку та має діюче посвідчення, яке завірено печаткою ГО "Спілка сприяння розвитку сільського зеленого туризму Україні"</p>
			</li>
				</ol>
	</ol>
		<p>Голові Комісії з категоризації у сфері сільського туризму «Українська гостинна садиба»  Спілки сприяння розвитку сільського зеленого туризму в Україні від ____________________________</p>

		<p>який(а) проживає:</p>

		<p>вулиця_________________________</p>
		<p>село ___________________________</p>
		<p>район___________________________</p>
		<p>область_________________________</p>
		<p>поштовий індекс__________________</p>
		<p>тел._____________________________</p>
		<p>e-mail:___________________________</p>

		<h5>
			Заява
		</h5>
		<p>Прошу провести категоризацію житлового будинку в межах моєї садиби та ввести її у перелік таких, що входять у всеукраїнську мережу «Українська гостинна садиба».</p>
		<p>Анкета про житло, яке надається у користування туристам і відпочиваючим, додається.</p>
		<p>Дата                                                                                      Підпис</p>
		<p>Додаток №2</p>

		<h5>
			А Н К Е Т А
		</h5>
		<h5>
			садиби сільського зеленого туризму
		</h5>
		<p>Власна назва гостинної садиби</p>
		<p>українською________________________________________________________________</p>
		<p>російською_________________________________________________________________</p>
		<p>англійською_________________________________________________________________</p>
		<p>П.І.Б власника</p>
		<p>українською_________________________________________________________________</p>
		<p>російською _________________________________________________________________</p>
		<p>англійською_________________________________________________________________</p>
		<p>Поштова  адреса (індекс), телефон (код), e-mail, сайт</p>
		<p>українською_________________________________________________________________</p>
		<p>російською _________________________________________________________________</p>
		<p>англійською_________________________________________________________________</p>
		<p>Характеристика житлового будинку (підкреслити):</p>
		<p>рік забудови__________________</p>
		<p>побудований з цегли, дерева, ракушняку інше _________________________________</p>
		<p>кількість поверхів_____________</p>
		<p>вода: стаціонарна у домі, колонка, колодязь</p>
		<p>кухня: газова, електрична плита, піч, камін, літня кухня</p>
		<p>вхід до будинку: окремий / спільний з господарями</p>
		<p>Зареєстрований(а): як ФО-СПД,  як особисте селянське господарство, як ТзОВ (підкреслити):</p>
		<p>Де проходив(ла) навчання або стажування по цій темі______________________________</p>
		<p>Маю сертифікати:</p>
		<p>Програми «Українська гостинна садиба» ______ рівня. Дійсний до ________________</p>
		<p>Програми “Зелена садиба”   ____   рівня.   Дійсний до   _____________________</p>
		<p>Інші сертифікати__________________________________________________________</p>
		<p>Господар/господиня майстри народних промислів:</p>
		<p>яких саме____________________________________</p>
		<p>Період, коли можу  приймати відпочиваючих: від________________до_________________</p>
		<p>Відпочиваючим надаватимуться:</p>
		<p>окремі кімнати:               одномісні      ______площею___________м2</p>
		<p>двомісні      ______ площею___________м2</p>
		<p>тримісні      ______ площею___________м2</p>
		<p>окремий будинок, котедж        Всього місць  _______</p>

		<p>санітарні місця: туалет в будинку, туалет на вулиці, ванна, душ, сауна (баня) (підкреслити):</p>
			<ol>

				<li>можна користуватися кухнею для приготування їжі	так / ні</li>
				<li>можна паркувати автомобіль у гаражі   	так / ні</li>
				<li>можна привозити домашню тварину	так / ні</li>
				<li>можна користуватися пральною машиною	так / ні</li>
				<li>можна перебувати з дітьми   	так / ні</li>
				<li>можна дивитися телевізор   	так / ні</li>
				<li>можна користуватися холодильником 	так / ні</li>
				<li>можна користуватися телефоном 	так / ні</li>
				<li>можна користуватися Інтернетом	так / ні</li>
			</ol>

		<p>у господарстві є:	так / ні</p>
			<ol>
				<li>пасіка   	так / ні</li>
				<li>корова     	так / ні</li>
				<li>коза  	так / ні</li>
				<li>вівці	так / ні</li>
				<li>порося	так / ні</li>
				<li>домашнья птиця   	так / ні</li>
				<li>господиня випікає хліб     	так / ні</li>
				<li>господиня знає іноземну мову	так / ні</li>
			</ol>

		<p>Віддаленість від садиби:</p>
			<ol>

			<li>автобусна (залізнична) станція 	____км.</li>
			<li>медична допомога   	____км.</li>
			<li>музей, історичні пам’ятки	____км.</li>
			<li>ресторан, кафе, бар   	____км.</li>
			<li>магазин, базар   	____км.</li>
			<li>переговорний пункт, пошта  	____км.</li>
			<li>можливість їздити на конях     	____км.</li>
			<li>можливість полювати 	____км.</li>
			<li>можливість ловити рибу	____км.</li>
			<li>можливість купатися	____км.</li>
			<li>можливість покататися у човні	____км.</li>
			<li>можна кататися на велосипеді	____км</li>
			<li>можна кататися на лижах	____км</li>
		<p>інші пропозиції _____________________________________________</p>
			</ol>

		<p>Є  членом Спілки сприяння розвитку сільського зеленого туризму в Україні?                так / ні</p>
		<p>Ціни:   	зима	літо	у міжсезоння</p>
			<ol>
				<li>Ліжко /1 ніч/1 особа/	 	 	 	грн.</li>
				<li>Окремий будинок	 	 	 	грн</li>
				<li>Сніданок	 	 	 	грн.</li>
				<li>Дворазове харчування	 	 	 	грн.</li>
				<li>Триразове харчування	 	 	 	грн.</li>
			</ol>

		<p>Короткий опис запрошення від господаря:</p>
			<ol>
				<li>українською</li>
				<li>російською</li>
				<li>англійською (за бажанням)</li>
			</ol>
		<p>Не заперечую щодо розміщення моїх даних (прізвище, ім`я, по батькові, контактна адреса, телефони та інша інформація, яка стосується мене та розвитку сільського зеленого туризму) в друкованих та електронних носіях, які поширює Спілка сприяння розвитку сільського зеленого туризму в Україні.</p>
		<p>Підпис господаря                                                                                         Дата</p>
		<p>Додаток №3</p>
		<h5>
			Протокол
		</h5>
		<h5>
			вимог Програми добровільної категоризації у сфері сільського зеленого туризму
		</h5>
		<h5>
			«Українська гостинна садиба»
		</h5>
		<p>Результати категоризації садиби (індивідуального місця розміщення)_ ________________________</p>
		<p>П.І.Б власника________________________________________________________________________</p>
		<p>розташованої за адресою:</p>
		<p>вул. _________________________________________________________________________________</p>
		<p>село  _________________________________________________________________________________</p>
		<p>району  ______________________________________________________________________________</p>
		<p>області _______________________________________________________________________________</p>
		<p>Контакти власника садиби (тел. та e-mail)______________________________________________________________</p>
		<p>Позначати через дріб: вимога / факт</p>

	<table>
		<thead>
			<th>№з/п</th>
			<th>ВИМОГА</th>
			<th colspan="3"> КАТЕГОРІЯ</th>
			<th> </th>
		</thead>
		<tbody>
		<tr>
			<td>  </td>
			<td>  </td>
			<td> Б </td>
			<td> 1 </td>
			<td> 2 </td>
			<td> 3 </td>
		<tr>
			<td> 1 </td>
			<td> Садиба, благоустрій території </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 2 </td>
			<td> Приміщення загального користування </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 3 </td>
			<td> Загальне технічне обладнання </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 4 </td>
			<td> Вимоги до житлового фонду </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 5 </td>
			<td> Технічна оснащеність кімнат </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 6 </td>
			<td> Оснащеність кімнат меблями та інвентарем </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 7 </td>
			<td> Санітарні приміщення </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 8 </td>
			<td> Приміщення для надання послуг харчування і додаткові приміщення для надання послуг </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 9 </td>
			<td> Послуги </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 10 </td>
			<td> Вимоги до персоналу та його підготовленості </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
		<tr>
			<td> 11 </td>
			<td> Вимоги до охорони навколишнього середовища </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>
			<td>  </td>

		</tr>
		</tbody>

	</table>
		<br>
	<table>
		<thead>
		<th>№з/п</th>
		<th>ВИМОГА</th>
		<th colspan="3"> КАТЕГОРІЯ</th>
		<th> </th>
		</thead>
		<tbody>
		<tr>
			<td> I </td>
			<td> Садиба, благоустрій території</td>
			<td> Б </td>
			<td> 1 </td>
			<td> 2 </td>
			<td> 3 </td>

		</tr>
		<tr>
			<td> 1 </td>
			<td>Наявність світлової вивіски </td>
			<td> - </td>
			<td> - </td>
			<td> + </td>
			<td> + </td>

		</tr>
		<tr>
			<td> 2 </td>
			<td> Наявність знаку «Українська гостинна садиба» </td>
			<td>  +</td>
			<td>  +</td>
			<td> + </td>
			<td> + </td>

		</tr>
		<tr>
			<td> 3 </td>
			<td>Наявність окремого входу для гостей </td>
			<td> - </td>
			<td> + </td>
			<td> + </td>
			<td> + </td>

		</tr>
		<tr>
			<td> 4 </td>
			<td> Декоративне і (або) огороджувальне озеленення території</td>
			<td>  +</td>
			<td> + </td>
			<td>  +</td>
			<td>  +</td>

		</tr>
		<tr>
			<td>5  </td>
			<td>
				Місце для паркування автомобіля на території садиби </td>
			<td> - </td>
			<td>  -</td>
			<td> - </td>
			<td> + </td>

		</tr>
		<tr>
			<td> 6 </td>
			<td> Наявність гаражу для паркування</td>
			<td>  -</td>
			<td> + </td>
			<td> + </td>
			<td> + </td>

		</tr>
		<tr>
			<td> 7 </td>
			<td> Обладнане місце для відпочинку поза межами будинку (альтанка, колиба, зона відпочинку під тентом тощо) зі столом та місцями для сидіння</td>
			<td> + </td>
			<td>  +</td>
			<td> + </td>
			<td> + </td>

		</tr>
		<tr>
			<td> 8 </td>
			<td> Спеціально обладнане місце для приготування страв на відкритому вогні</td>
			<td> - </td>
			<td> - </td>
			<td> + </td>
			<td> + </td>

		</tr>
		<tr>
			<td> 9 </td>
			<td>Дитячий ігровий майданчик </td>
			<td>  -</td>
			<td>  -</td>
			<td> + </td>
			<td> + </td>

		</tr>
		<tr>
			<td>10  </td>
			<td>Баня/сауна </td>
			<td>-  </td>
			<td> - </td>
			<td> - </td>
			<td> + </td>

		</tr>
		<tr>
			<td>11  </td>
			<td>Басейн </td>
			<td> + </td>
			<td>  -</td>
			<td> + </td>
			<td> + </td>

		</tr>
		</tbody>
	</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" valign="middle">&nbsp;№</td>
				<td >
					<p align="center">ВИМОГА&nbsp;</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle"><strong>ІІ</strong></td>
				<td valign="middle">
					<p><strong>Приміщення загального користування</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">12</p>
				</td>
				<td >
					<p>Обладнання та меблі відповідають функціональному призначенню приміщення</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">13</p>
				</td>
				<td >
					<p>Вітальня, що виконує функцію рецепції та зони відпочинку, має мінімальну площу 10 м2</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">14</p>
				</td>
				<td >
					<p>Вітальня, що виконує функцію рецепції, має мінімальну площу 10 м2</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">15</p>
				</td>
				<td >
					<p>Вітальня оснащена меблями (крісла, дивани, стільці, столи, журнальні столики)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">16</p>
				</td>
				<td >
					<p>Оздоблення підлоги та стін зі штучних та натуральних матеріалів</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">17</p>
				</td>
				<td >
					<p>Оздоблення підлоги та стін з натуральних матеріалів</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">18</p>
				</td>
				<td >
					<p>Декоративне оформлення інтер’єру приміщення картинами, виробами декоративно-ужиткового мистецтва тощо</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">19</p>
				</td>
				<td >
					<p>Живі квіти та декоративні рослини</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">20</p>
				</td>
				<td >
					<p>Штучне освітлення не менше ніж 10 Вт/м2</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">21</p>
				</td>
				<td >
					<p>Штучне освітлення не менше ніж 15 Вт/м2 Освітлювальні прилади гармонують із загальним стилем
						приміщення</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">22</p>
				</td>
				<td >
					<p>Наявність килимів або килимового покриття у зоні відпочинку та у коридорах</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">23</p>
				</td>
				<td >
					<p>Інформація для туристів (інформаційно-рекламна, природоохоронна, етнографічно-культурна, рятувальної
						служби)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">24</p>
				</td>
				<td >
					<p>Наявність окремої загальної кімнати відпочинку на кожному поверсі</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">25</p>
				</td>
				<td >
					<p>Можливість переглядання телепередач у загальній кімнаті відпочинку</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">26</p>
				</td>
				<td >
					<p>Доступ до Інтернету</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">27</p>
				</td>
				<td >
					<p>Можливість користуватися холодильником</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" valign="middle">&nbsp;№</td>
				<td >
					<p align="center">ВИМОГА&nbsp;</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle"><strong>ІІІ</strong></td>
				<td valign="middle">
					<p><strong>Загальне технічне обладнання</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">28</p>
				</td>
				<td >
					<p>Наявність аварійного освітлення (ліхтарі, акумулятори)</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">29</p>
				</td>
				<td >
					<p>Резервуар для запасу води щонайменше на 1 добу</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">30</p>
				</td>
				<td >
					<p>Забезпечення підігріву води мінімум 2 години вранці та ввечері</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">31</p>
				</td>
				<td >
					<p>Постійне цілодобове гаряче та холодне водопостачання</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">32</p>
				</td>
				<td >
					<p>Кондиціювання приміщень спільного використовування, або використання інших систем чи обладнання з
						можливістю забезпечення заміни повітря та дотримання температурного режиму від 18 до 22 оС і вологості
						від 45% до 60%</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">33</p>
				</td>
				<td >
					<p>Опалювання приміщень окремими приладами або центральне опалення</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">34</p>
				</td>
				<td >
					<p>Телефон у будинку, доступний для туристів, у тому числі, для екстрених дзвінків</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" valign="middle">№&nbsp;</td>
				<td >
					<p align="center">ВИМОГА&nbsp;</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle"><strong>IV</strong></td>
				<td valign="middle">
					<p><strong>Вимоги до житлового фонду</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">35</p>
				</td>
				<td >
					<p>Одно -, двомісних кімнат не менше</p>
				</td>
				<td>
					<p align="center">30%</p>
				</td>
				<td>
					<p align="center">60%</p>
				</td>
				<td>
					<p align="center">80%</p>
				</td>
				<td>
					<p align="center">100%</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">36</p>
				</td>
				<td >
					<p>Мінімальна житлова площа однокімнатної одномісної спальні (без площі балкона, лоджії, санвузла та
						коридору) м2</p>
				</td>
				<td>
					<p align="center">6&nbsp;</p>
				</td>
				<td>
					<p align="center">8&nbsp;</p>
				</td>
				<td>
					<p align="center">9&nbsp;</p>
				</td>
				<td>
					<p align="center">10&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">37</p>
				</td>
				<td >
					<p>Мінімальна житлова площа однокімнатної двомісної спальні (без площі балкона, лоджії, санвузла та
						коридору) м2</p>
				</td>
				<td>
					<p align="center">8&nbsp;</p>
				</td>
				<td>
					<p align="center">10&nbsp;</p>
				</td>
				<td>
					<p align="center">12</p>
				</td>
				<td>
					<p align="center">14&nbsp;</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">38</p>
				</td>
				<td >
					<p>Мінімальна житлова площа однокімнатної тримісної спальні (без площі балкона, лоджії, санвузла та
						коридору) м2</p>
				</td>
				<td>
					<p align="center">10&nbsp;</p>
				</td>
				<td>
					<p align="center">14&nbsp;</p>
				</td>
				<td>
					<p align="center">16&nbsp;</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">39</p>
				</td>
				<td >
					<p>Мінімальна житлова площа однокімнатної чотиримісної спальні (без площі балкона, лоджії, санвузла та
						коридору) м2</p>
				</td>
				<td>
					<p align="center">12&nbsp;</p>
				</td>
				<td>
					<p align="center">16&nbsp;</p>
				</td>
				<td>
					<p align="center">18&nbsp;</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">40</p>
				</td>
				<td >
					<p>Для кімнат, у яких кількість ліжок більше чотирьох, до площі чотиримісної спальні додається на кожне
						наступне ліжко мінімум 5 м2 (якщо ліжка двоярусні – 9,5&nbsp;м2)</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">41</p>
				</td>
				<td >
					<p>Кондиціювання житлових приміщень або використання інших систем чи обладнання з можливістю забезпечення
						заміни повітря та дотримання температурного режиму від 18 до 22 оС і вологості від 45% до 60%</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">42</p>
				</td>
				<td >
					<p>Мінімальна висота кімнати (см)</p>
				</td>
				<td>
					<p align="center">210</p>
				</td>
				<td>
					<p align="center">210</p>
				</td>
				<td>
					<p align="center">220</p>
				</td>
				<td>
					<p align="center">240</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">43</p>
				</td>
				<td >
					<p>Мінімальна площа вільної підлоги з розрахунку на одного проживаючого (м2)</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
					<p align="center">2,5&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
					<p align="center">2,5&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
					<p align="center">2,75&nbsp;</p>
				</td>
				<td>
					<p align="center">&nbsp;</p>
					<p align="center">3,00&nbsp;</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" valign="middle">&nbsp;№</td>
				<td >
					<p align="center">ВИМОГА&nbsp;</p>
				</td>
				<td colspan="3">
					<p>КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle"><strong>V</strong></td>
				<td valign="middle"><strong>Технічна оснащеність кімнат</strong></td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">44</p>
				</td>
				<td >
					<p>Замок з внутрішнім запобіжником</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">45</p>
				</td>
				<td >
					<p>Загальне освітлення</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">46</p>
				</td>
				<td >
					<p>Світильник (бра, торшер) біля кожного ліжка</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">47</p>
				</td>
				<td >
					<p>Настільна лампа</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">48</p>
				</td>
				<td >
					<p>Електричні розетки із зазначенням напруги.</p>
					<p>У кожній кімнаті у кількості не менше</p>
				</td>
				<td>
					<p align="center">1</p>
				</td>
				<td>
					<p align="center">1</p>
				</td>
				<td>
					<p align="center">2</p>
				</td>
				<td>
					<p align="center">3</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">49</p>
				</td>
				<td >
					<p>Радіоприймач</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">50</p>
				</td>
				<td >
					<p>Кольоровий телевізор</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">51</p>
				</td>
				<td >
					<p>Забезпеченість супутниковою антеною</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">52</p>
				</td>
				<td >
					<p>Телефон</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">53</p>
				</td>
				<td >
					<p>Холодильник</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td >№</td>
				<td>
					<p>ВИМОГА</p>
				</td>
				<td colspan="3">
					<p>КАТЕГОРІЯ</p>
				</td>
				<td></td>
			</tr>
			<tr>
				<td ><strong>VI</strong></td>
				<td ><strong>Оснащеність кімнат меблями та інвентарем</strong></td>
				<td>
					<p><strong>Б </strong></p>
				</td>
				<td>
					<p><strong>1 </strong></p>
				</td>
				<td>
					<p><strong>2 </strong></p>
				</td>
				<td>
					<p><strong>3 </strong></p>
				</td>
			</tr>
			<!--<tr>-->
				<!--<td >-->
					<!--<p>54</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>Мінімальні розміри односпального ліжка (см)</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>-</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>90х190</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>90х190</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>90х190</p>-->
				<!--</td>-->
			<!--</tr>-->
			<!--<tr>-->
				<!--<td >-->
					<!--<p>55</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>Мінімальні розміри двоспального ліжка (см)</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>-</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>140х190</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>140х190</p>-->
				<!--</td>-->
				<!--<td>-->
					<!--<p>140х190</p>-->
				<!--</td>-->
			<!--</tr>-->
			<tr>
				<td >
					<p>56</p>
				</td>
				<td>
					<p>Можливість забезпечення дитячим або розкладним додатковим ліжком (крісло-диван тощо)</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>57</p>
				</td>
				<td>
					<p>Допускається, у порядку винятку, оснащення номерів двоярусними ліжками, якщо висота кімнати становить мінімум 260 см, або відстань від ліжка другого ярусу до стелі становить не менше ніж 80см)</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>-</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>58</p>
				</td>
				<td>
					<p>Комплект постільних речей і білизни: дві подушки, суцільний матрац з наматрацником, ковдра, додаткова ковдра, покривало на ліжко, підковдра, простирадло, наволочки</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>59</p>
				</td>
				<td >
					<p>Килимок біля кожного ліжка за відсутності килима або килимового покриття підлоги</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>60</p>
				</td>
				<td>
					<p>Тумбочка біля кожного спального місця</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>61</p>
				</td>
				<td >
					<p>Вішалка для верхнього одягу та головних уборів</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>62</p>
				</td>
				<td>
					<p>Шафа для одягу з поличками і плічками</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>не</p>
					<p>2-х шт. на місце</p>
				</td>
				<td>
					<p>не</p>
					<p>3-х шт. на місце</p>
				</td>
				<td>
					<p>не</p>
					<p>4-х шт. на місце</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>63</p>
				</td>
				<td >
					<p>Стільці або інші меблі для сидіння не менше</p>
				</td>
				<td>
					<p>1</p>
				</td>
				<td>
					<p>2</p>
				</td>
				<td>
					<p>2</p>
				</td>
				<td>
					<p></p>
				</td>
			</tr>
			<tr>
				<td >
					<p>64</p>
				</td>
				<td >
					<p>М’які крісла для відпочинку (щонайменше 2 в кімнату) або м’який диван</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>65</p>
				</td>
				<td >
					<p>Стіл</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>66</p>
				</td>
				<td >
					<p>Письмовий стіл зі стільцем</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>67</p>
				</td>
				<td >
					<p>Вікна оснащені гардинами або жалюзі, що затемнюють приміщення та прозорими завісками</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>68</p>
				</td>
				<td >
					<p>Дзеркало у кімнаті</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>69</p>
				</td>
				<td >
					<p>Наявність щіток для одягу та взуття</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>70</p>
				</td>
				<td >
					<p>Склянки або чашки з розрахунку 1 на одну особу</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>71</p>
				</td>
				<td >
					<p>Набір посуду для чаю або кави</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>72</p>
				</td>
				<td >
					<p>Інформаційно-довідкові матеріали у кімнаті</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>-</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>73</p>
				</td>
				<td >
					<p>Інформаційно-довідкові матеріали у кімнаті (у тому числі іноземними мовами)</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>-</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			<tr>
				<td >
					<p>74</p>
				</td>
				<td >
					<p>Протипожежна інструкція та інструкція щодо дій в екстремальних умовах</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
				<td>
					<p>+</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" >№<br clear="all"></td>
				<td >
					<p align="center">ВИМОГА</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td align="center" ><strong>VII</strong></td>
				<td >
					<p><strong>Санітарні приміщення</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">75</p>
				</td>
				<td >
					<p>Кількість кімнат із повним санвузлом (умивальник, унітаз, ванна або душ)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">25%</p>
				</td>
				<td>
					<p align="center">80%</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">76</p>
				</td>
				<td >
					<p>Мінімальна площа санвузла з ванною (м2)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">3,8</p>
				</td>
				<td>
					<p align="center">4,2</p>
				</td>
				<td>
					<p align="center">4,5</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">77</p>
				</td>
				<td >
					<p>Мінімальна площа санвузла з душовою кабіною (м2)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">3,3</p>
				</td>
				<td>
					<p align="center">3,8</p>
				</td>
				<td>
					<p align="center">4,0</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">78</p>
				</td>
				<td >
					<p>Інвентар та предмети санітарно-гігієнічного оснащення санвузлів в кімнаті (мінімальний перелік для усіх
						категорій):</p>
					<p>- дзеркало над умивальником з освітленням;</p>
					<p>- електрична розетка з маркуванням напруги біля дзеркала на відстані кабелю фену чи
						ел./обритви;</p>
					<p>- поличка для туалетних речей;</p>
					<p>- завіски для ванни чи душу;</p>
					<p>- килимок на підлозі;</p>
					<p>- тримач для рушників, гачки для одягу;</p>
					<p>- склянка;</p>
					<p>- рушники на кожного гостя не менше ніж</p>
					<p>- банний рушник;</p>
					<p>- туалетне мило на кожного проживаючого;</p>
					<p>- туалетний папір;</p>
					<p>- тримач для туалетного паперу;</p>
					<p>- щітка для унітаза (у футлярі);</p>
					<p>- кошик для сміття з вогнетривкого матеріалу;</p>
					<p>- кришка до унітазу.</p>
				</td>
				<td>
					<p align="center"></p>
					<p align="center"></p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center">-</p>
					<p align="center"></p>
				</td>
				<td>
					<p align="center"></p>
					<p align="center"></p>
					<p align="center">+</p>
					<p align="center">1</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">1</p>
					<p align="center">2</p>
					<p align="center">1</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center"></p>
					<p align="center"></p>
					<p align="center">+</p>
					<p align="center">1</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">2</p>
					<p align="center">2</p>
					<p align="center">1</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center"></p>
				</td>
				<td>
					<p align="center"></p>
					<p align="center"></p>
					<p align="center">+</p>
					<p align="center">2</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">2</p>
					<p align="center">3</p>
					<p align="center">1</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">79</p>
				</td>
				<td >
					<p>Повний санітарний вузол загального користування у будинку або поруч з ним (не більше ніж на 10 осіб,
						включаючи членів сім’ї)</p>
					<p>Мінімальні вимоги до обладнання санітарних вузлів загального користування</p>
					<p>Туалети: туалетні кабіни, умивальник із дзеркалом, електрична розетка, туалетний папір, мило або дозатор
						рідкого мила, паперові серветки або електрорушники, гачки для одягу, кошики для сміття з вогнетривкого
						матеріалу.</p>
					<p>Ванні кімнати або душові: ванни або душові кабіни, туалетна кабіна, умивальник із дзеркалом та поличкою
						для туалетних речей, гачки для одягу, кошики для сміття з вогнетривкого матеріалу.</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">80</p>
				</td>
				<td >
					<p>Природна вентиляція санітарних вузлів</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">81</p>
				</td>
				<td >
					<p>Природна та примусова вентиляція санітарних вузлів</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">82</p>
				</td>
				<td >
					<p>Санітарний блок типу «вигрібна яма»</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">83</p>
				</td>
				<td >
					<p>Душ поза будинком</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" >&nbsp;№</td>
				<td >
					<p align="center">ВИМОГА</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center"><strong>VIII</strong></p>
				</td>
				<td >
					<p><strong>Приміщення для надання послуг харчування згідно з ГОСТ 30523 та додаткові приміщення для надання
						послуг</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">84</p>
				</td>
				<td >
					<p>Кухня для самостійного готування їжі, обладнана холодильником, газовою (електричною) плитою, або пічкою,
						придатною для готування їжі</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">85</p>
				</td>
				<td >
					<p>Відповідно обладнана їдальня (спільна з кухнею, загальною кімнатою)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" >
					<p align="center">86</p>
				</td>
				<td >
					<p>Відповідно обладнана їдальня (окрема від інших приміщень)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">87</p>
				</td>
				<td >
					<p>Кімната побутового обслуговування</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">88</p>
				</td>
				<td >
					<p>Камера схову</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" valign="middle">&nbsp;№</td>
				<td >
					<p align="center">ВИМОГА</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center"><strong>IX</strong></p>
				</td>
				<td valign="middle">
					<p><strong>Послуги</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">89</p>
				</td>
				<td >
					<p>Цілодобовий прийом</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">90</p>
				</td>
				<td >
					<p>Прибирання кімнати щоденно або за бажанням</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">91</p>
				</td>
				<td >
					<p>Прибирання санвузла щоденно</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">92</p>
				</td>
				<td >
					<p>Заправляння ліжок щоденно або за бажанням гостей</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">93</p>
				</td>
				<td >
					<p>Зміна постільної білизни один раз на 5 діб</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">94</p>
				</td>
				<td >
					<p>Зміна постільної білизни один раз на 3 доби</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">95</p>
				</td>
				<td >
					<p>Зміна постільної білизни щоденно або за бажанням</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">96</p>
				</td>
				<td >
					<p>Зміна рушників один раз на 3 доби</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">97</p>
				</td>
				<td >
					<p>Зміна рушників один раз на 2 доби</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">98</p>
				</td>
				<td >
					<p>Зміна рушників один раз на 1 добу або за бажанням</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">99</p>
				</td>
				<td >
					<p>Прання з поверненням білизни протягом 24 год.</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">100</p>
				</td>
				<td >
					<p>Надання можливості для прання в окремому приміщенні, обладнаному пральною машиною та із забезпеченням
						мийними засобами</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">101</p>
				</td>
				<td >
					<p>Прасування на першу вимогу</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">102</p>
				</td>
				<td >
					<p>Надання праски, прасувальної дошки на першу вимогу</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">103</p>
				</td>
				<td >
					<p>Зберігання багажу в окремому приміщенні (на прохання гостя)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">104</p>
				</td>
				<td >
					<p>Інформаційні послуги (туристична інформація, екскурсії, гіди-перекладачі тощо)</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">105</p>
				</td>
				<td >
					<p>Прокат спортивного та відпочинкового інвентарю</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">106</p>
				</td>
				<td >
					<p>Надання першої долікарської допомоги, виклик швидкої допомоги, користування аптечкою першої допомоги</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">107</p>
				</td>
				<td >
					<p>Послуги харчування. Надання сніданків</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p>108</p>
				</td>
				<td >
					<p>Харчування на замовлення.</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" valign="middle">№</td>
				<td >
					<p align="center">ВИМОГА</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center"><strong>X</strong></p>
				</td>
				<td valign="middle">
					<p><strong>Вимоги до господарів, персоналу та його підготовленості</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">109</p>
				</td>
				<td >
					<p>Охайний зовнішній вигляд, дотримання власної гігієни власника та персоналу</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">110</p>
				</td>
				<td >
					<p>Кваліфікація: Власник повинен пройти навчання та мати сертифікат про засвоєння основних вимог щодо
						надання послуг у сфері сільського зеленого туризму. Персонал повинен бути підготовленим до виконання
						роботи та прийому туристів.</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">111</p>
				</td>
				<td >
					<p>Наявність книги обліку гостей</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p>112</p>
				</td>
				<td >
					<p>Посадові інструкції для найманих працівників, що фіксують функціональні обов'язки і встановлені правила
						роботи</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">113</p>
				</td>
				<td >
					<p>Персонал повинен проходити періодичний медичний огляд</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">114</p>
				</td>
				<td >
					<p>Персонал повинен бути здатний створювати атмосферу гостинності, у стосунках з гостями виявляти
						доброзичливість. Готовий швидко та ефективно виконати прохання гостей</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">115</p>
				</td>
				<td >
					<p>Можливість спілкування з гостями однією іноземною мовою</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">-</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			</tbody>
		</table>
		<br>
		<table border="1" cellspacing="0" cellpadding="5">
			<tbody>
			<tr>
				<td align="center" valign="middle">
					<p align="center">№</p>
				</td>
				<td >
					<p align="center">ВИМОГА</p>
				</td>
				<td colspan="3">
					<p align="center">КАТЕГОРІЯ</p>
				</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center"><strong>XI</strong></p>
				</td>
				<td valign="middle">
					<p><strong>Вимоги охорони довкілля</strong></p>
				</td>
				<td>
					<p align="center"><strong>Б </strong></p>
				</td>
				<td>
					<p align="center"><strong>1 </strong></p>
				</td>
				<td>
					<p align="center"><strong>2 </strong></p>
				</td>
				<td>
					<p align="center"><strong>3 </strong></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">116</p>
				</td>
				<td >
					<p>Вимоги охорони навколишнього середовища щодо утримання присадибної території, технічного стану будівель
						та споруд, водопостачання та каналізації не нижчі вимог ДСТУ 4268</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">117</p>
				</td>
				<td >
					<p>Сміття та відходи збираються тільки в спеціально обладнаних та позначених місцях з дотриманням чинних
						санітарних вимог та правил згідно з СанПин 42-128-4690</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">118</p>
				</td>
				<td >
					<p>Тверді та рідкі побутові відходи складуються, тимчасово зберігаються, утилізуються та регулярно
						вивозяться згідно з вимогами СанПиН 42-128-4690</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">119</p>
				</td>
				<td >
					<p>Територія садиби не має ознак забруднення</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle">
					<p align="center">120</p>
				</td>
				<td >
					<p>Пропоновані альтернативні місця відпочинку, включаючи стежки пропонованих маршрутів, доглянуті та очищені
						від сміття</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
				<td>
					<p align="center">+</p>
				</td>
			</tr>
			</tbody>
		</table>

		<p>Висновок</p>

		<p>Поради та рекомендації власнику садиби (індивідуального місця розмішення)____________________</p>

		<p>_____________________________________________________________________________________</p>

		<p>_____________________________________________________________________________________</p>

		<p>_____________________________________________________________________________________</p>

		<p>_____________________________________________________________________________________</p>

		<p>____________________________________________________________________________________</p>

		<p>_____________________________________________________________________________________</p>

		<p>Садиба _________________________________________відповідає _______________категорії програми «Українська гостинна садиба».</p>

		<p>Експерт-консультант з категоризації    ___________________________                                                                             підпис                                                                            П.І.Б.</p>

		<p>Дата</p>

	</div>