<p class="info">Семерей Леся Григорівна</p>
<p class="info">Шацький район</p>
<p class="info">(033255)2-44-05 </p>
<p class="info">(033255)2-48-72 </p>






<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує 4 двомісних і 4 тримісних кімнати. Туалет на подвір’ї, є  душ, телефон. Можливість користуватися кухнею.</p>
    <p>Проживання  -1особа /1 ніч /1 ліжко -15-25 грн. (влітку), 15 грн. –у міжсезоння. Триразове харчування  -до 50 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 1,5 км.</p>



















