<p class="info">Надія Калениківна Дмитрук

</p>
<p class="info">Старовижівський район</p>
<p class="info">(03346)9-67-40 </p>
<p class="info">0976459795 </p>




<hr>
<p>В мальовничому куточку Полісся в с. Текля Старовижівського району розмістилася садиба "Надія”. З задоволення для туристів принесе спілкування з лісом, що розкинувся довкола села, за 3 км озеро, куди господарі організовують екскурсію кіньми. Можливий збір грибів, ягід, зовсім поруч протікає річка Прип’ять, де можна купатися, рибалити. Для гостей влаштовують вечорниці біля багаття.</p>
<p>Готують тут традиційні для регіону  страви: вареники з ягодами, пиріжки з квасолею, омачку, ботвиння. Господиня збирає старожитні речі, тому не дивуйтеся коли на подвір’ї розгледите ступу, жорна, квіти ростимуть в ночвах і молоко вам запропонують з глиняної гладишки. В домі багато вишитих серветок, рушників, а також тканих доріжок, ряден. Ткацтвом займається мама пані Надії.</p>




















