<h1>
	Статистика
</h1>


<div class="body">
	Станом на 1 січня 2012 року категоризацію пройшли 84 садиби з 16 областей, у тому числі отримали сертифікат:
		<ol>
			<li>базового (найнижчого) рівня – 46 садиб</li>
			<li>першого – 10</li>
			<li>другого – 17</li>
			<li>третього (найвищого) – 11</li>
		</ol>


</div>