<h1>
	Закони Верховної Ради України та проекти
</h1>

<div class="body">
	<p>ЗАКОН УКРАЇНИ</p>
	<p>Про громадські об'єднання</p>
	<p>(Відомості Верховної Ради України (ВВР), 2013, № 1, ст.1)</p>
	<p>Зміни до Закону див. в Законі  № 5026-VI від 22.06.2012</p>
	<p>Цей Закон визначає правові та організаційні засади реалізації права на свободу об'єднання, гарантованого Конституцією України та міжнародними договорами України, згода на обов'язковість яких надана Верховною Радою України, порядок утворення, реєстрації, діяльності та припинення громадських об'єднань.</p>
	<p>Розділ I</p>
	<p>ЗАГАЛЬНІ ЗАСАДИ</p>
	<p>Стаття 1. Поняття громадського об'єднання</p>


	<ol>
		<li> Громадське об'єднання - це добровільне об'єднання фізичних осіб та/або юридичних осіб приватного права для здійснення та захисту прав і свобод, задоволення суспільних, зокрема економічних, соціальних, культурних, екологічних, та інших інтересів.</li>
		<li> Громадське об'єднання за організаційно-правовою формою утворюється як громадська організація або громадська спілка.</li>
		<li> Громадська організація - це громадське об'єднання, засновниками та членами (учасниками) якого є фізичні особи.</li>
		<li> Громадська спілка - це громадське об'єднання, засновниками якого є юридичні особи приватного права, а членами (учасниками) можуть бути юридичні особи приватного права та фізичні особи.</li>
		<li> Громадське об'єднання може здійснювати діяльність зі статусом юридичної особи або без такого статусу. Громадське об'єднання зі статусом юридичної особи є непідприємницьким товариством, основною метою якого не є одержання прибутку.</li>
	</ol>

	<p>Стаття 2. Сфера дії Закону</p>

	<ol>
		<li> Дія цього Закону поширюється на суспільні відносини у сфері утворення, реєстрації, діяльності та припинення громадських об'єднань в Україні.</li>
		<li> Дія цього Закону не поширюється на суспільні відносини у сфері утворення, реєстрації, діяльності та припинення:
			<ol>
				<li> політичних партій;</li>
				<li> релігійних організацій;</li>
				<li> непідприємницьких товариств, що утворюються актами органів державної влади, інших державних органів, органів влади Автономної Республіки Крим, органів місцевого самоврядування;</li>
				<li> асоціацій органів місцевого самоврядування та їх добровільних об'єднань;</li>
				<li> саморегулівних організацій, організацій, які здійснюють професійне самоврядування;</li>
				<li> непідприємницьких товариств (які не є громадськими об'єднаннями), утворених на підставі інших законів.</li>
			</ol>
		</li>
		<li> Особливості регулювання суспільних відносин у сфері утворення, реєстрації, діяльності та припинення окремих видів громадських об'єднань можуть визначатися іншими законами.</li>
		<li> Неурядові організації інших держав, міжнародні неурядові організації (далі - іноземні неурядові організації) діють на території України відповідно до цього та інших законів України, міжнародних договорів України, згода на обов'язковість яких надана Верховною Радою України.</li>
   	</ol>

	<p>Стаття 3. Принципи утворення і діяльності громадських об'єднань</p>
	<ol>
		<li>Громадські об'єднання утворюються і діють на принципах:
			<ol>
				<li> добровільності;</li>
				<li> самоврядності;</li>
				<li> вільного вибору території діяльності;</li>
				<li> рівності перед законом;</li>
				<li> відсутності майнового інтересу їх членів (учасників);</li>
				<li> прозорості, відкритості та публічності.</li>
			</ol>
		</li>
			<li> Добровільність передбачає право особи на вільну участь або неучасть у громадському об'єднанні, у тому числі в його утворенні, вступі в таке об'єднання або припиненні членства (участі) в ньому.</li>
			<li> Самоврядність передбачає право членів (учасників) громадського об'єднання самостійно здійснювати управління діяльністю громадського об'єднання відповідно до його мети (цілей), визначати напрями діяльності, а також невтручання органів державної влади, інших державних органів, органів влади Автономної Республіки Крим, органів місцевого самоврядування в діяльність громадського об'єднання, крім випадків, визначених законом.</li>
		<p>Зміни до частини третьої статті 3 див. в Законі № 5026-VI від 22.06.2012</p>
			<li> Вільний вибір території діяльності передбачає право громадських об'єднань самостійно визначати територію своєї діяльності, крім випадків, визначених законом.</li>
			<li> Рівність перед законом передбачає, що громадські об'єднання є рівними у своїх правах та обов'язках відповідно до закону з урахуванням організаційно-правової форми, виду та/або статусу такого об'єднання.</li>
			<li> Відсутність майнового інтересу передбачає, що члени (учасники) громадського об'єднання не мають права на частку майна громадського об'єднання та не відповідають за його зобов'язаннями. Доходи або майно (активи) громадського об'єднання не підлягають розподілу між його членами (учасниками) і не можуть використовуватися для вигоди будь-якого окремого члена (учасника) громадського об'єднання, його посадових осіб (крім оплати їх праці та відрахувань на соціальні заходи).</li>
			<li> Прозорість, відкритість передбачає право всіх членів (учасників) громадського об'єднання мати вільний доступ до інформації про його діяльність, у тому числі про прийняті громадським об'єднанням рішення та здійснені заходи, а також обов'язок громадського об'єднання забезпечувати такий доступ. Публічність означає, що громадські об'єднання інформують громадськість про свої мету (цілі) та діяльність.</li>
	</ol>

	<p>Стаття 4. Обмеження щодо утворення і діяльності громадських об'єднань</p>

	<ol>
		<li> Утворення і діяльність громадських об'єднань, мета (цілі) або дії яких спрямовані на ліквідацію незалежності України, зміну конституційного ладу насильницьким шляхом, порушення суверенітету і територіальної цілісності держави, підрив її безпеки, незаконне захоплення державної влади, пропаганду війни, насильства, розпалювання міжетнічної, расової, релігійної ворожнечі, посягання на права і свободи людини, здоров'я населення, забороняються.</li>
		<li> Громадські об'єднання не можуть мати воєнізованих формувань.</li>
		<li> Інші обмеження права на свободу об'єднання, у тому числі на утворення і діяльність громадських об'єднань, можуть бути встановлені виключно законом в інтересах національної безпеки та громадського порядку, охорони здоров'я населення або захисту прав і свобод інших людей.</li>
		<li> Громадським об'єднанням не можуть надаватися владні повноваження, крім випадків, передбачених законом.</li>
	</ol>

	<p>Стаття 5. Гарантії права на свободу об'єднання</p>
	<ol>
			<li>Ніхто не може бути примушений до вступу у будь-яке громадське об'єднання. Належність чи неналежність до громадського об'єднання не може бути підставою для обмеження прав і свобод особи або для надання їй органами державної влади, іншими державними органами, органами влади Автономної Республіки Крим, органами місцевого самоврядування будь-яких пільг і переваг.</li>
			<li>Кожна особа має право добровільно у будь-який час у порядку, встановленому статутом, припинити членство (участь) у громадському об'єднанні.</li>
			<li>Вимога про зазначення відомостей щодо членства (участі) особи у громадському об'єднанні, якщо така вимога не пов'язана з реалізацією особою своїх прав як особи, яка має право представляти громадське об'єднання, або члена (учасника) громадського об'єднання, не допускається, крім випадків, визначених законом.</li>
	</ol>

	<p>Стаття 6. Спільна реалізація громадськими об'єднаннями своєї мети (цілей)</p>
	<ol>

		<li>Громадські об'єднання мають право реалізовувати свою мету (цілі) шляхом укладення між собою на добровільних засадах угод про співробітництво та/або взаємодопомогу, утворення відповідно до цього Закону громадських спілок, а також в інший спосіб, не заборонений законом.</li>
		<li>Громадські об'єднання можуть здійснювати співробітництво з іноземними неурядовими організаціями та міжнародними урядовими організаціями з дотриманням законів України та міжнародних договорів України, згода на обов'язковість яких надана Верховною Радою України.</li>
	</ol>

	<p>Розділ II</p>

	<p>УТВОРЕННЯ ТА РЕЄСТРАЦІЯ ГРОМАДСЬКОГО ОБ'ЄДНАННЯ</p>

	<p>Стаття 7. Засновники громадського об'єднання</p>
	<ol>

		<li> Засновниками громадської організації можуть бути громадяни України, іноземці та особи без громадянства, які перебувають в Україні на законних підставах, які досягли 18 років, а молодіжної та дитячої громадської організації - 14 років.</li>
		<li> Засновниками громадської спілки можуть бути юридичні особи приватного права, у тому числі громадські об'єднання зі статусом юридичної особи. Засновниками громадської спілки не можуть бути політичні партії, а також юридичні особи, щодо яких прийнято рішення щодо їх припинення або які перебувають у процесі припинення.</li>
		<li> Кількість засновників громадського об'єднання не може бути меншою, ніж дві особи.</li>
		<li> Засновниками громадської спілки не можуть бути юридичні особи приватного права, єдиним засновником яких є одна і та сама особа.</li>
		<li> Засновником громадської спілки не може бути юридична особа приватного права, якщо засновник (власник істотної участі) цієї юридичної особи внесений до переліку осіб, пов'язаних зі здійсненням терористичної діяльності, або щодо яких застосовано міжнародні санкції.</li>
		<li> Засновником громадської організації не може бути особа, яку визнано судом недієздатною.</li>
		<li> Повноваження засновника громадського об'єднання закінчуються після прийняття рішення про реєстрацію або прийняття повідомлення про утворення громадського об'єднання в установленому цим Законом порядку.</li>
	<p>Примітка. Під істотною участю у цьому Законі слід розуміти пряме та опосередковане, самостійне або спільно з іншими особами володіння 10 і більше відсотками статутного (складеного) капіталу або голосів за придбаними акціями (частками) юридичної особи або незалежно від формального володіння можливість значного впливу на управління чи діяльність юридичної особи.</p>
	</ol>

	<p>Стаття 8. Члени (учасники) громадського об'єднання</p>
	<ol>
		<li> Членами (учасниками) громадської організації, крім молодіжної та дитячої, можуть бути особи, визначені частиною першою статті 7 цього Закону, які досягли 14 років. Вік членів молодіжної, дитячої організації визначається її статутом у межах, встановлених законом.</li>
		<li> Членами (учасниками) громадської спілки можуть бути юридичні особи приватного права, у тому числі громадські об'єднання зі статусом юридичної особи, фізичні особи, які досягли 18 років та не визнані судом недієздатними.</li>
	</ol>

	<p>Стаття 9. Утворення громадського об'єднання</p>
	<ol>

		<li> Утворення громадського об'єднання здійснюється на установчих зборах його засновників та оформлюється протоколом.</li>
		<li> Протокол установчих зборів громадського об'єднання має містити відомості про:
			<ol>
				<li> дату та місце проведення установчих зборів;</li>
				<li> осіб, які брали участь в установчих зборах (відповідно до частини одинадцятої цієї статті);</li>
				<li> рішення про утворення громадського об'єднання із зазначенням мети (цілей) його діяльності;</li>
				<li> рішення про визначення найменування та за наявності - скороченого найменування громадського об'єднання;</li>
				<li> рішення про затвердження статуту громадського об'єднання;</li>
				<li> рішення про утворення (обрання) керівника, органів управління громадського об'єднання відповідно до затвердженого статуту;</li>
				<li> рішення про визначення особи (осіб), яка має право представляти громадське об'єднання у правовідносинах з державою та іншими особами і вчиняти дії від імені громадського об'єднання без додаткового уповноваження (далі - особа, уповноважена представляти громадське об'єднання), - для громадського об'єднання, яке має намір здійснювати діяльність без статусу юридичної особи, якщо утворення (обрання) органів управління не передбачено рішенням про утворення такого об'єднання;</li>
				<li>ння про визначення особи (осіб), яка має право представляти громадське об'єднання для здійснення реєстраційних дій, - для громадського об'єднання, яке має намір здійснювати діяльність зі статусом юридичної особи.</li>
			</ol>
		</li>
		<li> Юридична особа приватного права бере участь в утворенні громадської спілки через свого керівника або іншого уповноваженого представника, який діє на підставі довіреності на вчинення дій щодо утворення громадської спілки.</li>
		<li> У разі утворення громадського об'єднання, яке має намір здійснювати діяльність без статусу юридичної особи, рішення, передбачені пунктами 5 та 6 частини другої цієї статті, приймаються, якщо наявність статуту та/або утворення (обрання) органів управління передбачено рішенням про утворення такого об'єднання.</li>
		<li> У протоколі установчих зборів можуть зазначатися відомості і про інші прийняті на цих зборах рішення стосовно утворення та/або діяльності громадського об'єднання.</li>
		<li> Особа може бути обрана керівником, обрана до складу керівного органу громадського об'єднання, визначена особою, яка має право представляти громадське об'єднання для здійснення реєстраційних дій, або визначена особою, уповноваженою представляти громадське об'єднання, за наявності її особистої згоди.</li>
		<li> Протокол установчих зборів підписується головуючим та секретарем зборів.</li>
		<li> Громадські об'єднання реєструються або повідомляють про своє утворення у порядку, передбаченому цим Законом, протягом 60 днів з дня проведення установчих зборів.</li>
		<li> Дії від імені незареєстрованого громадського об'єднання або громадського об'єднання, повідомлення якого не прийнято в установленому цим Законом порядку, крім дій, пов'язаних з реєстрацією такого об'єднання або повідомленням про його утворення, забороняються.</li>
		<li> Вимоги цієї статті застосовуються також щодо рішень стосовно створення нового громадського об'єднання, які приймаються у зв'язку з реорганізацією громадського об'єднання.</li>
		<li> Невід'ємною частиною протоколу установчих зборів громадського об'єднання є реєстр осіб, які брали участь в установчих зборах, в якому обов'язково зазначаються відомості:
			<ol>
				<li> щодо фізичних осіб - прізвище, ім'я та по батькові особи, дата народження, а для іноземців та осіб без громадянства також дані національного паспорта або документа, що його замінює. Дані про особу засвідчуються її особистим підписом;</li>
				<li> щодо юридичних осіб - повне найменування, ідентифікаційний код, юридична адреса, прізвище, ім'я та по батькові особи, яка уповноважена брати участь в установчих зборах. Ці дані засвідчуються підписом особи, уповноваженої брати участь в установчих зборах.</li>
			</ol>
		</li>
	</ol>

	<p>Стаття 10. Найменування громадського об'єднання</p>
	<ol>
		<li>Найменування громадського об'єднання визначається рішенням установчих зборів під час його утворення.</li>
		<li>Найменування громадського об'єднання складається з двох частин - загальної та власної назв. У загальній назві зазначається організаційно-правова форма громадського об'єднання ("громадська організація", "громадська спілка").</li>
		<li>Найменування громадського об'єднання викладається державною мовою. Громадське об'єднання може також викласти свою власну назву, поряд з державною мовою, іноземною мовою або мовою національної меншини.</li>
		<li>Власна назва громадського об'єднання не повинна бути тотожною власним назвам інших зареєстрованих громадських об'єднань або громадських об'єднань, повідомлення яких прийнято в установленому цим Законом порядку.</li>
		<li>Власна назва громадського об'єднання не може містити:
			<ol>
				<li>найменування органу державної влади, органу влади Автономної Республіки Крим, органу місцевого самоврядування, складових найменувань цих органів (міністерство, агентство, служба, інспекція, комітет, адміністрація, прокуратура, суд);</li>
				<li>власну назву громадського об'єднання, діяльність якого заборонена в судовому порядку (протягом трьох років після набрання відповідним рішенням суду законної сили);</li>
				<li>інші позначення, використання яких обмежено законом.</li>
			</ol>
		</li>
		<li>Власна назва громадського об'єднання не може містити слова "державний", "комунальний" та похідні від них. Власна назва навчального закладу, установи чи організації у власній назві громадського об'єднання може використовуватися лише за згоди відповідного навчального закладу, установи чи організації.</li>
		<p>Забороняється використання у власній назві громадського об'єднання історичних державних найменувань, перелік яких встановлюється Кабінетом Міністрів України.</p>
		<li>Власна назва громадського об'єднання має містити інформацію про статус громадського об'єднання ("дитяче", "молодіжне", "всеукраїнське") та може містити інформацію про його вид ("екологічне", "правозахисне" тощо).</li>
		<li>Власна назва громадського об'єднання може містити ім'я (псевдонім) фізичної особи за умови попередньої письмової згоди цієї особи або її спадкоємців, засвідченої в установленому законом порядку, якщо інше не передбачено законом.</li>
		<li>Громадське об'єднання має право на використання свого найменування з моменту реєстрації або прийняття в установленому цим Законом порядку повідомлення про його утворення. Забороняється використання найменування громадського об'єднання фізичними та юридичними особами, які не належать до цього громадського об'єднання, без згоди такого громадського об'єднання для цілей, не пов'язаних з діяльністю цього громадського об'єднання.</li>
		<li> Громадське об'єднання може також мати скорочене найменування, яке визначається рішенням його установчих зборів або вищого органу управління - з'їзду, конференції, загальних зборів тощо (далі - вищий орган управління).</li>
		<li> Зміна найменування громадського об'єднання здійснюється на засіданні вищого органу управління такого об'єднання з додержанням вимог цього Закону та статуту об'єднання (за наявності).</li>
	</ol>

	<p>Стаття 11. Статут громадського об'єднання</p>
	<ol>
		<li>Статут громадського об'єднання має містити відомості про:
			<ol>
				<li>найменування громадського об'єднання та за наявності - скорочене найменування;</li>
				<li>мету (цілі) та напрями його діяльності;</li>
				<li>порядок набуття і припинення членства (участі) у громадському об'єднанні, права та обов'язки його членів (учасників);</li>
				<li>повноваження керівника, вищого органу управління, інших органів управління (далі – керівні органи) громадського об'єднання, порядок їх формування та зміни складу, термін повноважень, а також порядок визначення особи, уповноваженої представляти громадське об'єднання, та її заміни (для громадських об'єднань, що не мають статусу юридичної особи);</li>
				<li>періодичність засідань і процедуру прийняття рішень керівними органами громадського об'єднання, у тому числі шляхом використання засобів зв'язку;</li>
				<li>порядок звітування керівних органів громадського об'єднання перед його членами (учасниками);</li>
				<li>порядок оскарження рішень, дій, бездіяльності керівних органів громадського об'єднання та розгляду скарг;</li>
				<li>джерела надходження і порядок використання коштів та іншого майна громадського об'єднання;</li>
				<li>порядок створення, діяльності та припинення діяльності відокремлених підрозділів громадського об'єднання (у разі їх створення громадським об'єднанням, яке має намір здійснювати діяльність зі статусом юридичної особи);</li>
				<li> порядок внесення змін до статуту;</li>
				<li> порядок прийняття рішення щодо саморозпуску або реорганізації громадського об'єднання, а також щодо використання його коштів та іншого майна, що залишилися після саморозпуску, - для громадського об'єднання, яке має намір здійснювати діяльність зі статусом юридичної особи.</li>
			</ol>
		</li>
		<li>У статуті громадського об'єднання можуть бути передбачені додаткові положення щодо утворення, діяльності і саморозпуску чи реорганізації громадського об'єднання, що не суперечать закону.</li>
		<li>Статут громадського об'єднання, яке має намір здійснювати діяльність без статусу юридичної особи (у разі, якщо наявність статуту такого об'єднання передбачена рішенням про його утворення), може не містити положень, передбачених пунктами 5-8 частини першої цієї статті.</li>
	</ol>

	<p>Стаття 12. Відокремлені підрозділи громадського об'єднання</p>
	<ol>

		<li>Громадське об'єднання зі статусом юридичної особи може мати відокремлені підрозділи, які утворюються за рішенням відповідного керівного органу громадського об'єднання згідно із статутом.</li>

		<li>Відокремлені підрозділи громадського об'єднання не є юридичними особами.</li>

		<li>Відомості про утворені відокремлені підрозділи громадського об'єднання подаються до уповноваженого органу з питань реєстрації за місцезнаходженням громадського об'єднання.</li>

		<li>Відомості подаються у формі реєстраційної картки, яка повинна містити такі дані:
			<ol>
				<li>ідентифікаційний код громадського об'єднання як юридичної особи;</li>
				<li>повне найменування відокремленого підрозділу;</li>
				<li>місцезнаходження відокремленого підрозділу;</li>
				<li>прізвище, ім'я та по батькові керівника відокремленого підрозділу, його реєстраційний номер облікової картки платника податку;</li>
				<li>місцезнаходження реєстраційної справи громадського об'єднання.</li>
			</ol>
		</li>
		<p>До реєстраційної картки про створення відокремленого підрозділу додається рішення керівного органу громадського об'єднання про створення відокремленого підрозділу. Форму реєстраційної картки про створення відокремленого підрозділу громадського об'єднання затверджує Міністерство юстиції України.</p>
			<li>Уповноважений орган з питань реєстрації, до якого подані документи про створення відокремленого підрозділу громадського об'єднання, протягом трьох робочих днів вносить до Реєстру громадських об'єднань відомості про відокремлений підрозділ громадського об'єднання та забезпечує внесення відомостей про відокремлений підрозділ громадського об'єднання до Єдиного державного реєстру юридичних осіб та фізичних осіб - підприємців або приймає рішення про відмову у внесенні до Реєстру громадських об'єднань відомостей про відокремлений підрозділ громадського об'єднання. Копія рішення надається (надсилається рекомендованим листом з повідомленням про вручення) громадському об'єднанню не пізніше наступного дня після його прийняття.</li>
			<li>Уповноважений орган з питань реєстрації, до якого подані документи про утворення відокремленого підрозділу громадського об'єднання приймає рішення про відмову у внесенні до Реєстру громадських об'єднань відомостей про відокремлений підрозділ громадського об'єднання у разі неподання документів, передбачених частиною четвертою цієї статті, наявності помилок у реєстраційній картці про утворення відокремленого підрозділу громадського об'єднання або якщо рішення про утворення відокремленого підрозділу прийнято не уповноваженим керівним органом громадського об'єднання.</li>
			<li>Повідомлення про закриття відокремленого підрозділу громадське об'єднання подає до уповноваженого органу з питань реєстрації за місцезнаходженням громадського об'єднання за формою, затвердженою Міністерством юстиції України.</li>
	</ol>

	<p>Стаття 13. Повідомлення про утворення громадського об'єднання</p>
	<ol>
		<li> Громадське об'єднання, яке має намір здійснювати діяльність без статусу юридичної особи, повідомляє про своє утворення уповноважений орган з питань реєстрації протягом 60 днів з дня його утворення.</li>
		<li> Для повідомлення про утворення громадського об'єднання його засновники або особа (особи), уповноважена представляти громадське об'єднання, подають (надсилають поштовим відправленням) до уповноваженого органу з питань реєстрації за місцезнаходженням громадського об'єднання заяву за формою, затвердженою Міністерством юстиції України, до якої додаються:
			<ol>
				<li>примірник оригіналу або нотаріально засвідчена копія протоколу установчих зборів, оформленого з дотриманням вимог частин другої, четвертої та восьмої статті 9 цього Закону;</li>

				<li>відомості про засновників громадського об'єднання із зазначенням прізвища, ім'я, по батькові (за наявності), дати народження, адреси місця проживання, а в разі якщо засновником є юридична особа приватного права, - її найменування, місцезнаходження, ідентифікаційного коду;</li>

				<li>відомості про особу (осіб), уповноважену представляти громадське об'єднання, із зазначенням прізвища, ім'я, по батькові (за наявності), дати народження, контактного номера телефону та інших засобів зв'язку, до яких додається письмова згода цієї особи, передбачена частиною шостою статті 9 цього Закону.</li>
			</ol>
		</li>
		<p>Заява підписується засновниками громадського об'єднання або особою (особами), уповноваженою представляти громадське об'єднання, а справжність їх підписів засвідчується нотаріально.</p>

			<li>За відсутності підстав, зазначених у пункті 1 частини десятої статті 12 цього Закону, та відповідності поданих документів вимогам статей 7-10 цього Закону уповноважений орган з питань реєстрації протягом п'яти робочих днів з дня отримання документів, передбачених частиною другою цієї статті, приймає рішення про прийняття письмового повідомлення та вносить відомості про громадське об'єднання до Реєстру громадських об'єднань. Копія рішення про прийняття письмового повідомлення надається (надсилається рекомендованим листом з повідомленням про вручення) засновникам громадського об'єднання або особі (особам), уповноваженій представляти громадське об'єднання, не пізніше наступного дня після його прийняття.</li>

			<li>За наявності підстав, зазначених у пункті 1 частини десятої статті 12 цього Закону, у разі невідповідності поданих документів вимогам статей 7-10 цього Закону уповноважений орган з питань реєстрації у межах строку, передбаченого частиною третьою цієї статті, приймає рішення про неприйняття повідомлення про утворення громадського об'єднання, яке має бути вмотивованим та містити вичерпні підстави неприйняття повідомлення про утворення. Копія зазначеного рішення надається (надсилається рекомендованим листом з повідомленням про вручення) засновникам громадського об'єднання або особі (особам), уповноваженій представляти громадське об'єднання, не пізніше наступного дня після його прийняття.</li>

			<li>У разі усунення громадським об'єднанням невідповідностей поданих документів вимогам статей 7-10 цього Закону уповноважений орган з питань реєстрації приймає рішення про прийняття повідомлення про утворення цього громадського об'єднання та вчиняє інші дії, передбачені частиною третьою цієї статті, протягом трьох робочих днів з дня отримання документів, якими усунено такі невідповідності.</li>

			<li>Громадське об'єднання повідомляє уповноважений орган з питань реєстрації про зміну найменування громадського об'єднання, його мети (цілей), зміну особи (осіб), уповноваженої представляти громадське об'єднання, протягом місяця з дня прийняття відповідних змін у порядку, передбаченому статтею 14 цього Закону.</li>

			<li>Рішення, дії чи бездіяльність уповноваженого органу з питань реєстрації, прийняті (вчинені) на підставі цієї статті, можуть бути оскаржені до суду у порядку, передбаченому Кодексом адміністративного судочинства України.</li>

			<li>Для отримання статусу юридичної особи громадське об'єднання, яке здійснює діяльність без статусу юридичної особи, за рішенням вищого органу управління може звернутися для проведення процедури реєстрації в порядку, визначеному статтею 12 цього Закону.</li>
	</ol>

	<p>Стаття 14. Реєстр громадських об'єднань</p>
	<ol>

		<li>З метою обліку громадських об'єднань та забезпечення загального доступу до інформації про громадські об'єднання уповноважений орган з питань реєстрації веде Реєстр громадських об'єднань.</li>

		<li>Включення відомостей про громадські об'єднання до Реєстру громадських об'єднань здійснюється уповноваженим органом з питань реєстрації згідно з відомостями, що містяться в документах, які подаються громадськими об'єднаннями в порядку, передбаченому статтями 12, 13, 14, 16, 19 цього Закону. Обробка персональних даних, зазначених у пункті 3 частини третьої статті 12, пунктах 2, 3 частини другої статті 16 цього Закону, а також оприлюднення в Реєстрі громадських об'єднань відомостей про осіб, обраних до складу керівних органів громадського об'єднання, або особу, уповноважену представляти громадське об'єднання, здійснюється уповноваженим органом з питань реєстрації відповідно до законодавства у сфері захисту персональних даних.</li>

		<li>Основні відомості Реєстру громадських об'єднань є відкритими для безоплатного доступу на офіційному веб-сайті уповноваженого органу з питань реєстрації.</li>

		<li>Для реалізації права доступу до відомостей Реєстру громадських об'єднань користувачам надається можливість пошуку, перегляду, копіювання та друкування таких відомостей.</li>

		<li>Порядок ведення Реєстру громадських об'єднань визначається Кабінетом Міністрів України.</li>
	</ol>

	<p>Стаття 15. Символіка громадського об'єднання</p>
	<ol>

		<li> Громадське об'єднання зі статусом юридичної особи може мати власну символіку (емблему, інший розпізнавальний знак, прапор), яка затверджується відповідно до його статуту та підлягає реєстрації у порядку, встановленому Кабінетом Міністрів України.</li>

		<li> Символіка громадського об'єднання не повинна відтворювати:

			<ol>
				<li>державні символи України;</li>

				<li>інші офіційні символи чи знаки, які використовуються органами державної влади, органами влади Автономної Республіки Крим та органами місцевого самоврядування, державні та інші нагороди, печатки та інші відмітні знаки цих органів;</li>

				<li>державні герби, прапори або офіційні назви інших держав;</li>

				<li>зареєстровану символіку іншого громадського об'єднання;</li>

				<li>ім'я або зображення фізичної особи без письмової згоди такої особи або її спадкоємців, засвідченої в установленому законом порядку, якщо інше не передбачено законом;</li>

				<li>інші символи та знаки, використання яких обмежено законом.</li>
			</ol>
		</li>
		<li>Інформація про зареєстровану в установленому порядку символіку громадського об'єднання є відкритою для ознайомлення.</li>

		<li>За реєстрацію символіки, заміну свідоцтва про реєстрацію символіки у зв'язку з пошкодженням, видачу дубліката оригіналу свідоцтва про реєстрацію символіки громадського об'єднання у зв'язку з його втратою вноситься плата, розмір якої встановлюється Кабінетом Міністрів України і не може перевищувати десяти неоподатковуваних мінімумів доходів громадян.</li>

		<li>Громадське об'єднання має право на використання власної символіки з моменту її реєстрації. Забороняється використання зареєстрованої символіки громадського об'єднання фізичними та юридичними особами без згоди такого об'єднання та для цілей, не пов'язаних з діяльністю такого громадського об'єднання.</li>

		<li>Громадське об'єднання, яке не має зареєстрованої символіки, може використовувати для позначення громадського об'єднання при виготовленні своїх інформаційно-презентаційних матеріалів зображення, що мають відповідати вимогам частини другої цієї статті.</li>
	</ol>

	<p>Стаття 16. Всеукраїнський статус громадського об'єднання</p>
	<ol>

		<li>Громадське об'єднання, зареєстроване в установленому законом порядку, може мати всеукраїнський статус за наявності у нього відокремлених підрозділів у більшості адміністративно-територіальних одиниць, зазначених у частині другій статті 133 Конституції України, і якщо таке громадське об'єднання підтвердило такий статус у порядку, встановленому цим Законом. Спеціальними законами можуть визначатися інші вимоги щодо підтвердження всеукраїнського статусу окремих видів громадських об'єднань.</li>

		<li>Підтвердження всеукраїнського статусу громадського об'єднання та відмова від такого статусу є добровільними.</li>

		<li>Для підтвердження всеукраїнського статусу громадське об'єднання подає до уповноваженого органу з питань реєстрації заяву за формою, встановленою Міністерством юстиції України.</li>

		<li>Уповноважений орган з питань реєстрації протягом семи робочих днів з дня надходження заяви за результатами перевірки в Реєстрі громадських об'єднань відповідності відокремлених підрозділів громадського об'єднання вимогам, передбаченим частиною першою цієї статті, приймає рішення про підтвердження всеукраїнського статусу громадського об'єднання або про відмову у підтвердженні такого статусу. Копія рішення надається (надсилається рекомендованим листом з повідомленням про вручення) громадському об'єднанню не пізніше наступного дня після його прийняття.</li>

		<li>У разі прийняття рішення про підтвердження всеукраїнського статусу громадського об'єднання уповноважений орган з питань реєстрації в межах строку, визначеного частиною шостою цієї статті, вносить відповідний запис до Реєстру громадських об'єднань.</li>

		<li>Для відмови від всеукраїнського статусу громадське об'єднання подає до уповноваженого органу з питань реєстрації заяву за формою, встановленою Міністерством юстиції України. Уповноважений орган з питань реєстрації не пізніше п'яти робочих днів з дня надходження заяви вносить до Реєстру громадських об'єднань запис про відмову громадського об'єднання від всеукраїнського статусу.</li>

		<li>Відомості про всеукраїнський статус громадського об'єднання перевіряються щороку уповноваженим органом з питань реєстрації з даних реєстраційної картки про підтвердження відомостей про юридичну особу, форма якої затверджується Міністерством юстиції України.</li>

		<li>У разі якщо уповноважений орган з питань реєстрації установить наявність у громадського об'єднання, яке підтвердило свій всеукраїнський статус, меншої кількості відокремлених підрозділів, ніж передбачено частиною першою цієї статті, він надає (надсилає рекомендованим листом з повідомленням про вручення) громадському об'єднанню письмове повідомлення про наявність підстав для втрати громадським об'єднанням всеукраїнського статусу і вносить до Реєстру громадських об'єднань запис про направлення такого повідомлення.</li>

		<li>У разі якщо через 60 днів після отримання письмового повідомлення, передбаченого частиною восьмою цієї статті, кількість відокремлених підрозділів громадського об'єднання, за даними Реєстру громадських об'єднань, не відповідатиме вимогам частини першої цієї статті, уповноважений орган з питань реєстрації приймає рішення про втрату громадським об'єднанням всеукраїнського статусу та вносить до Реєстру громадських об'єднань відповідний запис. Копія зазначеного рішення надається (надсилається рекомендованим листом з повідомленням про вручення) громадському об'єднанню не пізніше наступного дня після його прийняття.</li>
	</ol>

	<p>Розділ III</p>

	<p>ПРАВА ТА ДІЯЛЬНІСТЬ ГРОМАДСЬКИХ ОБ'ЄДНАНЬ</p>

	<p>Стаття 17. Права громадських об'єднань</p>
	<ol>

		<li> Для здійснення своєї мети (цілей) громадське об'єднання має право:
			<ol>

				<li>вільно поширювати інформацію про свою діяльність, пропагувати свою мету (цілі);</li>

				<li>звертатися у порядку, визначеному законом, до органів державної влади, органів влади Автономної Республіки Крим, органів місцевого самоврядування, їх посадових і службових осіб з пропозиціями (зауваженнями), заявами (клопотаннями), скаргами;</li>

				<li>одержувати у порядку, визначеному законом, публічну інформацію, що знаходиться у володінні суб'єктів владних повноважень, інших розпорядників публічної інформації;</li>

				<li>брати участь у порядку, визначеному законодавством, у розробленні проектів нормативно-правових актів, що видаються органами державної влади, органами влади Автономної Республіки Крим, органами місцевого самоврядування і стосуються сфери діяльності громадського об'єднання та важливих питань державного і суспільного життя;</li>

				<li>проводити мирні зібрання;</li>

				<li>здійснювати інші права, не заборонені законом.</li>
			</ol>
		</li>
		<li> Громадське об'єднання зі статусом юридичної особи має право:
			<ol>

				<li>бути учасником цивільно-правових відносин, набувати майнові і немайнові права відповідно до законодавства;</li>

				<li>здійснювати відповідно до закону підприємницьку діяльність безпосередньо, якщо це передбачено статутом громадського об'єднання, або через створені в порядку, передбаченому законом, юридичні особи (товариства, підприємства), якщо така діяльність відповідає меті (цілям) громадського об'єднання та сприяє її досягненню. Відомості про здійснення підприємницької діяльності громадським об'єднанням включаються до Реєстру громадських об'єднань;</li>

				<li>засновувати з метою досягнення своєї статутної мети (цілей) засоби масової інформації;</li>

				<li>брати участь у здійсненні державної регуляторної політики відповідно до Закону України "Про засади державної регуляторної політики у сфері господарської діяльності";</li>

				<li>брати участь у порядку, визначеному законодавством, у роботі консультативних, дорадчих та інших допоміжних органів, що утворюються органами державної влади, органами влади Автономної Республіки Крим, органами місцевого самоврядування для проведення консультацій з громадськими об'єднаннями та підготовки рекомендацій з питань, що стосуються сфери їхньої діяльності.</li>
			</ol>
		</li>
		<li> Громадське об'єднання зі статусом юридичної особи, створена ним юридична особа (товариство, підприємство) може бути виконавцем державного замовлення відповідно до закону.</li>
	</ol>

	<p>Стаття 18. Засади взаємодії громадських об'єднань з органами державної влади, органами влади Автономної Республіки Крим, органами місцевого самоврядування</p>
	<ol>

		<li>Держава забезпечує додержання прав громадських об'єднань.</li>

		<li>Втручання органів державної влади, органів влади Автономної Республіки Крим, органів місцевого самоврядування, їх посадових та службових осіб у діяльність громадських об'єднань, так само як і втручання громадських об'єднань у діяльність органів державної влади, органів влади Автономної Республіки Крим, органів місцевого самоврядування, їх посадових та службових осіб, не допускається, крім випадків, передбачених законом.</li>

		<li>Органи державної влади, органи влади Автономної Республіки Крим, органи місцевого самоврядування можуть залучати громадські об'єднання до процесу формування і реалізації державної політики, вирішення питань місцевого значення, зокрема, шляхом проведення консультацій з громадськими об'єднаннями стосовно важливих питань державного і суспільного життя, розроблення відповідних проектів нормативно-правових актів, утворення консультативних, дорадчих та інших допоміжних органів при органах державної влади, органах влади Автономної Республіки Крим, органах місцевого самоврядування, в роботі яких беруть участь представники громадських об'єднань.</li>

		<li>Проведення в порядку, визначеному законодавством, консультацій з громадськими об'єднаннями щодо проектів нормативно-правових актів, які стосуються правового статусу громадських об'єднань, їх фінансування та діяльності, є обов'язковим.</li>

		<li>Державний нагляд та контроль за дотриманням закону громадськими об'єднаннями здійснюють органи виконавчої влади, органи місцевого самоврядування у порядку, визначеному законом.</li>
	</ol>

	<p>Стаття 19. Фінансова підтримка та звітність громадських об'єднань</p>
	<ol>

		<li>Громадські об'єднання зі статусом юридичної особи мають право на фінансову підтримку за рахунок коштів Державного бюджету України, місцевих бюджетів відповідно до закону.</li>

		<li>Громадські об'єднання, які отримують фінансову підтримку за рахунок коштів Державного бюджету України, місцевих бюджетів, зобов'язані подавати та оприлюднювати звіти про цільове використання цих коштів відповідно до закону.</li>

		<li>Громадське об'єднання зі статусом юридичної особи, створені ним юридичні особи (товариства, підприємства) зобов'язані вести бухгалтерський облік, фінансову та статистичну звітність, бути зареєстрованими в органах державної податкової служби та сплачувати до бюджету обов'язкові платежі відповідно до закону. Надання громадським об'єднанням, створеним ними юридичним особам (товариствам, підприємствам) пільг, у тому числі з оподаткування, здійснюється на підставах та в порядку, визначених законом.</li>
	</ol>

	<p>Стаття 20. Власність громадського об'єднання</p>
	<ol>

		<li>Громадське об'єднання зі статусом юридичної особи для виконання своєї статутної мети (цілей) має право володіти, користуватися і розпоряджатися коштами та іншим майном, яке відповідно до закону передане такому громадському об'єднанню його членами (учасниками) або державою, набуте як членські внески, пожертвуване громадянами, підприємствами, установами та організаціями, набуте в результаті підприємницької діяльності такого об'єднання, підприємницької діяльності створених ним юридичних осіб (товариств, підприємств), а також майном, придбаним за рахунок власних коштів, тимчасово наданим у користування (крім розпорядження) чи на інших підставах, не заборонених законом.</li>

		<li>Право власності громадського об'єднання зі статусом юридичної особи реалізовує його вищий орган управління в порядку, передбаченому законом та статутом громадського об'єднання. Окремі функції щодо управління майном за рішенням вищого органу управління громадського об'єднання можуть бути покладені на створені ним відповідно до статуту керівні органи, юридичні особи (товариства, підприємства), відокремлені підрозділи таких об'єднань або передані громадським спілкам, утвореним цими громадськими об'єднаннями.</li>

		<li>У разі саморозпуску громадського об'єднання його майно та кошти після задоволення вимог кредиторів передаються за рішенням такого об'єднання на статутні або благодійні цілі іншому (кільком іншим) громадському об'єднанню, а в разі неприйняття такого рішення - зараховуються відповідно до закону до державного або місцевого бюджету.</li>

		<li>У разі реорганізації громадського об'єднання його майно, активи та пасиви передаються правонаступнику.</li>
	</ol>

	<p>Розділ IV</p>

	<p>ОСОБЛИВОСТІ ПРИПИНЕННЯ ГРОМАДСЬКИХ ОБ'ЄДНАНЬ</p>

	<p>Стаття 21. Способи припинення діяльності громадського об'єднання</p>
	<ol>

		<li> Припинення діяльності громадського об'єднання здійснюється:
			<ol>

				<li>за рішенням громадського об'єднання, прийнятим вищим органом управління громадського об'єднання, шляхом саморозпуску або реорганізації шляхом приєднання до іншого громадського об'єднання такого самого статусу;</li>

				<li>за рішенням суду про заборону (примусовий розпуск) громадського об'єднання.</li>
			</ol>
		</li>
		<li>Припинення діяльності громадського об'єднання зі статусом юридичної особи має наслідком припинення цієї юридичної особи у порядку, встановленому Законом України "Про державну реєстрацію юридичних осіб та фізичних осіб - підприємців", з урахуванням особливостей, встановлених цим Законом.</li>

		<li>Якщо вартості майна громадського об'єднання зі статусом юридичної особи, яке безпосередньо здійснює підприємницьку діяльність і щодо якого прийнято рішення про ліквідацію, недостатньо для задоволення вимог кредиторів, ліквідатор (ліквідаційна комісія) зобов'язаний звернутися до господарського суду із заявою про порушення справи про банкрутство такого громадського об'єднання відповідно до Закону України "Про відновлення платоспроможності боржника або визнання його банкрутом".</ol>

	</ol>

	<p>Стаття 22. Добровільне припинення діяльності громадського об'єднання</p>
	<ol>

		<li> Громадське об'єднання має право у будь-який час прийняти рішення про припинення своєї діяльності (саморозпуск).</li>

		<li> Діяльність громадського об'єднання без статусу юридичної особи вважається припиненою з дня отримання повідомлення про таке рішення від особи, уповноваженої представляти це об'єднання, уповноваженим органом з питань реєстрації. На підставі зазначеного повідомлення уповноважений орган з питань реєстрації вносить відомості про припинення діяльності зазначеного громадського об'єднання до Реєстру громадських об'єднань.</li>

		<li> Рішення про саморозпуск громадського об'єднання приймається у порядку, встановленому статутом цього об'єднання. Вищий орган управління, який прийняв рішення про саморозпуск громадського об'єднання, створює ліквідаційну комісію або доручає керівному органу здійснювати повноваження ліквідаційної комісії для проведення припинення громадського об'єднання як юридичної особи, а також приймає рішення щодо використання коштів та майна громадського об'єднання після його ліквідації відповідно до статуту.</li>

		<li> Громадське об'єднання подає (надсилає) рішення про саморозпуск громадського об'єднання до уповноваженого органу з питань реєстрації. До рішення додаються:
			<ol>

				<li>оригінал свідоцтва про реєстрацію громадського об'єднання (або його дубліката);</li>

				<li>оригінал статуту громадського об'єднання (або його дубліката);</li>

				<li>реєстраційна картка на проведення державної реєстрації припинення юридичної особи.</li>
			</ol>
		</li>

		<li>Уповноважений орган з питань реєстрації протягом десяти робочих днів з дня отримання документів, зазначених у частині четвертій цієї статті, приймає рішення про визнання або відмову у визнанні рішення про саморозпуск громадського об'єднання.</li>

		<li>Якщо за наслідком розгляду зазначених у частині четвертій цієї статті документів встановлено відсутність порушень вимог цього Закону, Закону України "Про державну реєстрацію юридичних осіб та фізичних осіб - підприємців", статуту громадського об'єднання, уповноважений орган з питань реєстрації забезпечує внесення до Єдиного державного реєстру юридичних осіб та фізичних осіб - підприємців відповідного запису та вносить дані про зазначене рішення громадського об'єднання до Реєстру громадських об'єднань.</li>

		<li>Якщо за наслідком розгляду зазначених у частині четвертій цієї статті документів встановлено порушення вимог цього Закону, Закону України "Про державну реєстрацію юридичних осіб та фізичних осіб - підприємців", статуту громадського об'єднання при прийнятті рішення про саморозпуск, уповноважений орган з питань реєстрації приймає рішення у формі наказу про відмову у визнанні рішення про саморозпуск громадського об'єднання. Невід'ємним додатком до рішення є висновок, який має бути вмотивованим та містити вичерпні підстави відмови. Копія зазначеного рішення видається (надсилається рекомендованим листом з повідомленням про вручення) громадському об'єднанню не пізніше наступного дня після його прийняття.</li>

		<li>З дня внесення до Єдиного державного реєстру юридичних осіб та фізичних осіб - підприємців запису про рішення громадського об'єднання про саморозпуск розпочинається припинення громадського об'єднання як юридичної особи та набуває повноважень ліквідаційна комісія.</li>

		<li>З дня внесення до Єдиного державного реєстру юридичних осіб та фізичних осіб - підприємців запису про рішення громадського об'єднання про саморозпуск таке рішення не може бути скасоване цим громадським об'єднанням.</li>

		<li>Відмова у визнанні рішення про саморозпуск громадського об'єднання має наслідком втрату чинності зазначеним рішенням.</li>

		<li>Припинення діяльності громадської спілки не має наслідком припинення юридичних осіб - членів цієї спілки.</li>
	</ol>

	<p>Стаття 23. Реорганізація громадського об'єднання</p>
	<ol>

		<li>Реорганізація громадського об'єднання, яке має статус юридичної особи, здійснюється шляхом його приєднання до іншого громадського об'єднання такого самого статусу. Реорганізація здійснюється на підставі рішення громадського об'єднання, яке приєднується, про припинення діяльності з приєднанням до іншого об'єднання та рішення громадського об'єднання, до якого приєднуються, про згоду на таке приєднання.</li>

		<li>Вступ громадської організації або громадської спілки до складу громадської спілки не є реорганізацією громадського об'єднання і не має наслідком припинення його діяльності.</li>

		<li>Про прийняті рішення щодо реорганізації громадського об'єднання шляхом приєднання реорганізоване громадське об'єднання повідомляє уповноважений орган з питань реєстрації. Разом з повідомленням до уповноваженого органу з питань реєстрації подаються:
			<ol>
				<li>рішення, зазначені у частині першій цієї статті;</li>

				<li>документи громадського об'єднання, яке приєднується, зазначені у частині четвертій статті 26 цього Закону;</li>

				<li>документи громадського об'єднання, до якого приєднуються, зазначені у статті 14 цього Закону, якщо внаслідок приєднання громадське об'єднання змінює свій статут та/або найменування.</li>
			</ol>
		</li>

		<li>Якщо за наслідками розгляду зазначених у частині третій цієї статті документів не встановлено порушень вимог цього Закону, Закону України "Про державну реєстрацію юридичних осіб та фізичних осіб - підприємців", статутів громадських об'єднань, уповноважений орган з питань реєстрації забезпечує внесення до Єдиного державного реєстру юридичних осіб та фізичних осіб - підприємців відповідних записів та вносить дані про рішення громадських об'єднань, зазначені у частині першій цієї статті, до Реєстру громадських об'єднань.</li>

		<li>Якщо за наслідком розгляду зазначених у частині третій цієї статті документів встановлено порушення вимог цього Закону, Закону України "Про державну реєстрацію юридичних осіб та фізичних осіб - підприємців", статутів громадських об'єднань при прийнятті рішень щодо реорганізації шляхом приєднання, уповноважений орган з питань реєстрації приймає рішення у формі наказу про відмову у визнанні рішення щодо реорганізації громадського об'єднання. Невід'ємним додатком до рішення уповноваженого органу є висновок, який має бути вмотивованим та містити вичерпні підстави відмови. Копія зазначеного рішення видається (надсилається рекомендованим листом з повідомленням про вручення) громадським об'єднанням не пізніше наступного дня після його прийняття.</li>

		<li>З дня вчинення уповноваженим органом з питань реєстрації дій, зазначених у частині четвертій цієї статті, розпочинається припинення громадського об'єднання. З цього часу керівний орган громадського об'єднання може здійснювати лише повноваження комісії з реорганізації, якщо такі повноваження покладені на нього вищим органом управління громадського об'єднання.</li>

		<li>З дня прийняття уповноваженим органом з питань реєстрації рішення, зазначеного у частині четвертій цієї статті, рішення щодо реорганізації громадського об'єднання не можуть бути скасовані відповідними громадськими об'єднаннями.</li>

		<li>Відмова у визнанні рішення щодо реорганізації громадського об'єднання має наслідком втрату чинності зазначеним рішенням та продовження самостійної діяльності відповідних громадських об'єднань.</li>
	</ol>

	<p>Стаття 24. Заборона громадського об'єднання</p>
	<ol>

		<li>Громадське об'єднання може бути заборонено судом за позовом уповноваженого органу з питань реєстрації в разі виявлення ознак порушення громадським об'єднанням вимог статей 36, 37 Конституції України, статті 4 цього Закону. Заборона громадського об'єднання має наслідком припинення його діяльності у порядку, встановленому цим Законом, та виключення з Реєстру громадських об'єднань.</li>

		<li>Справа про заборону громадського об'єднання розглядається у порядку, встановленому Кодексом адміністративного судочинства України.</li>

		<li>У разі прийняття рішення про заборону громадського об'єднання майно, кошти та інші активи громадського об'єднання за рішенням суду спрямовуються до державного бюджету.</li>

		<li>На виконання рішення суду про заборону громадського об'єднання уповноважений орган з питань реєстрації вносить відповідний запис до Реєстру громадських об'єднань. Припинення діяльності громадського об'єднання, щодо якого прийнято рішення про заборону, здійснюється у порядку, визначеному статтею 29 цього Закону.</li>

		<li>Інші підстави для заборони діяльності громадського об'єднання, крім зазначених у частині першій цієї статті, не допускаються.</li>
	</ol>

	<p>Стаття 25. Порядок припинення громадського об'єднання</p>
	<ol>

		<li> Припинення громадського об'єднання включає:
			<ol>

				<li>припинення внутрішньоорганізаційної діяльності громадського об'єднання</li>

				<li>припинення громадського об'єднання як юридичної особи</li>
			</ol>
		</li>

		<li>Припинення діяльності громадського об'єднання розпочинається з дня, зазначеного у частині восьмій статті 26, частині шостій статті 27 цього Закону, з дня набрання законної сили рішенням суду про заборону цього громадського об'єднання. З цього ж дня припиняється членство (участь) у громадському об'єднанні.</li>

		<li>Припинення внутрішньоорганізаційної діяльності громадського об'єднання, у тому числі передання до відповідних архівних установ документації громадського об'єднання, здійснюється протягом 60 днів з дня, зазначеного у частині другій цієї статті. Протягом встановленого часу управління поточними справами громадського об'єднання, спрямованими на припинення його діяльності, здійснює керівний орган громадського об'єднання. Після завершення зазначених дій діяльність керівного органу громадського об'єднання припиняється (за винятком покладених на нього повноважень ліквідаційної комісії, комісії з реорганізації).</li>

		<li>Припинення громадського об'єднання як юридичної особи не може бути зупинено або скасовано цим об'єднанням після дня, зазначеного у частині другій цієї статті.</li>

		<li>У разі прийняття судом рішення про припинення юридичної особи громадського об'єднання з підстав, зазначених у Законі України "Про державну реєстрацію юридичних осіб та фізичних осіб - підприємців", громадське об'єднання протягом шести місяців в довільній формі повідомляє уповноважений орган з питань реєстрації про продовження діяльності без статусу юридичної особи та надає відомості про особу (осіб), уповноважену представляти громадське об'єднання, в обсязі, визначеному пунктом 3 частини другої статті 16 цього Закону.</li>

		<li>У разі неотримання уповноваженим органом з питань реєстрації протягом шести місяців повідомлення громадського об'єднання про продовження діяльності без статусу юридичної особи уповноважений орган з питань реєстрації вносить до Реєстру громадських об'єднань запис про припинення діяльності громадського об'єднання.</li>
	</ol>

	<p>Стаття 26. Припинення діяльності відокремленого підрозділу іноземної неурядової організації</p>
	<ol>

		<li> Діяльність відокремленого підрозділу іноземної неурядової організації припиняється на підставі:
			<ol>
				<li>рішення іноземної неурядової організації, відокремлений підрозділ якої акредитовано в Україні;</li>

				<li>рішення уповноваженого органу з питань реєстрації у разі закінчення терміну дії довіреності на ім'я керівника відокремленого підрозділу іноземної неурядової організації, оформленої відповідно до законодавства держави, в якій видано довіреність;</li>

				<li>рішення суду про заборону відокремленого підрозділу іноземної неурядової організації.</li>
			</ol>
		</li>

		<li>Уповноважений орган з питань реєстрації вносить до Реєстру громадських об'єднань запис про припинення діяльності відокремленого підрозділу іноземної неурядової організації на підставі письмового повідомлення іноземної неурядової організації протягом трьох робочих днів з дня його отримання.</li>

		<li>Уповноважений орган з питань реєстрації вносить до Реєстру громадських об'єднань запис про припинення діяльності відокремленого підрозділу іноземної неурядової організації у разі, якщо довіреність не продовжена або не видана на новий строк після спливу тридцятиденного строку з дня закінчення строку довіреності.</li>

		<li>Діяльність відокремленого підрозділу іноземної неурядової організації може бути заборонена в судовому порядку у разі порушення таким відокремленим підрозділом положень статей 36, 37 Конституції України, статті 4 цього Закону, положень інших законів, якими встановлюються обмеження щодо утворення і діяльності громадських об'єднань в інтересах національної безпеки та громадського порядку, охорони здоров'я населення або захисту прав і свобод інших людей, за позовом уповноваженого органу з питань реєстрації.</li>

		<li>Справа про заборону відокремленого підрозділу іноземної неурядової організації розглядається у порядку, встановленому Кодексом адміністративного судочинства України.</li>

		<li>У разі припинення акредитації відокремленого підрозділу іноземної неурядової організації уповноважений орган з питань реєстрації приймає рішення про скасування відповідного запису в Реєстрі громадських об'єднань.</li>
	</ol>

	<p>Стаття 27. Відповідальність за порушення законодавства</p>
		<ol>

			<li>Посадові особи органів державної влади, органів влади Автономної Республіки Крим, органів місцевого самоврядування, громадяни, іноземці, особи без громадянства за порушення законодавства про громадські об'єднання несуть відповідальність у порядку, встановленому законом.</li>

			<li>Громадські об'єднання, відокремлені підрозділи іноземних неурядових організацій за порушення законодавства несуть відповідальність, передбачену цим та іншими законами України.</li>

			<li>Участь у діяльності громадського об'єднання, відокремленого підрозділу іноземної неурядової організації, діяльність яких заборонена в судовому порядку, тягне за собою адміністративну відповідальність, якщо законом не передбачено інший вид юридичної відповідальності.</li>
		</ol>

	Розділ V

	<p>ПРИКІНЦЕВІ ТА ПЕРЕХІДНІ ПОЛОЖЕННЯ</p>
	<ol>

		<li>Цей Закон набирає чинності з дня, наступного за днем його опублікування, та вводиться в дію з 1 січня 2013 року.</li>

		<li>Визнати такими, що втратили чинність з дня введення цього Закону в дію:
			<ol>

				<li>Закон України "Про об'єднання громадян" (Відомості Верховної Ради України, 1992 р., № 34, ст. 504; 1993 р., № 46, ст. 427; 1998 р., № 10, ст. 36; 1999 р., № 26, ст. 220; 2001 р., № 9, ст. 38, № 44, ст. 232; 2003 р., № 27, ст. 209, № 30, ст. 247; 2005 р., № 11, ст. 205, № 51, ст. 550; 2006 р., № 26, ст. 215; 2008 р., № 25, ст. 240; 2009 р., № 32-33, ст. 485; 2010 р., № 37, ст. 496; 2011 р., № 6, ст. 41);</li>

				<li>Постанову Верховної Ради України "Про порядок введення в дію Закону України "Про об'єднання громадян" (Відомості Верховної Ради України, 1992 р., № 34, ст. 505).</li>
			</ol>
		</li>

		<li>Права та обов'язки, встановлені законами України для громадських організацій, поширюються на всі громадські об'єднання.</li>

		<li>Громадські організації, їх спілки (союзи, асоціації, інші об'єднання громадських організацій), легалізовані на день введення цього Закону в дію шляхом реєстрації або повідомлення про заснування, не потребують відповідно перереєстрації або повторного подання документів для повідомлення. Статути (положення) громадських організацій, спілок громадських організацій мають бути приведені у відповідність із цим Законом протягом п'яти років з дня введення його в дію. Реєстрація змін до статуту (положення), пов'язаних з введенням цього Закону в дію, здійснюється без справляння плати за реєстраційні дії протягом п'яти років з дня введення цього Закону в дію.</li>

		<li>Вимоги статті 10 цього Закону не поширюються на громадські організації, їх спілки (союзи, асоціації, інші об'єднання громадських організацій), легалізовані на день введення цього Закону в дію шляхом:</li>
			<ol>
				<li>реєстрації - до прийняття такими організаціями, спілками рішень щодо зміни їх назви;</li>

				<li>повідомлення про заснування - до прийняття такими організаціями, спілками рішень щодо зміни їх назви або щодо їх реєстрації як юридичних осіб.</li>
			</ol>

		<li>При застосуванні положення частини четвертої статті 10 цього Закону в частині вимоги відмінності власної назви громадського об'єднання від власних назв інших громадських об'єднань враховуються власні назви громадських об'єднань, які повідомили про своє заснування або внесли зміни до найменування з дня введення цього Закону в дію, та усіх зареєстрованих громадських об'єднань.</li>

		<li>Всеукраїнські та міжнародні громадські організації, зареєстровані на день введення цього Закону в дію, вважаються громадськими організаціями, що підтвердили свій всеукраїнський статус. Місцеві осередки таких громадських організацій можуть враховуватися для цілей частин сьомої - дев'ятої статті 19 цього Закону як їх відокремлені підрозділи протягом строку, визначеного пунктом 8 цього розділу.</li>

		<li>Правовий статус місцевих осередків громадських організацій, які діяли зі статусом юридичної особи на день введення цього Закону в дію, має бути приведений у відповідність із цим Законом протягом п'яти років з дня введення його в дію. Рішення про припинення таких осередків як юридичних осіб приймається вищим органом управління громадської організації. Правонаступником майна, активів та пасивів таких осередків є відповідна громадська організація.</li>

		<li>З дня введення цього Закону в дію спілки громадських організацій (союзи, асоціації, інші об'єднання громадських організацій), легалізовані на день введення цього Закону в дію, визнаються громадськими спілками, утвореними на підставі цього Закону, за якими зберігаються всі права та обов'язки, які вони мали на день введення цього Закону в дію, якщо вони не суперечать цьому Закону.</li>

		<li>Громадські організації, їх спілки (союзи, асоціації, інші об'єднання громадських організацій), крім громадських організацій та спілок, зареєстрованих виконавчими органами сільських, селищних, міських рад, мають право протягом двох років з дня введення цього Закону в дію звернутися до органу, який здійснював їх реєстрацію до дня введення цього Закону в дію, із заявою про передачу їхніх справ до уповноваженого органу з питань реєстрації за своїм місцезнаходженням з метою проведення реєстраційних дій. Така справа передається відповідному органу протягом трьох робочих днів з дня надходження заяви. Після закінчення дворічного строку органи, які здійснювали реєстрацію громадських організацій та спілок до ведення в дію цього Закону, забезпечують пересилання реєстраційних справ громадських організацій та спілок до уповноважених органів з питань реєстрації за місцезнаходженням громадських організацій та спілок.</li>

		<li>Громадські організації, їх спілки (союзи, асоціації, інші об'єднання громадських організацій), легалізовані на день введення цього Закону в дію, подають (надсилають поштовим відправленням) документи для вчинення реєстраційних дій до уповноваженого органу з питань реєстрації за своїм місцезнаходженням. Строк розгляду повідомлення про зміни до статуту, зміну у складі керівних органів, зміну місцезнаходження громадських організацій та спілок, зазначених у цьому пункті, продовжується на час пересилання реєстраційних справ громадських організацій та спілок. Для формування реєстраційних справ громадських організацій та спілок, зареєстрованих виконавчими органами сільських, селищних, міських рад, документи подаються разом з копіями статутів (положень) та свідоцтв про реєстрацію громадської організації, спілки, засвідченими печаткою такої організації, спілки.</li>

		<li>Виконавчим органам сільських, селищних, міських рад, які здійснювали делеговані повноваження щодо реєстрації громадських організацій, до дня введення цього Закону в дію забезпечити передачу уповноваженому органу з питань реєстрації відомостей щодо громадських організацій, зареєстрованих (легалізованих) відповідними виконавчими органами на день набрання чинності цим Законом, та щодо реєстраційних дій, які вчинятимуться відповідними виконавчими органами з дня набрання цим Законом чинності до дня введення його в дію. У разі наявності розбіжностей між відомостями, переданими виконавчими органами сільських, селищних, міських рад, та відомостями, наданими громадськими організаціями та спілками відповідно до пункту 11 цього розділу, уповноважений орган з питань реєстрації бере до уваги відомості, надані виконавчими органами сільських, селищних, міських рад.</li>

		<li>Громадські організації, легалізовані на день введення цього Закону в дію шляхом повідомлення про заснування, протягом шести місяців з дня введення цього Закону в дію визначають особу (осіб), уповноважену представляти громадське об'єднання, з дотриманням вимог частини шостої статті 9 цього Закону та подають відомості щодо цієї особи (осіб), передбачені пунктом 3 частини другої статті 16 цього Закону, до уповноваженого органу з питань реєстрації.</li>

		<li>Кабінету Міністрів України з метою створення належних умов для реалізації цього Закону:
			<ol>
				<li>у шестимісячний строк з дня набрання чинності цим Законом підготувати та внести на розгляд Верховної Ради України пропозиції про внесення змін до законодавчих актів України у зв'язку з прийняттям цього Закону;</li>

				<li>вжити заходів до приведення у відповідність із цим Законом підзаконних нормативно-правових актів, забезпечивши набрання ними чинності одночасно з введенням у дію цього Закону, шляхом:
					<ol>

						<li>приведення своїх нормативно-правових актів у відповідність із цим Законом, прийняття нормативно-правових актів, передбачених цим Законом;</li>

						<li>забезпечення приведення нормативно-правових актів міністерств та інших центральних органів виконавчої влади у відповідність із цим Законом та прийняття ними нормативно-правових актів, передбачених цим Законом;</li>

						<li>визначення порядку ведення Реєстру громадських об'єднань та обміну відомостями між цим Реєстром і Єдиним державним реєстром юридичних осіб та фізичних осіб - підприємців;</li>
				</li>
					</ol>
			</ol>
		</li>

		<li>забезпечити на момент введення в дію цього Закону функціонування Реєстру громадських об'єднань на основі Єдиного реєстру громадських формувань;</li>

		<li>вжити інших заходів до реалізації цього Закону.</li>

	</ol>
	<p>Президент України</p>

	<p>В.ЯНУКОВИЧ</ol>

	<p>м. Київ</p>

	<p>22 березня 2012 року</p>

	<p>№ 4572-VI</p>

	<h3>Коментарі щодо проекту Закону України</h3>

	<h3>«Про аграрний туризмта агротуристичну діяльність»,</h3>

	<h3>який оприлюднено на сайті Міністерства аграрної політики України (www.minagro.kiev.ua)</h3>

	<p>Оприлюднений 24 лютого 2009 року на сайті Міністерством аграрної політики проект закону України «Про аграрний туризм та агротуристичну діяльність» не відповідає методологічно-правовим вимогам та існуючій практиці сільського туризму України.</p>

	<p>Доробка міністерством важливого законопроекту «Про сільський туризм», на жаль, завершилась розробкою нового вузьковідомчого законопроекту, який не може служити фундаментальною законодавчою базою для багатоаспектної діяльності у сфері сільського туризму. Спрощення підходу до проблематики організації відпочинку на селі та механічна заміна поняття «сільський туризм» на «агротуризм» у запропонованому документі йдуть врозріз з міжнародною та національною практикою організаційно-правового забезпечення цієї галузі.</p>

	<p>Для вияснення зазначеної вище проблематики наведемо кілька важливих у міжнародній та національній практиці підходів  до сільського туризму та агротуризму:</p>

	<p>З 70-80-х р.р. ХХ століття Всесвітня Туристична Організація у своїх документах визнає як окремий вид діяльності «сільський туризм». У європейських науково-методичних і практично-ринкових традиціях сільський туризм розглядається як окремий вид туризму у сільських місцевостях, а агротуризм – як складова (форма) сільського туризму. Тобто, сільський туризм розглядають як ширше поняття, яке включає в себе агротуристичну діяльність. Як свідчать статистичні дані кінця 90-х років щодо поїздок європейців у сільську місцевість, то лише 20-25% зі всієї кількості прибулих користувались агротуристичною базою.</p>

	<p>Сільський туризм може ефективно розвиватися та функціонувати на таких територіях:</p>

	<p>національні парки і специфічні території, що охороняються; села; зони відпочинку і дачні зони; лісовий фонд; природні феномени; монастирі і священні місця; малі міста з характерною архітектурою, побутом, культурою; пам'ятки народної культури під відкритим небом.</p>

	<p>Сільський туризм може бути надзвичайно важливим економічним фактором розвитку та стабільності для сільських регіонів, особливо тих де неможливо розвивати сільське господарства або інші види діяльності, наприклад, в гірській місцевості Карпат та Криму.</p>

	<p>Практика становлення та нормативного забезпечення сільського туризму в Україні засвідчила підтримку цього поняття на формальному і неформальному рівні. Зокрема, термін «сільський туризм» був включений у закони України «Про туризм», «Про особисте селянське господарство», «Про сільськогосподарську дорадчу діяльність», у Державну цільову програму розвитку українського села на період до 2015 року, ряду Указів Президента Україні та розпоряджень Уряду України. Цей термін є базовим у проекті Закону України «Про сільський туризм» та проекті Національного стандарту</p>

	<p>«Послуги туристичні. Туризм сільський.Загальні вимоги».</p>

	<p>Протягом останніх 10-15 років десятки тисяч жителів сіл України, які займаються сільськогосподарською діяльністю, зайняті у сфері обслуговування, соціальній сфері села - здійснюють діяльність у сфері сільського туризму, надаючи житлові приміщення, які пристосовані для проживання туристів і належать на правах приватної власності господарю.</p>

	<p>Українські громадські організації з сільського туризму (всеукраїнська Спілка сприяння розвитку сільського зеленого туризму та Кримський Союз) увійшли у Європейську федерацію з сільського та фермерського туризму.</p>

	<p>З 1996 року Спілкою сприяння розвитку сільського зеленого туризму в Україні створюється система сільського туризму, зокрема,  вагомий внесок у популяризацію сільського туризму, надання порад та рекомендацій вносить журнал «Туризм сільський зелений», щорічно проводиться всеукраїнська виставка-ярмарок “Українське село запрошує”. З метою поліпшення якості введена добровільні екологічна сертифікація садиб сільського туризму «Зелена садиба» та категоризація «Українська гостинна садиба». Започаткована діяльність Школи сільського зеленого туризму. Підготовлено та видано каталоги, путівники та навчальні посібники. Осередки та відділення всеукраїнської Спілки діють у 19 областях та АР Крим.</p>

	<p>На національному і міжнародному туристичних ринках успішно функціонують маркетингові бренди: «сільський зелений туризм» та «запрошуємо в українське село».</p>

	<p>Проведені детальні дослідження у західному регіоні (Львівська, Івано-Франківська, Закарпатська, Чернівецька, Волинська, Тернопільська та Хмельницька області), на які припадає близько 60% активно функціонуючих агроосель в Україні засвідчила, що тільки 15-20% з них надають послуги традиційного агротуризму (спостереження за сільськогосподарськими роботами, догляд за домашніми тваринами).</p>

	<p>Тісна прив’язка надавачів послуг агротуризму до особистого селянського господарства не охоплює всього кола осіб, які насправді діють у цій сфері. Адже особисті селянські господарства – це лише один із чотирьох видів домогосподарств, які займаються сільськогосподарською діяльністю. Окрім них, до категорії господарств населення, які виробляють сільськогосподарську продукцію, відносяться домогосподарства, що отримали земельну ділянку для будівництва і обслуговування житла, індивідуального садівництва і городництва. За статистичними даними кількість сільських  домогосподарств, які мали земельні ділянки, у 2006 р. становила 5356,4 тис., а кількість особистих селянських господарств – 4817,8 тис., тобто на півмільйона менше.</p>

	<p>Як показує всебічний аналіз підготовленого законопроекту «Про аграрний туризм та агротуристичну діяльність» його розробники не врахували міжнародних традицій сільського туризму та його реальної практики в Україні. Зокрема, як свідчить європейський досвід нормативно-законодавче та організаційне забезпечення у сільському туризмі регулюється двома державними відомствами – органами управління туристичної галузі та агропромислового сектору. При цьому загальні правила функціонування встановлюються туристичним відомством, а конкретні механізми діяльності – аграрним відомством. Зокрема, автори законопроекту використали термінологію (агротуризм, агротуристичне господарство), що використовується у практиці сільського туризму Польщі, але не проаналізували всебічно механізми правового і організаційного його функціонування у цій країні. У Польщі допуск агроосель на ринок здійснюється туристичним відомством при умові виконання квартиродавцями мінімальних вимог, які встановлені відповідними стандартами. Служби аграрного відомства цієї країни відповідають за питання навчання та консультування власників осель, здійснення кредитної політики. У Польщі, так і в Європейському Союзі в цілому, немає визначених юридичних норм і категорій, які відносяться до агротуристичних послуг. Однак організації, які об’єднують послугодавців, наприклад,  Польська федерація сільського туризму «Гостинні господарства», впроваджує власні пакети категоризації та видають господарствам відповідний знак якості у сфері сільського туризму.</p>

	<p>У пропонованому законопроекті, на жаль, не передбачено співпрацю з туристичним відомством та суб’єктами туристичної діяльності. Саме ця співпраця є стрижневою у законопроекті «Про сільський туризм», що опирався на два базових закони «Про туризм» і «Про особисте селянське господарство».</p>

	<p>Разом з тим відмічаємо, що запропонований законопроект, охоплюючи лише окремий аспект сільського туризму – агротуристичний, може бути важливим доповненням до підготовленого раніше законопроекту «Про сільський туризм».</p>

	<p>На нашу думку, об’єднаними зусиллями двох відомств – туристичного і аграрного – за активної участі Спілки сприяння розвитку сільського зеленого туризму і Дорадчої служби, вартує підготувати новий варіант законопроекту з назвою «Про сільський туризм і агротуризм», який означив би державну політику щодо сільського туризму в цілому та його перспективної форми – агротуризму.</p>

	<p>Спілка сприяння розвитку сільського зеленого туризму в Україні</p>

	<p>04 березня 2009 року</p>
</div>