<p class="info">Демчук Тетяна Василівна

</p>
<p class="info">Ківерцівський район</p>
<p class="info">(03322)5-55-42</p>




<hr>
<p>Садиба розміщена поблизу лісу на березі чистого озера. Ви зможете купатись досхочу, ніжитись на сонці, плавати у човні, ловити рибу та раки, готувати запашну юшку.</p>
<p>Гратися з домашніми улюбленцями.</p>
<p>А відчуття сили та здоров’я Вам принесе склянка парного молока із шматком духмяного домашнього хліба.</p>
<p>Прясти, ткати, вишивати, в’язати Ви зможете теж саме в Садибі "Лебедина вірність”.</p>

















