<p class="info">Соботович Анатолій Максимович</p>
<p class="info">Ратнівський район</p>
<p class="info">0979511370</p>

<hr>
<p>Умови перебування та послуги:</p>
<p>Господиня пропонує двомісні кімнати. Туалет в будинку або на подвір’ї, є  ванна, телефон.</p>
<p>Можливість користуватися кухнею, пральною машиною, паркування машини в гаражі.</p>
<p>Господар приймає відпочиваючих з дітьми.</p>
<p>В господарстві є корова. Господар пропонує домашній хліб, страви домашньої кухні.</p>
<p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні, катання на конях (отримати уроки верхової їзди).</p>
<p>Медична допомога (медпункт) і пошта знаходяться на відстані 400 м.</p>
