<p class="info">Шевчук Галина Михайлівна</p>
<p class="info">Ковельський район</p>
<p class="info">0505468992</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує для відпочиваючих 2 двомісних кімнати.</p>
    <p>Туалет на вулиці. Є колодязь.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, мікрохвильовою піччю, радіоприймачем, дивитись телевізор.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, коза, порося, домашня птиця.</p>
    <p>Господиня пропонує за бажанням навчити вишиванню та в’язанню.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 1км, а переговорний пункт -7 км.</p>



