<p class="info">Яцишина Євгенія Володимирівна</p>
<p class="info">Луцький район</p>
<p class="info">0975685134 </p>







<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня має одноповерховий цегляний будинок. Пропонує 3 кімнати.  Туалет в будинку та на подвір’ї, душ, ванна.</p>
    <p>Можливість дивитися телевізор та користуватися пральною машиною, холодильником, радіоприймачем, кухнею.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є порося, домашня птиця. Є сад, город, квітник, виноградник.</p>
    <p>Господиня пропонує страви української кухні та навчить лікуванню лікарськими травами.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 1 км та переговорний пункт знаходяться на відстані 10 км.</p>





















