<h1>
	Вступ до членів Спілки СЗТ України, заява, анкета та рахунок
</h1>

<div class="body">

	<p>Вступ до членів ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні"</p>


	<p>Прийняття до членів Спілки СЗТУ здійснюється на підставі особистої заяви.</p>

	<p>Нижче подаємо зразок заяви.</p>

	<p>Особиста заява</p>
		<div class="center">
			<p>Правлінню ГО "Спілка сприяння розвитку сільського  зеленого туризму в Україні"</p>

			<p>від  Томашенка Василя Олексійовича,</p>
			<p>вчителя середньої школи,</p>
			<p>проживаючого за адресою:</p>
			<p>вул. Сільська, буд. 6, села Володарка, Жашківського району,</p>
			<p>Київської області, поштовий індекс 02067</p>
			<p>тел (0364) 7-38-42</p>
			<p>факс:не маю</p>
			<p>e-mail: не маю</p>
			<p>Діяльність полягатиме у наданні послуг гостинності у</p>
			<p>власній садибі особистого селянського господарства.</p>
			<p>(або інші послуги)</p>
		</div>
	<h2>
		Заява
	</h2>
	<p>Прошу прийняти мене до членів ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні". З статутом Спілки СЗТУ ознайомлений і згоден  виконувати його положення. Не заперечую щодо поширення моїх даних (П.І.Б., контактів і т.д.) в друкованих та електронних засобах інформації, які поширює ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні".</p>
	<p>Дата                                                                                                                                          Підпис</p>
	<h2>
		Памятка члену ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні"
	</h2>
	<ol>
		<li>
			<p>Розмір внеску члена Спілки СЗТУ</p>
			<p>Благодійний внесок на рік становить 50 грн.</p>
			<p>Річні внески сплачуються щорічно у першому кварталі на p/p 26002056204505 у ПАТ КБ «ПриватБанк», Столична філія, МФО 380269, код 21655662.</p>
			<p>Підстава: благодійний внесок у сумі ______грн за ______ рік від ___________________ (вказується П.І.Б.).  Отримувач: ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні".</p>
		</li>


		<li>
			<p>Передплата журналу «Туризм сільський зелений»</p>
			<p>ГО "Спілка сприяння розвитку сільського зеленого туризму в Україні" видає науково-популярний журнал “Туризм сільський зелений”. Члени Спілки отримують інформацію через журнал, який можна передплатити у будь-якому поштовому відділенні. Передплатний індекс – 40307. Або безпосередньо в редакції журналу. Для власників садиб та організаторів - поради та рекомендації щодо надання послуг у сфері сільського туризму, успішні практики та досвід, нормативно-правове забезпечення.</p>
		</li>
		<li>
			<p>Корпоративний сайт «Сільський зелений туризм в Україні» (http://www.greentour.com.ua)</p>

			<p>Для поширення інформації про можливості сільського туризму України, досвід, законодавство, програми тощо функціонує корпоративний сайт www.greentour.com.uа.</p>
			<p>Власники садиб-члени Спілки мають можливість розміщувати свою інформації у розділі "КАТАЛОГ" даного сайту. Для цього необхідно: бути членом Спілки, сплатити річний благодійний внесок, надіслати заповнену та підписану анкету, до 10 фото гарної якості. За бажанням увійти до мережі "Українська гостинна садиба" рекомендуємо ознайомитися з розділом  "КАТЕГОРИЗАЦІЯ", направити заяву у Спілку щодо проведення категоризації (форма заяви у цьому ж розділі) та обумовити терміни відвідування вашої садиби експертом-консультантом з категоризації. Після проведення категоризації вам буде вручено Знак "Українська гостинна садиба" відповідного рівня, сертифікат на 3 роки, садиба буде розміщена на відповідному рівні мережі "Українська гостинна садиба".</p>
		</li>
	</ol>
	<h2>
		А Н К Е Т А
	</h2>
	<h3>
		власника садиби сільського зеленого туризму
	</h3>
	<h4>
		(будемо вдячні, якщо анкета буде розбірливо та повністю заповнена, бажано трьома мова)
	</h4>
	<p>Власна назва агротуристичного об’єкту (садиби, особистого селянського господарства тощо)

	<p>українською________________________________________________________________</p>

	<p>російською_________________________________________________________________</p>

	<p>англійською_________________________________________________________________</p>



	<p>П.І.Б власника</p>

	<p>українською_________________________________________________________________</p>

	<p>російською _________________________________________________________________</p>

	<p>англійською_________________________________________________________________</p>



	<p>Поштова  адреса (індекс), телефон (код), e-mail, сайт</p>

	<p>українською_________________________________________________________________</p>

	<p>російською _________________________________________________________________</p>

	<p>англійською_________________________________________________________________</p>



	<p>Характеристика житлового будинку (підкреслити):</p>

	<p>рік забудови__________________</p>

	<p>побудований з цегли, дерева, ракушняку інше _________________________________</p>

	<p>кількість поверхів_____________</p>

	<p>вода: стаціонарна у домі, колонка, колодязь (підкреслити)</p>

	<p>кухня: газова, електрична плита, піч, камін, літня кухня (підкреслити)</p>

	<p>вхід до будинку: окремий / спільний з господарями (підкреслити)</p>



	<p>Зареєстрований(а): як ФО-СПД,  як особисте селянське господарство, як ТзОВ (підкреслити):</p>

	<p>Де проходив(ла) навчання або стажування по цій темі______________________________</p>

	<p>Маю сертифікати:</p>

	<p>Програми «Українська гостинна садиба» ______ рівня. Дійсний до ________________</p>

	<p>Програми “Зелена садиба”   ____   рівня.   Дійсний до   _____________________</p>

	<p>Інші сертифікати__________________________________________________________</p>

	<p>Господар/господиня майстри народних промислів:</p>

	<p>яких саме____________________________________</p>
	<p>Відпочиваючим надаватимуться:</p>

	<p>окремі кімнати:                  одномісні      ______площею___________м2</p>

	<p>двомісні        ______ площею___________м2</p>

	<p>тримісні        ______ площею___________м2</p>

	<p>окремий будинок, котедж        Всього місць в окремому будинку _______</p>

	<p>санітарні місця:</p>


	<p>туалет в будинку     так / ні</p>

	<p>ванна                      так / ні</p>

	<p>душ                        так / ні</p>

	<p>сауна (баня)            так / ні</p>

	<p>можна користуватися кухнею для приготування їжі   так / ні</p>

	<p>можна паркувати автомобіль у гаражі         так / ні</p>

	<p>можна привозити домашню тварину          так / ні</p>

	<p>можна користуватися пральною машиною                так / ні</p>

	<p>можна перебувати з дітьми                         так / ні</p>

	<p>можна дивитися телевізор                          так / ні</p>

	<p>можна користуватися холодильником       так / ні</p>

	<p>можна користуватися телефоном              так / ні</p>

	<p>є можливість доступу до Інтернету           так / ні</p>

	<p>у господарстві є:</p>

	<p>пасіка                  так / ні</p>

	<p>корова                 так / ні</p>

	<p>коза                     так / ні</p>

	<p>вівці                    так / ні</p>

	<p>порося                так / ні</p>

	<p>домашнья птиця             так / ні</p>

	<p>господиня випікає хліб    так / ні</p>

	<p>господар володіє англійською мовою   так / ні</p>



	<p>Віддаленість від садиби:</p>

	<p>автобусна (залізнична) станція    ____км.</p>

	<p>медична допомога            ____км.</p>

	<p>музей, історичні пам’ятки         ____км.</p>

	<p>ресторан, кафе, бар                 ____км.</p>

	<p>магазин, базар                         ____км.</p>

	<p>переговорний пункт, пошта    ____км.</p>

	<p>можливість їздити на конях    ____км.</p>

	<p>можливість полювати              ____км.</p>

	<p>можливість ловити рибу         ____км.</p>

	<p>можливість купатися               ____км.</p>

	<p>можливість покататися у човні    ____км.</p>

	<p>можливість кататися на велосипеді ____км</p>

	<p>можливість кататися на лижах         ____км</p>
	<p>Період, коли можу  приймати відпочиваючих: від________________до_________________</p>



	<p>інші пропозиції _____________________________________________</p>



	<p>Є  членом Спілки сприяння розвитку сільського зеленого туризму в Україні?     так / ні</p>



	<p>Ціни:                                               зима                   літо      у міжсезоння</p>

	<p>Ліжко /1 ніч/1 особа/                    _____               _____             ____          грн.</p>

	<p>Сніданок                                       _____               _____             ____           грн.</p>

	<p>Дворазове харчування                 _____               _____             ____            грн</p>

	<p>Триразове харчування                 _____               _____             ____            грн.</p>



	<p>Короткий опис запрошення від господаря (до 2 тис. слів з пробілами):</p>

	<p>українською</p>













	<p>російською</p>















	<p>англійською (за бажанням)</p>















	<p>Не заперечую щодо розміщення моїх даних (прізвище, ім`я, по батькові, контактна адреса, телефони та інша інформація, яка стосується мене та розвитку сільського зеленого туризму) в друкованих та електронних носіях, які поширює Спілка сприяння розвитку сільського зеленого туризму в Україні.</p>



	<p>Підпис господаря                                                                                         Дата</p>



	<p>До анкети додаються фотографії садиби (бажано - інтер`єру та місцевості тощо).</p>

	<p>Заповнену,  підписану та скановану Анкету надсилати на адресу: vgt951@gmail.com</p>

	<p>Або на папері на адресу: 04209, м.Київ, а/с 4, В.П.Васильєву</p>

	<p>Для контактів: тел. 044 223-38-17</p>

</div>