<p class="info">Кашуба
    Ніна Степанівна

</p>
<p class="info">Турійський  район</p>
<p class="info">0505684527 </p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує 2 двомісних кімнати. Туалет в будинку, є  душ, ванна, сауна, баня.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, телевізором, мікрохвильовою піччю, телефоном.</p>
    <p>Проживання  -1особа /1 ніч /1 ліжко -50 грн., 15 грн. –сніданок., дворазове харчування -40 грн., триразове харчування  -до 50 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>Відпочиваючі мають можливість полювати, ловити рибу, купатися, кататися в човні, навчитися верховій їзді.</p>
    <p>В господарстві є домашня птиця.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 1км, а переговорний пункт -2 км.</p>







































