<p class="info">Чухарук Валентина Іванівна

</p>
<p class="info">Шацький район</p>
<p class="info">0968144234 </p>


<hr>
<p>На території Екзотичної садиби:</p>
    <ol>
        <li>Екзотичні тварини;</li>
        <li>Лодка для риболовлі;</li>
        <li>Місце для автомобіля;</li>
        <li>Місток для виходу на озеро;</li>
        <li>Затишні кімнати;</li>
        <li>Кухня з усіма зручностями;</li>
        <li>Ванна кімната.</li>
    </ol>











