<p class="info">Мазур Інна Валентинівна

</p>
<p class="info">Шацький район</p>
<p class="info">0951206750 </p>


<hr>
    <p>Комфортабельні двомісні номери:</p>
        <ol>
            <li>сауна</li>
            <li>душ</li>
            <li>телевізор</li>
            <li>холодильник</li>
            <li>місце для паркінгу.</li>
        </ol>











