<p class="info">Сергій
    Сергій


</p>
<p class="info">Шацький район</p>
<p class="info">0673802100 </p>




<hr>
<p>Ми пропонуємо відпочинок у комфортабельному деревяному смерековому будинку який поділений на 4 номера.</p>
<p>Номер складається з коридору, ванної, санвузла з гарячою та холодною водою, двох кімнат 12 м.кв та 18 м.кв., кухонного куточку та тераси 12 м.кв. з виглядом на озеро та розрахований на 4-5 дорослих осіби.</p>
<p>Ціни:</p>
<p>Вартість відпочинку в одному 4-х містному номері від 650 грн. На добу. Харчування оплачується додатково.</p>












