<p class="info">Іванісік Валентина Олексіївна</p>
<p class="info">Любешівський район</p>
<p class="info">(03362)2-36-32</p>



<hr>
<p>Оздоровитись у лагідних хвилях озера Люб’язя, доторкнутись до автентичної природи, посмакувати юшкою з щуки – раді гостям завжди. Навчимо вишивати, гаптувати, випікати домашній хліб, готувати старовинні поліські страви в печі.</p>
<p>В садибі є 1-, 2-, 3-місні кімнати. Всі побутові зручності, санвузол в будинку.</p>
<p>Готові приймати гостей цілий рік.</p>












