    <h1>
    Міжнародний досвід
</h1>
<div class="body">
    <p>Досвід окремих країн,</p>
    <p>проблеми законодавства України</p>

    <p>ПРАВОВЕ РЕГУЛЮВАННЯ СІЛЬСЬКОГО ТУРИЗМУ</p>

    <p>Сільський туризм в Україні набуває поширення, як в курортних регіонах, так і в більшості областей України. Є потреба наявні соціально-економічні передумови, ініціативу громадських організацій поєднати з далекоглядною політикою з боку держави щодо стимулювання розвитку відпочинку на селі.</p>



    <p>Це дослідження ставить за мету шляхом аналізу законодавств деяких європейських країн стосовно регулювання відносин у сфері сільського туризму, порівняння окремих форм та засобів правового регулювання в різних національних правових системах та з’ясування тих загальних принципів яких потрібно дотримуватись при формуванні вітчизняного законодавств, сприяти запозиченню позитивного європейського досвіду, тим самим прискорити розв’язання низки складних завдань які вимагають свого вирішення у законодавстві Україні.</p>

    <p>Агротуристична діяльность в РЕСПУБЛІЦІ ПОЛЬЩА.</p>

    <p>Як назва цієї форми діяльності у Польщі традиційно використовується словосполучення “господарська гостинність”</p>
    <p>З метою підтримки селян, які бажають розпочати діяльність у сфері сільського туризму та тих, які вже надають такі послуги відпочиваючим на базі своїх господарств не поширюється закон, нормативний текст якого містить вичерпні критерії господарської (підприємницької) діяльності, та визначення понять підприємця та підприємства.</p>
    <p>При цьому право, що надає можливість вести повноцінне господарювання, але при цьому не бути обтяженим зобов’язаннями, які покладаються законодавством на решта підприємців вимагає чіткого визначення наступних ключових понять:</p>
    -до послуг сільського туризму слід відносити надання господарями відпочиваючим в оренду кімнати (тобто не окремі місця – ліжка), окремі будинки, чи житлові причепи, місця під розбивки наметів; продажу домашніх страв; а також можуть надаватись інші послуги які пов’язані з перебуванням у даному конкретному господарстві, тобто пов’язаних з господарською діяльністю саме у цьому господарстві.
    - селянина, який має право надавати послуги по сільському туризму,  слід вважати господарем, який займається сільськогосподарською діяльністю самостійно за власний рахунок і є самостійним власником сільського господарства
    -слід також розуміти, що надання послуги у сільському господарстві означає використання з цією метою землі, будівель, та інших засобів цього господарства без зміни їх характеру та порушення їх основної функції – здійснення сільськогосподарського виробництва.
    <p>Таким чином, конкретне визначення у законодавстві Польщі понять “агротуристичні послуги”, “селянин (господар)”, “сільське (селянське) господарство” надає можливість чітко відмежувати діяльність у сфері сільського туризму від інших видів туристичних послуг, які надаються у сільській місцевості, але які законодавством віднесені до сфери підприємницької діяльності.</p>
    <p>Як, це вже вище було зазначено діяльність у сфері сільського туризму не належить до підприємницької діяльності. Тому грошові винагороди за такі послуги не підлягають оподаткуванню податком на додану вартість. Законодавство також передбачає, при певних умовах, цілковите звільнення отриманих доходів і від податку на доходи фізичних осіб, І передбачає звільнення від оподаткування доходів, які отримані від здачі кімнат особами при наступних умовах:</p>
    житловий будинок в якій здаються кімнати належить до сільського господарства;
    житлові кімнати здаються відпочиваючим, тобто не сезонним робочим, або іншим особам на тривалий термін;
    кімнати, які здаються, знаходяться у житловому будинку, а не в іншому спеціально пристосованій будівлі;
    житловий будинок знаходиться на сільській території;
    число кімнат, які здаються не перевищує 5.
    <p>Особа, яка отримує доход від здачі кімнат відпочиваючим та відповідає вищенаведеним критеріям звільняється від оплати податку з таких доходів незалежно від величини доходу отриманого з інших джерел.</p>

    <p>Інші умови здійснення діяльності у сфері сільського туризму</p>

    <P>Дозвіл на здійснення діяльності.</p>
    <P>Господарі, на відміну від підприємців, звільнені від обов’язку реєстрації своєї діяльності в органах місцевої влади. Тобто, законодавство не передбачає для здійснення цієї діяльності сільськими господарями (селянами) отримання будь-яких дозволів від органів влади.</p>
    <P>Санітарні умови.</p>
    <P>Нормативні акти, якими регулюються санітарно-гігієнічні умови при прийомі гостей у готелях пансіонатах та подібних закладах до об’єктів сільського туризму не застосовуються. Санітарні умови проживання та харчування відпочиваючих повинні відповідати мінімальним умовам, які передбачені нормативними актами для помешкань та умов проживання у будинках садибного типу.</p>
    <P>Приміщення.</p>
    <P>Господарства які надають послуги у сфері сільського туризму повинні відповідати відповідним вимогам:</p>
    <P>Наявність одного, санітарного вузла з проточною водою на 15 відпочиваючих.</p>
    <P>Спальна кімната для гостей на 1-2 особи повинна мати площу не менше 2 квадратних метрів</p>
    <P>Встановлений мінімальний перелік меблів,</p>
    <P>Кімнати повинні мати електричне освітлення.</p>
    <P>Приміщення, крім тих, які використовуються виключно в літній період, повинні бути обладнані опалювальними пристроями.</p>
    <P>Вимоги до обслуговуючого персоналу</p>
    <P>Законодавство не передбачає спеціальних санітарних вимог до персоналу, яке залучається до діяльності по сільському туризму. Але відпочиваючі вправі, вимагати від осіб, які виконують роботи по заміні постільної білизни та по приготуванню страв медичну довідку про стан здоров’я.</p>
    <P>Вимоги до умов харчування.</p>
    <P>Вимоги нормативних документів, які регулюють умови громадського харчування до умов сільського туризму не застосовуються, адже вони не стосуються продуктів споживання, які виготовляються, зберігаються і споживаються виключно у власному домашньому господарстві для задоволення власних потреб. В зв’язку з тим, що ці продукти споживаються не тільки господарями, у стадії підготовки знаходиться спеціальний нормативний акт стосовно встановлення мінімальних правил харчування відпочиваючих в агросадибах.</p>
    <P>Протипожежні умови.</p>
    <P>До будівництва та експлуатації будинків та інших споруд, які використовуються для прийому відпочиваючих застосовуються загальні протипожежні правила, які стосуються пожежної безпеки житлових будинків та інших відповідних споруд.</p>
    <P>Реєстрація відпочиваючих.</p>
    <P>Законодавство Польщі передбачає реєстрацію фізичних осіб у місцях їх постійного а також тимчасового проживання. У в’язку з цим, господар повинен вести спеціальний журнал реєстрації в який заносить особисті дані громадянина та ідентифікаційні ознаки документа, що засвідчує особу, а також час прибуття та вибуття відпочиваючих з господарства. Встановлений спеціальний порядок реєстрації іноземців</p>
    <P>Цивільна відповідальність господарів</p>
    <P>Причиною виникнення цивільної відповідальності може бути невиконання, або неналежне виконання умов домовленостей між сторонами а також нанесення шкоди. Така відповідальність реалізується шляхом відшкодування вартості нанесених збитків. Взаємні права та обов’язки сторін визначаються договором укладеним між сторонами (договір може бути укладений як в письмовій так і в усній формі), законодавчо врегульовані Цивільним Кодексом. Тобто спеціальними нормативними актами відповідальність сторін при здійсненні діяльності у сфері сільського туризму не регулюється.</p>
    <P>Страхування майна та відповідальності</p>
    <P>Страхування майна, що використовується у процесі діяльності у сфері сільського туризму та страхування ризиків та відповідальності здійснюється відповідно до чинного законодавства, яка не передбачає жодних особливостей пов’язаних з цією діяльністю.</p>

    <P>Подібно до Польського законодавства відбувається правове регулювання сільського туризму й в УГОРСЬКІЙ РЕСПУБЛІЦІ.</p>



    <P>Законодавство Угорщини також не містить спеціальне визначення сільського (зеленого, аграрного) туризму. В Угорщині традиційно вживаються словосполучення: “сільська хутірська гостинність”, “сільський туризм”, “сільський аграрний туризм” тощо. Причина такого стану у тому, що ця діяльність, за звичай, вважається різновидом робіт і послуг які традиційно виконуються (надаються) сільськими господарями у процесі свого газдування у своїх сімейних господарствах на базі своїх садиб. Тому, загальні правила, які стосуються діяльності у сфері сільського туризму, визначені у нормативних актах щодо введення сімейних господарств, без встановлення будь-яких додаткових обов’язків або обмежень у господарській діяльності для тих, хто займається і цією діяльністю. Відповідно до угорського законодавства регулювання відносин, що виникають при здійсненні господарювання у сімейних агрогосподарствах не підпадає під дію нормативних актів якими регулюються відносини у сфері підприємництва. І відповідно, не підлягають оподаткуванню особисті доходи отримані від використання для відпочинку власного житла, розташованого у сільський та у хутірській місцевості, яка не віднесена до санаторно-курортних зон, при умові, якщо таке використання не перевищує 10 (десять) ліжко-місць, а річний дохід від цієї діяльності не перевищує 300 тис. форинтів (10 мінімальних місячних зарплат), місце постійного помешкання особи знаходиться у нерухомості яка використовується”.</p>
    <P>Виняток являють собою спеціальні пільги та переваги для сімейних господарств, які займаються, або виявили бажання зайнятися діяльністю у сфері сільського туризму, у випадку їх розташування на території сільських поселень у економічно слаборозвинутих, визнаних законодавчо економічно депресивними, регіонах. Отримання таких пільг та переваг відбувається на конкурсних засадах, наприклад, допомога для розвитку агротуризму, сільської гостинності, спрямована на реконструкцію та ремонт житлових будинків. Такі проекти можуть отримати матеріальну підтримку у формі кредиту у розмірі до 2-х мільйонів форинтів (орієнтовно 8 тисяч доларів США), які в разі успішної реалізації проекту поверненню не підлягають.</p>
    <P>Державних стандарти спеціально для цієї діяльності відсутні. Будинки і споруди, на базі яких здійснюється діяльність повинні відповідати державним стандартам які стосуються житлових та інших приміщень та споруд.</p>
    <P>Не має потреби в отриманні будь-якого дозволу чи реєстрації, якщо діяльність здійснюється власником садиби (членами його сім’ї) зайнятого цілком або частково у сфері сільського господарстві у сільському населеному пункті.</p>

    <P>Принципові відмінності від наведених вище моделей правового регулювання демонструє законодавство КОРОЛІВСТВА ШВЕЦІЯ.</p>



    <P>Однією з відмінних особливостей шведської моделі є розвинутість та досконалість професійного самоврядування у сфері сільського туризму.</p>
    <P>Прийом відпочиваючих у сільській місцевості господарями сільських садиб здійснюється у рамках спеціальної Програми “сільська гостинність” Програма являє собою свого роду об’єднання, компанію – організацію з ознаками громадських об’єднань та традиційних професійних цехів.</p>
    <P>Участь у Програмі “сільська гостинність”.</p>
    <P>Участь у Програмі “сільська гостинність” господарів є обов’язковою умовою для набуття права здійснювати діяльність у сфері сільського туризму. Участь у Програмі є добровільною та платною.</p>
    <P>Вимоги до садиби та до господарів.</p>
    <P>Для вступу до організації – Програми “сільська гостинність (у подальшому – Програми) садиба – господарство (у подальшому – господарство) та господарі повинні відповідати наступним вимогам:</p>
    <P>Господарство повинно демонструвати гарне навколишнє середовище, у тому числі добротні умови утримання тварин та відповідати вимогам небезпечного перебування людей у господарстві.</p>
    <P>Господарство повинно бути розташовано у сільській місцевості і використовуватись як діюче сільськогосподарське виробництво, це може бути рослинництво, тваринництво або невелике лісогосподарське виробництво.</p>
    <P>Господарство повинно бути платником податку, як сільськогосподарське підприємство.</p>
    <P>Господар, або господарі (у подальшому господар) повинен бути обізнаний з питань харчування.</p>
    <P>Господар повинен повністю або частково бути зайнятий у цьому господарстві. При наявності реально діючого сільськогосподарського виробництва вимоги до господаря по зайнятості не висуваються.</p>
    <P>Господар або його родина повинні проживати у садибі, що здається відпочиваючим або у безпосередній близькості до неї.</p>
    <P>Форми проживання відпочиваючих.</p>
    <P>Програма “Сільська гостинність” охоплює наступні форми проживання відпочиваючих у господарстві: “Самостійне ведення господарства”; “Житло і сніданок”, “Кемпінг”. Відпочиваючі (гості) можуть займати частину будинку господаря, мати окремі кімнати, проживати в окремому будинку або у наметах на території маєтку.</p>
    <P>Дозвіл на зайняття прийомом відпочиваючих.</p>
    <P>Дозвіл на зайняття прийомом відпочиваючих надається після проведення інспекцій компетентними особами Програми, відповідно до власних правил інспектування. Програмою встановлені власні правила – внутрішні мінімальні стандарти якими передбачені необхідні умови надання послуг відпочиваючим. Такі дозволи, у межах Програми надаються господарям при наявності у господарів для надання послуг більше ніж 8 ліжок або більше 4 кімнат. При умові наданні послуг в обсягах менших ніж вказано вище, спеціальній дозвіл не потрібен. Відповідно до внутрішніх правил Програми, на запит господаря може бути проведено також спеціальне інспектування з метою “кваліфікації за якістю”.</p>
    <P>Звітність перед Програмою.</p>
    <P>Господар зобов’язаний запропонувати гостеві заповнити гостьову анкету, як передається до центральної канцелярії або до регіональної структури Програм. Крім того господар зобов’язаний надсилати до Програми статистичні дані про кількість людино-днів проведених у його садиби гостями. Дані надіслані господарем до Програми є конфіденційними і поширенню не підлягають.</p>
    <P>Логотип Програми.</p>
    <P>Господарства, учасники Програми отримують спеціальний логотип “Учасник програми сільська гостинність”. Логотип обов’язково використовуватися господарем у його ділових документах.</p>

    <P>Державні стандарти у сфері сільського туризму</p>
    <P>Вимоги до приміщень.</p>
    <P>Відповідно до рекомендацій Міністерства соціального забезпечення вільна площа спальної кімнати повинна складати 2,5 кв. м. на одну людину те не менше 5 кв. м. від загальної площі кімнати. Мінімальна висота стелі повинна бути 2,1 м. Об’єм кімнат з розрахунку на одну людину не може бути менше як 6 куб. м.</p>

    <P>Водопостачання, каналізація.</p>
    <P>В разі наявності у середині будинку водопроводу і або туалету встановленого безпосередньо в житловому будинку то відповідно до правил про охорону навколишнього середовища потрібно забезпечити очистку стічних вод, або відвести стічні води у закритий резервуар. Відведення та очищення стічних вод повинно відбуватись за наявності відповідного дозволу та під наглядом уповноваженого на це особи.</p>
    <P>В разі відсутності водопроводу та туалету у середині будинку ніяких вимог до господаря не пред’являються.</p>
    <P>Готування та продаж продуктів харчування.</p>
    <P>Не вимагається ніякого дозволу для готування та подачі споживачам продуктів харчування, якщо це є умовою здачі приміщення у господарстві, яка має не більше чотирьох кімнат для гостей і розраховано на прийом не більше восьми людей одночасно. Не вимагається також спеціального дозволу для випічки і продажу хлібобулочних виробів у невеликих обсягах.</p>
    <P>Оподаткування.</p>
    <P>Доходи від здачі житла відпочиваючим обкладається податком у розмірі 12%. Доходи отримані у сфері сільського туризму від надання й інших послуг та продажу товарів, на приклад, продуктів харчування, оподатковуються у розмірі 25%.</p>

    <P>Порівнюючи вищенаведені три законодавчі системи слід відмітити:</p>



    <p>По-перше, їх відмінності.</p>
    <p>По принциповим засадам регулювання вони належать до двох специфічних правових систем. Перші два (польська та угорська) належать до Центрально – Європейських, постсоціалістичних, але з досить сильними традиціями ведення приватного дрібнотоварного сільськогосподарського виробництва. Ці країни знаходяться у стадії вирішення складних проблем забезпечення функціонування своїх агрогосподарських комплексів, збереження та розвитку сільських населених пунктів в умовах нових економічних реалій. Тому сільський туризм ними, перш за все, розглядається як один з можливих засобів, що сприятиме вирішенню, або пом’якшенню таких пекучих соціальних проблем села як безробіття, низький рівень грошових доходів селян, слабо розвинутість соціальної та інженерної інфраструктури сільських регіонів.</p>
    <p>Третя, Шведська система належить до класичних моделей правових систем так званих розвинутих європейських (скандинавських) країн зі сталими економічними та правовими традиціями, у тому числі й у сфері аграрного сектору. Правове регулювання поряд з завданнями по забезпеченню сталого соціально-економічного розвитку сільських територій спрямоване також й на вирішує завдань поліпшення стану навколишнього середовища, підвищення рівня послуг, що надається відпочиваючим та отриманню державних доходів (податків) від діяльності сільських господарів, у тому числі й у сфері аграрного туризму.</p>
    <p>По-друге, їх схожість.</p>
    <p>Така схожість правового регулювання простежується передусім у питанні досить чіткого юридичного відмежування сільського туризму від інших видів діяльності як у галузі сільського господарювання так і в галузі туризму, складовою частиною яких вони безперечно є. Це відмежування відбувається по досить простим критеріям – за кількістю кімнат або ліжко-місць які можуть бути надані для цілей прийому відпочиваючих та/або за величиною отриманого річного доходу від цієї діяльності. Таке відмежування здійснюється з метою максимального спрощення бюрократичних процедур необхідних для легалізації цієї діяльності, що робить її доступним для осіб фактично без спеціальної підготовки та без будь які, або принаймні, через спрощені дозвільні процедури. Чітке відмежування від решта господарської діяльності надає можливість надання пільгових умов оподаткування, або цілковитого звільнення від податків доходів отриманих від діяльності у сфері сільського туризму. А ці податкові преференції у свою чергу являються головним стимулом для селян по наданню послуг відпочиваючим.</p>
    <p>Тотожними є у всіх розглянутих вище системах головні суб’єкти правовідносин – особи які надають послуги. Ними виступають виключно фізичні особи – господарі, або члени їх сімей, які мають у володінні та/або у користуванні нерухомість (маєток) у сільський місцевості, яке принаймні частково використовується у цілях сільськогосподарського виробництва.</p>
    <p>Наступною принциповою схожістю є відсутність, або принаймні вкрай обмеженість спеціального регулювання умов та стандартів здійснення діяльності у цій сфері органами державної влади. Для унормування та стандартизації сільського туризму як правило використовуються загальні норми та правила які регулюють відносини та встановлюють стандарти, на приклад, у сферах: житлового будівництва та експлуатації житлових будинків; санітарії та гігієни у житловому секторі, тваринництві; пожежної безпеки у житловому секторі та на невеликих сільськогосподарських підприємствах; страхування майна, майнової та іншої цивільної відповідальності й таке інше.</p>
    <p>Як схожості, так й відмінності простежуються у вищерозглянутих законодавчих системах стосовно ролі й місця громадських організацій у питаннях управління діяльності у цій сфері.</p>
    <p>Схожим є те, що у всіх трьох країнах існує громадська організація, яка бере на себе, та тією чи іншою мірою виконує представницькі й правозахисні функції., а також надає певні рекламні, маркетингові, інформаційні, освітянські, методологічні та інші послуги своїм членам – сільським господарям.</p>
    <p>Але відмінними, у залежності від сталості, досконалості правового регулювання відносин у цій сфері є повноваження (компетенції) цих громадських організацій стосовно творення внутрішньої, фахової, професійної нормативної бази, а також по здійсненню внутрішнього контролю за дотримання цих норм господарями.</p>

    <p>На підставі вище викладених можемо сформулювати наступні рекомендації стосовно нормативно-правового регулювання процесу становлення та розвитку сільського туризму в Україні.</p>
    <p>Загальні підходи.</p>
    <p>Законодавча база, що буде створена для регулювання стосунків у цій, відносно новій для України сфери діяльності сільських господарів, безперечно повинно відповідати сьогоденним реаліям українського села та повинна бути спрямована на вирішення її актуальних проблем, враховуючи перспективний розвиток сільських населених пунктів, а також гармонічно вписуватись в існуюче законодавче поле України.</p>
    <p>Враховуючи схожість проблем, які вимагають свого вирішення стосовно реформування аграрного сектору виробництва, а також пов’язаних з необхідністю кардинальних змін у державній політиці щодо розвитку села з подібними проблемними питаннями в інших постсоціалістичних країнах, та накопичений певний позитивний досвід по їх вирішенню у наших сусідів, вважаємо доцільним формувати законодавство України у сфері сільського туризму з максимальним врахуванням їх досвіду. Ця пропозиція передусім стосується дотримання головних принципових елементів на яких базується законодавча база регулювання сільського туризму в Польщі та Угорщині. Вище вже розглядали ці питання, але наведемо їх ще раз:</p>
    <p>Чітке визначення (дефініція) в законодавстві України понять: “сільський господар (селянин, сільський газда тощо)”, “сільське, або селянське господарство (садиба, газдівство тощо)”, “сільське, або селянське господарювання”.</p>
    <p>Законодавче визнання права “сільського господаря” на “сільське господарювання” без створення юридичної особи та без набуття статусу підприємця.</p>
    <p>Відмежування діяльності в сфері сільського туризму від підприємницької діяльності взагалі, а також від товарного агропромислового виробництва на селі та туристичної діяльності. При тому бути свідомим того, що сільський туризм є й у подальшому залишатиметься органічною частиною сільськогосподарської діяльності та туристичного бізнесу в Україні.</p>
    <p>Впровадження діяльності у сфері сільського туризму “сільськими господарями” повинно здійснюватись без будь-яких дозволів та реєстрацій в органах влади.</p>
    <p>Встановити, що умови діяльності у сфері сільського туризму регулюються чинним законодавством та чинною іншою нормативною базою яка регулює відносини у тій чи іншій сфері суспільних відносин. Такий підхід надасть можливість уникнути прийняття спеціального Закону “Про сільський туризм в Україні”, й у той же час жодна з елементів діяльності не залишиться поза правовим полем держави.</p>
    <p>При наявності юридичних можливостей, специфіку застосування приписів того чи іншого нормативного акту до особливих умов діяльності у сфері сільського туризму бажано здійснювати внесенням змін та доповнень до них у формі “приписів від зворотного”. Тобто правовою нормою про те, що дія того чи іншого нормативного акту, або певної його частини на діяльність у сфері сільського туризму не розповсюджується.</p>
    <p>Звільнення від оподаткування доходів отриманих “сільськими господарями” від надання послуг по сільському туризму.</p>
    <p>Процес законодавчого регулювання та інші форми унормування діяльності у сфері сільського туризму повинні відбуватись за безпосередньої участі сільських господарів та їх громадських об’єднань. Право на визначення окремих норм та стандартів діяльності та контроль за їх дотриманням потрібно делегувати таким громадським об’єднанням.</p>
    <p>На наше переконання, тільки шляхом застосування в українському законодавстві наведених вище методів та засобів, а також дотримання, на наш погляд, принципових положень правового регулювання, які витримали іспит на практиці, можливо створити стійку правову основу для повноцінного розгортання цієї форми діяльності в нашій державі.</p>

    <p>Можливі практичні кроки стосовно законодавчого регулювання.</p>
    <p>Вважаємо що центральним, головним проблемним елементом, що заважає формуванню законодавства за накресленими вище орієнтирами нині є законодавча невизначеність. Більш того, відсутність на рівні понять у вітчизняному законодавстві основного суб’єкта – “сільського господаря” та об’єкта – “сільського (селянського) господарства” цих правовідносин. Що у свою чергу пояснюється тим, що у попередні роки так і не був схвалений закон “Про сільське особисте підсобне господарство”. А до розгляду проекту закону України “Про особисте селянське господарство” Верховна Рада України тільки приступила.</p>
    <p>При цьому слід зауважити, що текст прийнятого у першому читанні 28. 11. 2002р. вищеназваного законопроекту (Реєстр. ВРУ №1366 від 12. 07. 2002р.) хоча й пропонує певні зрушення у вище наміченому напрямку, але у цілому не наближає нас до вирішення завдань пов’язаних з правовим регулюванням сільського туризму. Адже перелік видів діяльності, яке може здійснюватись в особистому селянському господарстві, запропоноване у статі 1 законопроекту не передбачає можливість надання послуг, та не закріплює положення про те, що діяльність у селянському господарстві не є підприємництвом.</p>
    <p>Тому вважаємо за потрібне і доцільне перелік видів діяльності при веденні особистого селянського господарства (стаття1 законопроекту) “…шляхом виробництва, переробки та споживання сільськогосподарської продукції, реалізації її надлишків” доповнити словами “та надання послуг з використанням майна, яке належить господарству”. Таке доповнення, зокрема, надасть можливість більш ефективно і легально використовувати надлишки площ житлових будинків для надання послуг по прийому відпочиваючих тобто для цілей сільського туризму.</p>
    <p>А також з метою більш чіткого визначення правової природи цієї форми діяльності (ведення особистого селянського господарства) пропонуємо статті 1 доповнити частиною 2 наступного змісту: “2. Діяльність по веденню особистого селянського господарства не відноситься до підприємницької діяльності.” Встановлення того, що діяльність сільських господарів у сфері сільського туризму не належить до підприємницької діяльності вимагає внесення відповідної зміни до Закону України “Про підприємництво” (№698-XII від 07. 02. 1991р.).</p>
    <p>Після набуття чинності закону “Про особисте селянське господарство” виникатиме потреба у внесенні змін до цілої низки законодавчих актів, а також внесення змін й прийняття нових підзаконних актів.</p>
    <p>На нашу думку передусім буде необхідно внести зміну до пункту є) Статті 5 Декрету Кабінету Міністрів України “Про прибутковий податок з громадян” (№43-93, від 30. 04. 1993р.) відповідно до якої до суми виплат, що не включаються до сукупного оподаткованого доходу належать також й доходи громадян від продажу вирощеної в особистому підсобному господарстві сільськогосподарської продукції. Виклавши це положення у відповідності до статті 1 закону “Про особисте селянське господарство”.</p>
    <p>Для визначення межи поділу між сільським туризмом та туристичною індустрією взагалі потрібно буде внести доповнення до Закону України “Про туризм” (№324/95-ВР, від 15. 09. 1995р.). Нормативний текст цього доповнення повинен встановити – дія яких норм та положень цього закону не розповсюджується на фізичні особи та членів їх сімей, які ведуть особисте селянське господарство без створення юридичної особи на землях, переданих у власність або наданих у користування цим фізичним особам для використання відповідно до законодавства, у тому числі й для надання послуг з використанням майна, яке належить особистому селянському господарству, тобто для цілей сільського туризму.</p>
    <p>Вважаємо також, що доповнення переліку видів діяльності селянського господарства наданням послуг у законі “Про особисте селянське господарство” буде вимагати прийняття спеціального підзаконного акту, на нашу думку це повинно бути постанова Кабінету Міністрів України “Про послуги в особистому селянському господарстві” в якому була б можливість сформулювати визначення (дефініцію) сільського туризму, як одного з різновидів послуг які можуть надаватись селянськими господарствами.</p>
    <p>Наведені в заключній частині цього дослідження “практичні кроки” безумовно є гіпотетичними, умовними тому, що прийняття вказаних нормативних актів у пропонованій формі та послідовності має сенсу виключно у випадку виконання першої пропозиції стосовно прийняття закону “Про особисте селянське господарство”, причому з пропонованими нами змінами та доповненнями.</p>

    <p>Михайло Товт,</p>



    <p>Почесний президент Спілки сприяння</p>
    <p>розвитку сільського зеленого туризму в Україні,</p>
    <p>науковий співробітник Інституту держави і права</p>
    <p>ім. В. М. Корецького НАН України,</p>
    <p>кандидат юридичних наук</p>



</div>