<p class="info">Михайло Михайлович</p>
<p class="info">Шацький район</p>
<p class="info">0679500194  </p>
<p class="info">0679782723 </p>





<hr>
<p>Умови проживання:</p>
    <ol>
        <li>кімнати (євроремонт), з окремим виходом на вулицю</li>
        <li>душ, туалет</li>
        <li>телебачення, радіо, холодильник</li>
        <li>постільна білизна</li>
    </ol>
Харчування: Кухня євро класу (мікрохвильова піч, телебачення, музика), облаштована м'якими куточками
До послуг відпочиваючих:
    <ol>
        <li>водні прогулянки (велосипеди, човни)</li>
        <li>все для риболовлі.</li>
    </ol>














