<p class="info">Корнійчук Василь Петрович

</p>
<p class="info">Ківерцівський район</p>
<p class="info">0668787875</p>




<hr>
<p>Садиба зеленого туризму «Сакура» розташована в зеленому ландшафті с. Кульчин Ківецівського району Волинської області. Широкий простір лугів і цілюще повітря, згин старого русла Стиру стрімко з’єднують вас з природою, створивши почуття блаженства і спокою, нададуть можливість відпочити від шаленого риму міського життя. «Сакура» зустріне Вас гостинно і привітно. До ваших послуг: - баня-парна з ароматним різнотрав’ям на дровах, з дубовими, хвойними, полиновими, кропивними віниками; багатоструменевий душ і прохолодний водоспад;</p>
<p>- японський лежак «Офуро» з природною морською галькою з підігрівом; - ванна гейші при свічках; - суха ванна самурая в травах; - дерев’яна бочка-купель «Фурако» для приймання оздоровчих трав'яних ванн; - косметичні процедури; масаж; традиційна кульчинська кухня.</p>


















