<p class="info">Цьось Богдана Михайлівна

</p>
<p class="info">Старовижівський район</p>
<p class="info">0662356951</p>




<hr>
<p>Умови перебування та послуги:</p>
<p>Господиня пропонує 2 одномісних і 3 двомісних кімнати. Туалет на подвір’ї.</p>
<p>Є можливість користуватися телефоном, пральною машиною, холодильником, радіоприймачем.</p>
<p>Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. дворазове харчування  35 грн., триразове харчування  -40 грн.</p>
<p>Господиня приймає відпочиваючих з дітьми.</p>
<p>В господарстві є корова, порося, домашня птиця.</p>
<p>Господиня за бажанням навчить вишивати. Пропонує збір грибів та ягід.</p>
<p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні, верхова їзда.</p>
<p>Медична допомога і переговорний пункт знаходяться на відстані 0,5 км.</p>



















