<p class="info">Михайло Михайлович</p>
<p class="info">Шацький район</p>
<p class="info">0974563022  </p>





<hr>
<p>Умови проживання: Пропоную для відпочинку 2, 3, 4 місні кімнати в окремому котеджі, санвузол з усіма умовами. Вода гаряча і холодна цілодобово. Парковка а/м у дворі або в гаражі.</p>
<p>Є обладнана кухня для приготування їжі самостійно (холодильник, мікрохвильова піч, ел.чайник, посуд, електрична та газова плита, сільська піч).</p>
<p>До послуг відпочиваючих: на затишному подвір’ї є бесідка, тераса, мангал, гриль.</p>
<p>Ціни: Ціни за проживання з однієї людини (без харчування): від 70 грн./доба.</p>













