<p class="info">Іванісік Валентина Олексіївна

</p>
<p class="info">Любешівський район</p>
<p class="info">(03362)2-36-32</p>



<hr>
<p>Умови перебування та послуги:</p>
<p>Господиня пропонує котедж:1 одномісну і 1 двомісну кімнати. Туалет на подвір’ї і в будинку, є душ, ванна, баня.</p>
<p>Є можливість користуватися телевізором, холодильником, пральною машиною, мікрохвильовою піччю, радіоприймачем, телефоном. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. дворазове харчування  40 грн., триразове харчування  -до 50 грн.</p>
<p>Господиня приймає відпочиваючих з дітьми.</p>
<p>В господарстві є корова, порося, домашня птиця.</p>
<p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні.</p>
<p>Господиня пропонує екскурсії до лісу по гриби, ягоди, лікарські рослини</p>
<p>Господиня за бажанням навчить готувати, пекти, вишивати.</p>
<p>Медична допомога і переговорний пункт знаходяться на відстані 0,4 км і 0,3 км.</p>
















