<p class="info">Петрицький Микола Іванович
</p>
<p class="info">Турійський  район</p>
<p class="info">(03363)9-65-80 </p>
<p class="info">0968373602 </p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує 1 двомісну кімнату. Туалет на подвір’ї, є ванна, душ, баня, сауна. Можливість дивитися телевізор та користуватися пральною машиною, радіоприймачем, телефоном, кухнею.</p>
    <p>В господарстві є кози, порося, домашня птиця.</p>
    <p>Господиня пропонує національні страви.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>Господар пропонує збирання грибів, ягід, риболовлю і хороший відпочинок на природі, лікування лікарськими травами.</p>
    <p>Відпочиваючі мають можливість купатися, кататися в човні, отримати уроки верхової їзди.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 150 м, пошта –на відстані 500 м.</p>





































