
<h1>
	Уповноважені представники Спілки СЗТ України в областях
</h1>
<div class="body">

	<img src="./resourses/predstavnyky/1.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у Волинській області - Пахом’юк Ніна Володимирівна, голова правління громадського об’єднання „Волинські перспективи”, експерт Програми розвитку ООН, тренер, автор та виконавець проектів, стажувалася за кордоном, член Спілки СЗТ України, почесний працівник туризму України.<p>
	<p>Ніна Володимирівна являється дуайєном Інституту уповноважених представників Спілки СЗТ України в областях</p>
	<p>43016, м. Луцьк, вул. Лесі Українки, 9, 3 поверх</p>
	<p>тел.+38-050-690-48-29, е-mail:extrim@lt.ukrtel.net</p>

		<img src="./resourses/predstavnyky/2.jpg" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у Житомирській області - Величко Інна Аркадіївна, викладач образотворчого мистецтва гімназії «Консул» м.Київ, власник садиби «Поліська хата», має досвід в організації та проведені художніх конкурсів та виставок, ювілеїв, родинних свят, благодійних акцій для дітей – інвалідів, екскурсій та поїздок, організатор етно-фестивалю «Житичі», акції «Один день 33-го», куратор багатьох проектів та акцій, член Спілки СЗТ України</p>
		<p>10020, м. Житомир, пров. 2 Кар’єрний, б.8,    кв.2,</p>
		<p>е-mail: inna_velichko@ukr.net, тел. +38 067 723 5382</p>

	<img src="./resourses/predstavnyky/3.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у Закарпатській області - Гичка Михайло Олексійович, приватний підприємець, має досвід роботи в місцевих органах влади, голова Міжгірської районної громадської організації "Сприяння розвитку агротуризму "Полонина", власник садиби "Бокораш", розробник піших та кінних маршрутів, навчався за кордоном, експерт-консультант, член Спілки СЗТ України</p>
	<p>е-mail: misha_1959@ukr.net, +38 097 431 84 63,+38 095 094 45 94</p>

		<img src="./resourses/predstavnyky/4.jpg" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у Запорізькій області - Бернага Наталія Юріївна, голова Запорізького обласного осередку Спілки СЗТУ, голова правління ГО «Клуб друзів Федора Конюхова», голова правління ГО „Кластер бджільництва „Бджола не знає кордонів”, тренер-консультант, має досвід роботи з міжнародними організаціями, приймала участь у міжнародних проектах, відвідала багато країн, стажувалась за кордоном, розробник маршруту «Мала Батьківщина Федора Конюхова», з 2004 року член Спілки СЗТ України</p>
		<p>тел/ моб. +38 067 7667088</p>
		<p>e-mail:  appu2010@mail.ru</p>

	<img src="./resourses/predstavnyky/5.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у Дніпропетровській області - Аннусова Віра Андріївна, член Спілки СЗТ України, голова БРПЖО «Первоцвіт».  Займається протягом багатьох років вирішенням проблеми зайнятості жінок і молоді, організацією підприємницької діяльності у сільській місцевості у сфері сільського зеленого туризму. Приймала участь у міжнародних проектах. Організовує і проводить народні свята з метою виховання пошани до живої природи, здорової їжі, бажання оберігати все прекрасне навкруги, що оточує нас. Була переможцем Національних конкурсів «У нас одне коріння» та «Волонтер 2013 року» у номінації «Збереження народних традицій та звичаїв»</p>
	<p>Тел. +38 096 3631976, e-mail:lyubov_primrose@ukr.net</p>

		<img src="./resourses/predstavnyky/6.jpg" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у Київській області - Андросенко Тетяна Іванівна, приватний підприємець, голова громадської жіночої організації “Надія”, автор та виконавець багатьох проектів, навчалася за кордоном,  член Спілки СЗТ України</p>
		<p>вул. Дружби, с.Ковалин, Переяслав-Хмельницького району, Київської області.</p>
		<p>тел. 067-908-41-16, е-mail:androsenko_tany@i.ua</p>

	<img src="./resourses/predstavnyky/7.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у Кіровоградській області - Твердоступ Любов Іванівна, приватний підприємець з організації туризму, туристичний стаж 34 роки, голова Кіровоградського обласного осередку Спілки СЗТУ, відвідала багато країн, експерт-консультант, член Спілки СЗТ України</p>
	<p>25006 Кіровоград, пр. Комуністичний 1, оф. 203,</p>
	<p>тел. +38 097-206-57-49, +38 050-167-75-40, е-mail: zelenturkr@ukr.net</p>

		<img src="./resourses/predstavnyky/8.jpg" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у Миколаївській області - Семенков Анатолій Володимирович, голова Миколаївського обласного осередку Спілки СЗТУ, член Спілки СЗТ України, власник садиби «Тута», інструктор СТП з пішохідного та водного туризму, засновник та організатор скаутських та туристичних зльотів та програм, наметового пересувного туристичного табору «Истоки», засновник скаутського руху на Миколаївщині, заступник голови осередку ВМГО «Національна організація скаутів України», благодійник, закінчив курси підвищення кваліфікації при НУБіП України</p>
		<p>54031, Миколаївська область, м. Миколаїв, вул. Новобузька, буд. 99,</p>
		<p>е-mail: pr134@meta.ua, кв. 45, +38 050 394 09 89</p>

	<img src="./resourses/predstavnyky/9.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у Полтавській області - Щербань Олена Василівна, автор ідеї, ініціатор створення, фундатор та організатор екоагротуристичної садиби «Лялина Світлиця»; етнолог, етнограф, історик, керамолог, краєзнавець, майстер з виготовлення української традиційної ляльки-мотанки, обрядової ляльки з тіста, колекціонер та популяризатор творів українського традиційного мистецтва та народного побуту, стажувалася за кордоном з питань зеленого туризму, заступник голови громадської організації "Туристичне СЕЛО Полтавщини", автор багатьох публікацій, учасник міжнародних та всеукраїнських наукових конгресів, конференцій, семінарів, симпозіумів, к.і.н., член Спілки СЗТ України</p>
	<p>смт. Опішня, Полтавська область, тел. +38 066 18 45 061,</p>
	<p>е-mail: shcherbanjov@ukr.net</p>

		<img src="./resourses/predstavnyky/10.jpg" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у  Рівненській області - Постернак Вікторія Петрівна, головний спеціаліст управління культури і туризму облдержадміністрації, член громадської організації «Регіональний центр розвитку «Тріада», діяльність якої спрямована на активізацію туристичної діяльності в Рівненській області, Підвищила кваліфікацію за спеціальностями «Готельне господарство», «Тендерні закупівлі», «Ділова англійська мова», на курсах та тренінгу „Громадянське представництво: ефективне використання символів територіальних громад”. Визначається з членством у Спілці СЗТ України.</p>
		<p>тел. +38 097 23 85 976, e-mail:kilianchuk.vik@mail.ru</p>

	<img src="./resourses/predstavnyky/11.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у Харківській області - Панченко Тетяна Миколаївна - член Спілки СЗТ України з 2004 року; заступник голови правління Харківського регіонального відділення Спілки сприяння розвитку сільського зеленого туризму в Україні; інспектор з категоризації осель сільського зеленого туризму мережі «Українська гостинна садиба»; експерт-консультант - закінчила курси підвищення кваліфікації за програмою «Сільський зелений туризм» при Національному університеті біоресурсів і природокористування України; учасник міжнародних та всеукраїнських конференцій і семінарів; має досвід роботи в місцевих органах влади, в організації та проведенні виставок, семінарів, тренінгів, проводила навчання безробітних, бажаючих працювати в сфері СЗТ; засновник та виконавчий директор туристично-інформаційного центру «SaloWayKo», діяльність якого спрямована на популяризацію відпочинку в Україні, зокрема - розвиток туризму у Харківській області, розроблення екологічних маршрутів і маршрутів сільського туризму, виготовлення і реалізацію слобожанської сувенірної продукції та ексклюзивних виробів майстрів народної творчості.</p>
	<p>61075, м. Харків, вул. Довженко,буд. 28; тел.    моб.: +38-067-947-32-62;</p>
	<p>e-mail:chatka2004@ukr.net; e-mail:salowayko.office@gmail.com</p>

		<img src="./resourses/predstavnyky/12.jpg" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у Херсонській області - Жукова Ольга Вікторівна, власник садиби «Марійкина садиба», відроджує місцеву історію, культуру та побут, проводить майстер-класи з виготовлення оберегів з місцевих природних матеріалів, ляльок-мотанок та ін., активний учасник виставок та ярмарків, член Спілки СЗТ України</p>
		<p>75623, Украина, Херсонская область,   Голопристанский район, с.Иванивка,   ул.Украинская 5, +38 055394 56 46, +38 050   954 74 93</p>

	<img src="./resourses/predstavnyky/13.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у Черкаській області - Тимофієв Сергій Петрович, приватний підприємець, власник садиби «Холодноярський зорепад», голова ГО Смілянський осередок сільського туризму, автор та організатор проектів, екскурсовод від природи, навчався за кордоном, експерт-консультант, член Спілки СЗТ України</p>
	<p>тел. +38 097 871 66 88, е-mail: z.turizm@ukr.net, turizm@Smеla.com</p>

		<img src="./resourses/predstavnyky/14.jpg" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у Чернівецькій області - Вишницький Дмитро Остапович, Завідувач спортивними спорудами Вижницької районної ради, кандидат в майстри спорту з вільної-боротьби, власник садиби "Бульбона", закінчив курси підвищення кваліфікації по темі сільський зелений туризм при НУБІП України, експерт-консультант, член Спілки СЗТ України.</p>
		<p>59200. м. Вижниця, вул.Н.Яремчука, 28а,</p>
		<p>тел. 068 466 05 95, 067 347 62 72,</p>
		<p>е-mail: mytro97@gmail.com</p>
	<img src="./resourses/predstavnyky/15.jpg" width="256" height="300">
	<p>Уповноважений представник Спілки СЗТ України у  Чернігівській області - Карпачов Сергій Олексійович, приватний підприємець, власник садиби «Андріївські озера», член Спілки СЗТ України</p>
	<p>15554, село Андріївка, Чернігівського -району.    вул. Колгоспна,100, Чернігівська область, тел.  +38 050 352 18 99, 0462 93 39 14, e-mail: stozhari@ukr.net</p>

		<img src="./resourses/predstavnyky/16.png" width="256" height="300">
		<p>Уповноважений представник Спілки СЗТ України у Сумській області - Вакула Володимир Миколайович,  приватний підприємець, власник садиби «Вакулина байка», «Грунівська січ», член Спілки СЗТ України. Має досвід роботи  в організації та проведенні виставок, семінарів, дитячих таборувань в сфері СЗТ. Голова ГО «Сумський Обласний осередок характерництва та бойових мистецтв». Діяльність садиб та осередку спрямована на долучення та заохочення молоді та дорослих до здорового способу життя. Примноження і відродження українських національних звичаїв і традицій, збереження, відновлення культурної спадщини, українського етносу та землеробства. Те, чим я захоплююся</p>
		<p>Мої захоплення: http://vk.com/id183155026, наш  «Осередок характерництва та бойових мистецтв»    http://vk.com/club42960922</p>
		<p>+38 050 7380541, +38 050 5568205,</p>
		<p>e-mail: vaculavladimir@rambler.ru, vaculavladimir@ukr.net</p>
</div>