<p class="info">Поліщук Наталія Богданівна
</p>
<p class="info">Турійський  район</p>
<p class="info">0967474775</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує 1 двомісну і 1 тримісну кімнати. Туалет на подвір’ї.</p>
    <p>Проживання  -1особа /1 ніч /1 ліжко -2 грн. (влітку і взимку), сніданок –10 грн., дворазове харчування -40 грн., триразове харчування  -до 50 грн.</p>
    <p>Можливість дивитися телевізор та користуватися кухнею, пральною машиною, холодильником, радіоприймачем, телефоном.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Господиня випікає домашній хліб і пропонує страви української кухні. Також пропонує збирання грибів і ягід.</p>
    <p>Господиня має медичну освіту, володіє навиками мануальної терапії,Пропонує методи і засоби оздоровлення, фітолікування, лікувальний масаж.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні (в радіусі 1,5 км), мають можливість полювати.</p>
    <p>Медична допомога (медпункт) і переговорний пункт знаходяться на відстані 1,5 км.</p>




































