<h1>
	Рішення інших органів виконавчої влади
</h1>


<div class="body">

	<h3>
		МІНІСТЕРСТВО АГРАРНОЇ ПОЛІТИКИ ТА ПРОДОВОЛЬСТВА УКРАЇНИ
	</h3>

	<p>НАКАЗ</p>
	<p>18 січня 2013 року</p>

	<p>Київ</p>
	<p>№ 24</p>
	<p>Про затвердження плану заходів</p>
	<p>Мінагрополітики України щодо</p>
	<p>розвитку сільського зеленого туризму</p>
	<p>на період до 2015 року</p>

	<p>Керуючись підпунктом 42 пункту 4 Положення про Міністерство аграрної політики та продовольства України, затвердженого Указом Президента України від 23 квітня 2011 року № 500,</p>
	<h4>
		НАКАЗУЮ:
	</h4>
	<ol>
		<li>Затвердити план заходів Мінагрополітики України щодо розвитку сільського зеленого туризму на період до 2015 року (далі - план заходів), що додається.</li>

		<li>Департаменту науково-освітнього забезпечення АПВ та розвитку сільських територій (Ганганов В.М.) оприлюднити наказ на офіційному         веб-сайті Мінагрополітики України (www.minagro.gov.ua).</li>

		<li>Міністерству аграрної політики та продовольства Автономної Республіки Крим, структурним підрозділам агропромислового розвитку облдержадміністрацій та управлінню промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації:</li>
			<ol>

				<li>Забезпечити в межах компетенції своєчасне виконання плану заходів.</li>

				<li>Подавати щороку до 20 грудня Департаменту науково-освітнього забезпечення АПВ та розвитку сільських територій інформацію про стан виконання плану заходів для її узагальнення.
			</ol>
		</li>
		<li> Контроль за виконанням наказу покласти на заступника Міністра – керівника апарату Чужмира М.А.</li>
	</ol>
	<p>Міністр                                                М.В. Присяжнюк</p>
	<h4>
		План заходів Мінагрополітики України щодо розвитку сільського зеленого туризму
	</h4>
	<h4>
		на період до 2015 року
	</h4>



	<table>
		<thead>
			<th>№з/п</th>
			<th>Найменування заходу</th>
			<th> Відповідальні за виконання</th>
			<th> Строк виконання</th>
		</thead>
		<tbody>
			<tr>
				<td> 1 </td>
				<td> 2 </td>
				<td> 3 </td>
				<td> 4 </td>
			</tr>
			<tr>
				<td>2</td>
				<td> Організація вивчення туристичного ресурсу регіонів з метою розроблення методичних рекомендацій щодо розвитку сільського зеленого туризму</td>
				<td>Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>2013 рік</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Популяризація сільського зеленого туризму через засоби масової інформації та мережу Інтернет</td>
				<td>Ганганов В.М.; Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Участь у розробці та запровадженні спеціальних регіональних програм з підтримки розвитку сільського зеленого туризму</td>
				<td>Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Підготовка фахівців для роботи у сфері сільського зеленого туризму</td>
				<td>Ганганов В.М.; вищі навчальні заклади Мінагрополітики України</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>6</td>
				<td>Організація та проведення освітніх заходів для осіб, які бажають займатися сільським зеленим туризмом.</td>
				<td>Ганганов В.М.; вищі навчальні заклади Мінагрополітики України; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>7</td>
				<td>Проведення консультаційних послуг в регіонах для осіб, які бажають займатися сільським зеленим туризмом, з питань організації та діяльності сільського зеленого туризму</td>
				<td>Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації; регіональні дорадчі служби (за згодою); Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>8</td>
				<td>Надання організаційно-методичної допомоги головам сільських рад, суб’єктам сільського зеленого туризму щодо організації діяльності у цій сфері</td>
				<td>Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>9</td>
				<td>Сприяння власникам особистих селянських господарств, які займаються наданням послуг у сфері сільського зеленого туризму, участі у міжнародних та обласних виставках-ярмарках з сільського зеленого туризму</td>
				<td>Ганганов В.М.; Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>10</td>
				<td>Сприяння у створенні переліку особистих селянських господарств, які займаються туристичною діяльністю у сфері сільського зеленого туризму, для визначення 100 кращих садиб</td>
				<td>Ганганов В.М.; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>2015 рік</td>
			</tr>
			<tr>
				<td>11</td>
				<td>Участь у проведенні презентації продукту сільського зеленого туризму в регіонах серед населення сільської місцевості з метою залучення його до діяльності у цій сфері</td>
				<td>Ганганов В.М.; Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>12</td>
				<td>Залучення фермерських та особистих селянських господарств до надання послуг у сфері сільського зеленого туризму</td>
				<td>Ганганов В.М.; Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>13</td>
				<td>Проведення конференцій, круглих столів, тренінгів, навчальних семінарів щодо організації та провадження сільського зеленого туризму в регіонах</td>
				<td>Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>14</td>
				<td>Вивчення практики організації та визначення моделей функціонування сільського зеленого туризму (форми партнерської взаємодії)</td>
				<td>Ганганов В.М.; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>15</td>
				<td>Сприяння у проведенні соціологічних досліджень серед власників особистих селянських господарств, а також вивчення особливостей потенційних споживачів даного туристичного продукту</td>
				<td>Міністерство аграрної політики та продовольства Автономної Республіки Крим; структурні підрозділи агропромислового розвитку облдержадміністрацій; управління промисловості, розвитку інфраструктури та агропромислового комплексу Севастопольської міської державної адміністрації; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>Постійно</td>
			</tr>
			<tr>
				<td>16</td>
				<td>Розробка дорожньої карти щодо функціонування сільського зеленого туризму в Україні</td>
				<td>Ганганов В.М.; Спілка сприяння розвитку сільського зеленого туризму в Україні (за згодою)</td>
				<td>2014 рік</td>
			</tr>
		</tbody>
	</table>

	<p>Заступник директора Департаменту науково-освітнього</p>
	<p>забезпечення АПВ та розвитку сільських територій                             Л.А. Ставнича</p>

	<h4>
		ЗАТВЕРДЖЕНО
	</h4>

	<p>Наказ Держстандарту України 27.01.99 № 37</p>
	<p>(у редакції наказу Держспоживстандарту  України від 03.09.2007 № 207)</p>

	<h4>Зареєстровані в Міністерстві юстиції України 27.12.2007 за №1418/14685	</h4>
    <h4>Правила обов`язкової сертифікації послуг з тимчасового розміщення (проживання)</h4>

	<ol>

		<li> Загальні положення
			<ol>

				<li>Ці Правила встановлюють процедуру проведення обов`язкової сертифікації послуг з тимчасового розміщення (проживання)  стосовно безпеки для життя та здоров'я людей, захисту їх майна та охорони довкілля в державній системі сертифікації (Система сертифікації УкрСЕПРО) (далі - Система).</li>
				<li>Ці Правила є обов'язковими для виконання органами із сертифікації послуг з тимчасового розміщення (проживання), що призначені  в Системі на виконання цих видів робіт, а також суб’єктами туристичної діяльності, які надають послуги з тимчасового розміщення (проживання) (далі – виконавець послуги).</li>
				<li>Обов`язкову сертифікацію послуг з тимчасового розміщення (проживання) (далі – послуги з розміщення) здійснюють органи із сертифікації послуг з тимчасового розміщення (проживання) (далі – органи із сертифікації), призначені Національним органом України з сертифікації – Державним комітетом України з питань технічного регулювання та споживчої політики на виконання в  Системі робіт із сертифікації таких послуг.</li>
				<li>Об'єктами обов`язкової сертифікації є послуги з розміщення, що надаються суб'єктами туристичної діяльності  в колективних та індивідуальних засобах розміщення (готелях, молодіжних туристичних базах і гірських притулках, кемпінгах та майданчиках для автофургонів, дитячих та студентських літніх таборах, центрах та будинках відпочинку, санаторних та курортних закладах оздоровчо-профілактичного характеру, вмебльованих приміщеннях, морських та річкових суднах).</li>
				<li>Обов'язкова сертифікація послуг з розміщення у Системі здійснюється з метою встановлення відповідності цих послуг обов’язковим вимогам нормативних документів та нормативно-правових актів, уключених до Переліку продукції, що підлягає обов’язковій сертифікації в Україні, затвердженого наказом Державного комітету України з питань технічного регулювання та споживчої політики  від 01.02.2005 № 28, зареєстрованого в Міністерстві юстиції України 04.05.2005 за № 466/10746 (далі - обов'язкові вимоги нормативних документів).</li>
				<li>Добровільна сертифікація послуг з розміщення у Системі здійснюється на відповідність вимогам, що не віднесені нормативними документами до обов'язкових вимог.   Додатково на бажання заявника орган із сертифікації може провести сертифікацію послуг з розміщення на підтвердження відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії згідно з ДСТУ 4269:2003 “Послуги туристичні. Класифікація готелів” (далі – ДСТУ 4269).            При цьому сертифікація на відповідність усім обов'язковим вимогам нормативних документів виконується у будь-якому випадку.</li>
				<li>Процедура проведення обов'язкової сертифікації послуг з розміщення передбачає:
					<ol>
						<li>подання та розгляд заявки на сертифікацію послуг з розміщення;</li>
						<li>прийняття рішення за заявкою із зазначенням схеми сертифікації;</li>
						<li>проведення комплексу робіт, визначених обраною схемою сертифікації;</li>
						<li>аналіз одержаних результатів і прийняття рішення про можливість видачі сертифіката відповідності;</li>
						<li>прийняття рішення про можливість присвоєння певної категорії (за потреби);</li>
						<li>видачу сертифіката відповідності, присвоєння певної категорії, занесення сертифікованої послуги з розміщення до Реєстру державної системи сертифікації (далі - Реєстр Системи);</li>
						<li>технічний нагляд за наданням сертифікованих послуг, відповідністю готелю або аналогічного йому засобу розміщення присвоєній категорії, сертифікованою системою управління якістю щодо надання послуг з розміщення;</li>
						<li>інформування  центрального органу виконавчої влади в галузі туризму про результати робіт із сертифікації послуг з розміщення.</li>
					</ol>
				</li>
				<li>Схеми, що використовуються під час обов'язкової сертифікації послуг з розміщення, визначає орган із сертифікації на бажання заявника.</li>


				<p>При цьому враховуються особливості надання послуг з розміщення.</p>
				<p>Перша схема – схема з обстеженням засобу розміщення, яке здійснюється згідно з вимогами ДСТУ 3957:2000 „Система сертифікації УкрСЕПРО. Порядок обстеження виробництва під час проведення сертифікації продукції” (далі – ДСТУ 3957) та цими Правилами з метою встановлення відповідності послуг, що ним надаються, обов'язковим вимогам нормативних документів, Порядку надання послуг з тимчасового розміщення (проживання), затвердженого постановою Кабінету Міністрів України від 15.03.2006 № 297, а також додатково на бажання виконавця послуг з метою підтвердження відповідності готелю або аналогічного йому засобу розміщення вимогам ДСТУ 4269 до певної категорії.</p>
				<p>Друга схема – схема із сертифікацією системи управління якістю щодо надання послуг з розміщення, яка здійснюється на відповідність вимогам ДСТУ ISO 9001-2001 „Системи управління якістю. Вимоги” на бажання виконавця послуг з метою забезпечення впевненості органу із сертифікації у тому, що засіб розміщення здатен систематично надавати послуги, які задовольняють вимоги замовника та обов’язкові вимоги нормативних документів, Порядку надання послуг з тимчасового розміщення (проживання), затвердженого постановою Кабінету Міністрів України від 15.03.2006 № 297, а також додатково з метою підтвердження відповідності готелю або аналогічного йому засобу розміщення вимогам ДСТУ 4269 до певної категорії.</p>
				<p>Схеми обов'язкової сертифікації послуг з тимчасового розміщення (проживання) наведено в додатку 1.</p>

				<li>У цих Правилах терміни та визначення вживаються у такому значенні:
					<ol>
						<li>індивідуальний засіб розміщення – житло, у якому за плату або безоплатно надається обмежена кількість місць (менш як 10). У такому засобі одиниці розміщення (кімнати, житло) повинні бути відокремлені одна від одної;</li>
						<li>колективний засіб розміщення – засіб розміщення загальною кількістю місць 10 або більше, у яких надають місце для ночівлі в кімнаті чи іншому приміщенні, за які справляється плата за встановленими цінами.</li>
						<li>Інші терміни та визначення вживаються у значенні, наведеному в ДСТУ 2462:94 „Сертифікація. Основні поняття. Терміни та визначення”, ДСТУ ISO 9000:2001 „Системи управління якістю. Основні положення та словник”, ДСТУ 4527:2006 „Послуги туристичні. Засоби розміщення. Терміни та визначення”.</li>
					</ol>
				</li>
		</li>
			</ol>
		<li>Процедура обов'язкової сертифікації послуг з розміщення</li>
			<ol>
				<li>Подання заявки на сертифікацію
					<ol>
						<li>Для проведення сертифікації послуг з розміщення у Системі заявник подає заявку до будь-якого з призначених органів із сертифікації, а за відсутності інформації про його наявність – до Національного органу України з сертифікації, який направляє заявку до призначеного органу із сертифікації. Зразок заявки на проведення сертифікації послуг з тимчасового розміщення (проживання) з присвоєнням (або без присвоєння) категорії готелю або аналогічного йому засобу розміщення) у Системі сертифікації УкрСЕПРО наведений у додатку 2. Заявником на сертифікацію послуг з розміщення може бути фізична або юридична особа - виконавець послуги або вповноважена ним особа.</li>
						<li>Після отримання заявки на сертифікацію орган із сертифікації направляє заявнику опитувальну анкету. Форма опитувальної анкети попереднього аналізу для проведення обов'язкової сертифікації послуг з тимчасового розміщення (проживання) наведена в додатку 3. Заповнена опитувальна анкета з інформацією щодо послуги подається заявником до органу із сертифікації. Зміст наданої інформації є конфіденційним.</li>
					</ol>
				</li>

				<li>Розгляд та прийняття рішення за заявкою і визначення схеми сертифікації
					<ol>
						<li>Орган із сертифікації розглядає заявку, реєструє її в журналі обліку, а також розглядає заповнену опитувальну анкету і формує окрему справу щодо сертифікації послуг з розміщення, у якій надалі зберігають все листування і внутрішні документи органу із сертифікації щодо послуг з розміщення, які надає виконавець послуги.  Після отримання від заявника заповненої опитувальної анкети та не пізніше одного місяця після подання заявки орган із сертифікації сповіщає заявника про своє рішення, яке повинно вміщати основні умови сертифікації. Зразок рішення за заявкою на проведення сертифікації послуг з тимчасового розміщення (проживання) з присвоєнням (або без присвоєння) категорії готелю або аналогічному йому засобу розміщення) у Системі сертифікації УкрСЕПРО наведений у додатку 4.</li>
						<li>У разі прийняття рішення про неможливість проведення наступних етапів робіт із сертифікації заявка повертається заявникові з письмовою аргументацією щодо прийнятого рішення.  Якщо заявник у десятиденний c строк після отримання рішення про відмову в проведенні наступних етапів робіт із сертифікації не повідомив про свої наміри щодо проведення заходів з усунення причин, що спричинили до прийняття органом із сертифікації такого рішення, то роботи за заявкою припиняються.</li>
						<li>На підставі заявки, опитувальної анкети, позитивного рішення щодо заявки орган із сертифікації надсилає заявникові договір про організацію і проведення потрібного комплексу робіт із сертифікації послуг з розміщення із зазначенням у ньому вартості проведення цих робіт відповідно до Правил визначення вартості робіт із сертифікації продукції та послуг, затверджених наказом Держстандарту України від 10.03.99 № 100, зареєстрованих у Міністерстві юстиції України 31.03.99 за №194/3487. У договорі повинні бути зазначені зобов’язання виконавця послуги щодо виконання умов сертифікації послуг з розміщення в Системі, забезпечення відповідності послуг з розміщення вимогам нормативних документів, що будуть наведені в сертифікаті відповідності.  За узгодженням із заявником орган із сертифікації може виконувати роботи окремими етапами – за окремими договорами.</li>
						<li>Після підписання договору заявник оплачує вартість проведення робіт, передбачених договором, або, за погодженням сторін, вартість кожного окремого етапу.</li>
					</ol>
				</li>
				<li>Проведення комплексу робіт, визначених обраною схемою сертифікації
					<ol>
						<li>Орган із сертифікації формує комісію з проведення робіт із сертифікації у складі не більше трьох фахівців органу із сертифікації. Головою комісії призначають аудитора із сертифікації послуг з розміщення. До складу комісії із сертифікації послуг з розміщення можуть бути залучені кваліфіковані фахівці готельного господарства та туризму, представники центрального органу виконавчої влади в галузі туризму та представники структурних підрозділів культури і туризму місцевих державних адміністрацій (за згодою їх керівників). Фахівці, що залучаються до роботи, не повинні бути співробітниками підприємств та організацій, які зацікавлені в результатах сертифікації.</li>
						<p>Склад комісії затверджується керівником органу із сертифікації.</p>
						<p>Голова комісії проводить підготовчі роботи: установлює терміни, визначає програму проведення перевірки, проводить розподіл обов’язків між членами комісії.</p>
						<p>Для проведення робіт із сертифікації послуг з розміщення заявник зобов'язаний надати комісії всі необхідні матеріали і створити умови для її роботи, у тому числі безперешкодний доступ до всіх приміщень, де надаються такі послуги, доступ до документів.</p>
						<li>Обстеження засобу розміщення здійснюється з метою встановлення відповідності послуг з розміщення  обов'язковим вимогам нормативних документів, підтвердження можливості надавати послуги згідно з чинними нормативними документами, надання рекомендацій щодо періодичності проведення технічного нагляду за сертифікованими послугами з розміщення.</li>
						<p>Обстеження засобу розміщення складається з таких етапів:</p>
						<p>попередня оцінка;</p>
						<p>перевірка й оцінка послуг, що надаються засобом розміщення;</p>
						<p>оформлення результатів перевірки.</p>
							<ol>
								<li>На етапі попередньої оцінки комісія, що утворена згідно з пунктом 1 цієї глави, направляє заявнику перелік документів щодо послуги, які потрібно надати комісії.
									<p>Після отримання від заявника документів комісія здійснює їх аналіз.</p>
									<p>За результатами попередньої оцінки комісія складає висновок, у якому наводяться результати аналізу даних опитувальної анкети, інших вихідних матеріалів і документів та визначається доцільність (недоцільність) проведення подальших етапів робіт. Висновок підписують голова та члени комісії і затверджує керівник органу із сертифікації.</p>
									<p>У разі негативного висновку орган із сертифікації повідомляє про це заявника і на час проведення ним заходів з усунення зауважень, зазначених у цьому висновку, припиняє роботи за заявкою. Роботи за заявкою можуть бути продовжені тільки після надання заявником органу із сертифікації у письмовому вигляді інформації щодо проведення заходів з усунення цих зауважень.</p>
									<p>У разі позитивного висновку комісія складає програму обстеження засобу розміщення. Програма обстеження засобу розміщення затверджується керівником органу із сертифікації. Зразок програми обстеження засобу розміщення наведений в додатку 5.</p>
								</li>
								<li> Перевірка й оцінка послуг, що надаються засобом розміщення, уключає вступну нараду, обстеження засобу розміщення відповідно до затвердженої програми, заключну нараду.
									<p>Вступна і заключна наради проводяться згідно з вимогами підпункту 5.3.2 та підпункту 5.3.9  пункту 5.3 розділу 5 ДСТУ 3957.</p>
									<p>Під час проведення перевірки й оцінки послуг з розміщення збирають фактичні дані про засіб розміщення шляхом:</p>
										<ol>
											<li>аналізу документації, що використовується засобом розміщення;</li>
											<li>аналізу наявності та стану матеріально-технічної бази, необхідної для надання послуг з розміщення;</li>
											<li>аналізу наявності та стану загального технічного устаткування;</li>
											<li>аналізу номенклатури заявлених послуг;</li>
											<li>повного обстеження членами комісії приміщень загального користування, у яких надаються послуги з розміщення, та обстеження допоміжних приміщень (у тому числі для персоналу) засобу розміщення певної категорії, а також вибіркової перевірки номерного фонду;</li>
											<li>аналізу наявності кваліфікованого персоналу, знання ним посадових інструкцій та правил обслуговування згідно із сферою діяльності, здійснення спостережень за діяльністю та опитувань персоналу (наприклад, у вигляді співбесід з окремими виконавцями послуг);</li>
											<li>аналізу заходів щодо забезпечення та системи внутрішнього контролювання безпеки та якості надання послуг з розміщення;</li>
											<li>опитувань споживачів послуг з розміщення у засобі розміщення (наприклад, у вигляді опитувальних анкет);</li>
											<li>аналізу інформації територіальних органів Державного комітету України з питань технічного регулювання та споживчої політики щодо наявності претензій і скарг споживачів щодо заявлених на сертифікацію послуг з розміщення.</li>
									<p>Обстеження засобів розміщення, які функціонують у сезонному режимі, слід проводити на початку сезону. За згоди керівника (виконавця послуги) засобу розміщення можливе суміщення обстеження цього засобу розміщення з перевірками інших органів державної влади, які вповноважені здійснювати нагляд (за їх попередньою згодою).</p>
										</ol>
								</li>
								<li>Результати перевірки й оцінки, висновки та рекомендації комісії оформлюють у вигляді акта обстеження засобу розміщення (додаток 6). Акт обстеження складається під керівництвом голови комісії, який відповідає за достовірність викладених у ньому відомостей. Кожний член комісії надає голові комісії матеріал до акта щодо пунктів програми, які він перевіряв. Члени комісії відповідають за достовірність відомостей, що надаються ними в матеріалах до акта.
								<p>Акт повинен містити:</p>
									<ol>
										<li>відомості про орган із сертифікації (найменування, місцезнаходження, номер свідоцтва про призначення органу із сертифікації в Системі, реєстраційний номер атестата акредитації ? за наявності) та про перевірений засіб розміщення (найменування, місцезнаходження);</li>
										<li>відомості про підстави для проведення перевірки;</li>
										<li>мету та завдання проведення перевірки;</li>
										<li>терміни проведення перевірки;</li>
										<li>склад комісії;</li>
										<li>склад представників засобу розміщення, у присутності яких проводилася перевірка;</li>
										<li>указівку про конфіденційність інформації, яку використано у звіті;</li>
										<li>вихідні дані про засіб розміщення за документами, наданими виконавцем послуг (засіб розміщення належить на правах власності чи оренди, найменування суб'єкта управління засобом розміщення (для об'єктів державної власності), сезонність роботи, рік уведення в дію, рік реконструкції, кількість корпусів, кількість номерів, кількість працівників, відстань від центру міста й основних транспортних терміналів, перелік та характеристику всіх додаткових послуг тощо);</li>
										<li>результати обстеження об’єктів згідно з програмою перевірки;</li>
										<li>результати спостережень, зауваження та висновки про виявлені невідповідності або про їх відсутність;</li>
										<li>висновок щодо можливості (неможливості) надання заявлених послуг з розміщення відповідно до встановлених вимог;</li>
										<li>рекомендації щодо усунення виконавцем послуги виявлених під час перевірки невідповідностей (за наявності) із зазначенням термінів їх усунення;</li>
										<li>рекомендації щодо періодичності проведення технічного нагляду за сертифікованими послугами з розміщення під час їх надання та за відповідністю готелю або аналогічного йому засобу розміщення присвоєній категорії;</li>
										<li>відомості про направлення акта.</li>
										<li>Акт обстеження повинен бути підготовлений у термін, що не перевищує п'яти днів з дня проведення заключної наради.</li>
										<li>Акт підписують голова і всі члени комісії та затверджує керівник органу із сертифікації. Перший примірник акта обстеження орган із сертифікації направляє керівнику  (виконавцю послуги) засобу розміщення. Другий примірник зберігається в органі із сертифікації у справі заявника.</li>
										<li>Термін дії сертифіката відповідності, виданий за схемою, що передбачає обстеження засобу розміщення, не може бути більший, ніж три роки.</li>
									</ol>
								</li>
							</ol>
						<li>Сертифікація системи управління якістю щодо надання послуг з розміщення проводиться за ініціативи заявника органами із сертифікації систем управління якістю, що призначені на право проведення цих робіт. Процедура її проведення встановлюється органом із сертифікації систем управління якістю з урахуванням вимог нормативних документів Системи.
						<p>У разі прийняття рішення про проведення сертифікації системи управління якістю щодо надання послуг з розміщення заявник згідно з рішенням органу із сертифікації послуг з розміщення направляє заявку до органу із сертифікації систем управління якістю.</p>
						<p>За позитивними результатами сертифікації системи управління якістю щодо надання послуг з розміщення органом із сертифікації систем управління якістю видається заявнику сертифікат відповідності на систему управління якістю, який надається заявником органу із сертифікації послуг з розміщення для подальшого проведення робіт із сертифікації.</p>
						<p>Термін дії сертифіката відповідності, виданий за схемою, що передбачає сертифікацію системи управління якістю, не може бути більше п'яти років за умови наявності чинного сертифіката на систему управління якістю.</p>
						</li>
						<li>Вибіркова перевірка номерного фонду засобу розміщення здійснюється комісією, що утворена згідно з пунктом 1 цієї глави. Обсяг вибіркової перевірки номерного фонду встановлюється головою комісії і не може бути меншим, ніж 30 % номерів з кожної цінової категорії, заявленої в чинному прейскуранті цін на номери, і повинен забезпечувати оцінку фактичного стану безпеки та якості надаваних послуг з розміщення.
						<p>Результати вибіркової перевірки номерного фонду засобу розміщення оформлюють протоколом у присутності представників адміністрації (виконавця послуги) засобу розміщення. У протоколі зазначають фактичний стан технічного оснащення номера, оснащення номера меблями та інвентарем, санітарного обладнання номера відповідно до вимог ДСТУ 4268:2003 “Послуги туристичні. Засоби розміщування. Загальні вимоги” (далі – ДСТУ 4268).</p>
						<p>Зразок протоколу вибіркової перевірки номерного фонду  засобу розміщення на відповідність вимогам ДСТУ 4268 наведений в додатку 7.</p>
						</li>
						<li>У разі оцінки відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії на бажання заявника в програму обстеження засобу розміщення вносять додаткові пункти щодо перевірки відповідності готелю або аналогічного йому засобу розміщення вимогам ДСТУ 4269 для певної категорії.
						<p>Оцінка відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії здійснюється на підставі його перевірки відповідності вимогам розділів 5, 6, 7 ДСТУ 4269 та вибіркової перевірки комісією номерного фонду готелю або аналогічного йому засобу розміщення. При цьому вибіркова перевірка номерного фонду, яка проводиться згідно з пунктом 4 цієї глави здійснюється в обсязі, передбаченому вибірковою перевіркою номерного фонду цього пункту.</p>
							<ol>
								<li>Обсяг вибіркової перевірки номерного фонду засобу розміщення під час оцінки відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії встановлюється головою комісії і повинен бути більшим, ніж під час обстеження засобу розміщення, але не меншим, ніж 30 % номерів з кожної цінової категорії, заявленої в  чинному прейскуранті цін на номери.</li>
								<li>Результати вибіркової перевірки номерного фонду оформлюють протоколом у присутності представників адміністрації  (виконавця послуги) готелю або аналогічного йому засобу розміщення (додаток 8). У протоколі зазначають фактичний стан технічного оснащення номера (згідно з вимогами частини V таблиці 1 розділу 5 ДСТУ 4269), оснащення номера меблями та інвентарем (згідно з вимогами частини VI таблиці 1 розділу 5 ДСТУ 4269), санітарного обладнання номера (згідно з вимогами частини VII таблиці 1 розділу 5 ДСТУ 4269), оцінку якості устаткування та оснащення номера (згідно з вимогами розділу 7 ДСТУ 4269).</li>
								<li>На підставі перевірки дотримання готелем або аналогічним йому засобом розміщення вимог до певної категорії та протоколів вибіркової перевірки номерного фонду членами комісії складається звіт про його оцінку відповідності вимогам до певної категорії (додаток 9). Звіт повинен містити:
									<ol>
										<li>дані про готель або аналогічний йому засіб розміщення;</li>
										<li>мету і завдання перевірки;</li>
										<li>терміни проведення перевірки;</li>
										<li>перелік представників готелю або аналогічного йому засобу розміщення із зазначенням посад, у присутності яких проводилась перевірка;</li>
										<li>результати перевірки відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії;</li>
										<li>висновки щодо врахування потреб інвалідів, результати оцінювання членами комісії якості будівлі та інтер’єрів засобу розміщення, устаткування та оснащення приміщень загального користування.</li>
										<p>Звіт підписують голова та всі члени комісії. Перший примірник звіту про відповідність готелю або аналогічного йому засобу розміщення вимогам до певної категорії направляється керівнику (виконавцю послуги) засобу розміщення разом з актом обстеження, другий – зберігається в справі заявника.</p>
									</ol>
							</ol>
						</li>
						<li>За наявності позитивних висновків в акті обстеження засобу розміщення, сертифіката відповідності на систему управління якості засобу розміщення та (за потреби) позитивних висновків у звіті про відповідність готелю або аналогічного йому засобу розміщення певній категорії орган із сертифікації оформлює рішення про видачу сертифіката відповідності послуг з розміщення  обов’язковим вимогам нормативних документів або обов’язковим вимогам нормативних документів і вимогам до певної категорії.
						<p>Зразок рішення про видачу сертифіката відповідності на послуги з тимчасового розміщення (проживання) з присвоєнням або без присвоєння  готелю або аналогічного йому засобу розміщення певної категорії  в системі сертифікації УкрСЕПРО наведений в додатку 10.</p>
							<ol>
								<li>Якщо під час обстеження, сертифікації системи управління якістю засобу розміщення не було виявлено суттєвих зауважень, то в цьому разі йому присвоюється певна категорія  та видається сертифікат відповідності на послугу з розміщення на три або п'ять років відповідно до обраної схеми сертифікації.</li>
								<li>Якщо в протоколах вибіркової перевірки номерного фонду (додаток 8) будь-який елемент таблиці 2 цих протоколів оцінений як незадовільний, то позитивне рішення щодо присвоєння категорії може бути прийняте тільки після усунення недоліків.</li>
						<p>Якщо у  звіті про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії (додаток 9) будь - який елемент таблиці 2 цього звіту оцінений як незадовільний, то позитивне рішення щодо присвоєння певної категорії може бути прийняте тільки після усунення недоліків.</p>
								<li>Позитивне рішення про присвоєння категорії “п’ять зірок“ може бути прийняте за умови підтвердження відповідності всіх елементів таблиці 1 протоколів вибіркової перевірки номерного фонду  та таблиці 1 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії, а також якщо оцінка якості всіх елементів таблиці 2 протоколів вибіркової перевірки номерного фонду та таблиці 2 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії  “відмінно”.</li>
								<li>Позитивне рішення про присвоєння категорії “чотири зірки“ може бути прийняте за умови підтвердження відповідності всіх елементів табл. 1 протоколів вибіркової перевірки номерного фонду та таблиці 1 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії, а також якщо оцінка якості всіх елементів таблиці 2 протоколів вибіркової перевірки номерного фонду та таблиці 2 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії “відмінно” та “добре”.</li>
								<li>Позитивне рішення про присвоєння категорії “три зірки“ може бути прийняте за умови підтвердження відповідності всіх елементів таблиці 1 протоколів вибіркової перевірки номерного фонду  та таблиці 1 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії, а також якщо оцінка якості всіх елементів таблиці 2 протоколів вибіркової перевірки номерного фонду  та таблиці 2 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії “відмінно”, “добре” та не більше 20 % “задовільно”.</li>
								<li>Позитивне рішення про присвоєння категорії “дві зірки” може бути прийняте за умови підтвердження відповідності всіх елементів таблиці 1 протоколів вибіркової перевірки номерного фонду  та таблиці 1 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії, а також, якщо оцінка якості усіх елементів таблиці 2 протоколів вибіркової перевірки номерного фонду  та таблиці 2 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії “Відмінно”, “Добре” та не більше 30 % “Задовільно”.</li>
								<li>Позитивне рішення про присвоєння категорії “одна зірка” може бути прийняте за умови підтвердження відповідності всіх елементів таблиці 1 протоколів вибіркової перевірки номерного фонду та таблиці 1 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії, а також якщо оцінка якості всіх елементів таблиці 2 протоколів вибіркової перевірки номерного фонду та таблиці 2 звіту про оцінку відповідності готелю або аналогічного йому засобу розміщення вимогам до певної категорії “відмінно”, “добре” та не більше 40 %  “задовільно”.</li>
								<li>“Відмінним” уважається стан оснащення та устаткування, який може бути оцінений як “новий”, однак не означає, що воно щойно придбане. “Добрим” може бути оцінений стан оснащення та устаткування, які не потребують ремонту. “Задовільним” можна вважати такий стан оснащення та устаткування, який свідчить про доцільність проведення незначного ремонту. “Незадовільним” можна вважати такий стан оснащення та устаткування, який потребує їх суттєвого ремонту або заміни на інше.</li>
								<li>Якщо орган із сертифікації приймає рішення про відмову у видачі сертифіката відповідності обов’язковим вимогам нормативних документів, то рішення з обов’язковим зазначенням причин відмови направляється заявникові в термін, що не перевищує 3 днів з дня підписання акта обстеження засобу розміщення, а заявка анулюється.</li>
						<p>Повторна перевірка засобу розміщення з метою сертифікації може бути проведена тільки після подання нової заявки до органу із сертифікації та документально засвідчених даних заявника щодо проведення ним заходів для усунення причин, що спричинили невідповідність.</p>
								<li> Якщо орган  із сертифікації приймає рішення  про відмову в частині присвоєння готелю або аналогічного йому засобу розміщення заявленої категорії, то за узгодженням із заявником йому може бути запропоноване таке:</li>
									<ol>
										<li>надання нижчої категорії, якщо готель або аналогічний йому засіб розміщення відповідає вимогам цієї категорії;</li>
										<li>видачу сертифіката відповідності обов’язковим вимогам нормативних документів.</li>
									</ol>
							</ol>
						</li>
						<li>Орган із сертифікації оформляє сертифікат відповідності згідно з ДСТУ 3498-96 „Система сертифікації УкрСЕПРО. Бланки документів. Форма та опис” і реєструє його в Реєстрі Системи в строк, що не перевищує 10 днів з дня подання акта обстеження. Оформлений за встановленим порядком оригінал сертифіката відповідності орган із сертифікації  видає заявникові. Виконавець послуги може застосовувати знак відповідності проставлянням у рекламній та супровідній документації, що видається клієнтові (картках гостя, квитанціях тощо).
						<p>У разі присвоєння готелю або аналогічного йому засобу розміщення певної категорії ознака цієї категорії (зірки) обов’язково розміщується на фасаді засобу розміщення поряд з його назвою.</p>
							<ol>
								<li> У разі зміни умов надання або номенклатури послуг чи технологічної документації на їх надання, що можуть негативно вплинути на показники, підтверджені під час сертифікації, виконавець послуги зобов’язаний попередити про це орган із сертифікації та здійснювати намічені зміни тільки за згодою органу, що видав сертифікат відповідності.</li>
							<p>Орган із сертифікації зобов’язаний завчасно, не пізніше як за три місяці до набрання чинності змін до  нормативно-правових актів та нормативних документів, якими встановлені обов’язкові вимоги до послуг з розміщення, інформувати в письмовому вигляді виконавця послуги про ці зміни.</p>
								<li> Орган із сертифікації  веде облік виданих ним сертифікатів відповідності, а їх копії надсилає до Реєстру Системи та до центрального органу виконавчої влади в галузі туризму протягом  п’яти днів з дня реєстрації сертифіката в Реєстрі Системи.</li>
								<li> Не пізніше ніж за місяць до закінчення терміну дії сертифіката відповідності заявник подає нову заявку до органу із сертифікації для отримання сертифіката відповідності на наступний період.</li>
							<p>Орган із сертифікації визначає необхідний обсяг робіт за новою заявкою з урахуванням результатів технічного нагляду.</p>
							</ol>
						</li>
						<li> Технічний нагляд за сертифікованими послугами з розміщення  під час їх надання здійснює орган із сертифікації, що видав сертифікат відповідності, або за його дорученням – інша організація згідно з ДСТУ 3413-96 „Система сертифікації УкрСЕПРО. Порядок проведення сертифікації продукції”. Виконавець послуги зобов’язаний забезпечити безперешкодний доступ представникам органу із сертифікації або представникам організації, що  уповноважена органом із сертифікації  здійснювати технічний нагляд, до всіх приміщень, де надаються послуги з розміщення.
							<ol>
								<li>Технічний нагляд проводять протягом усього терміну дії сертифіката відповідності у формі планових та позапланових перевірок.</li>
								<p>З урахуванням міжнародної практики планові технічні нагляди за сертифікованими  послугами з розміщення проводяться один раз на рік.</p>
								<p>Обсяг та періодичність проведення технічного нагляду визначає орган із сертифікації у кожному конкретному випадку з урахуванням схеми, за якою проводилася сертифікація, і регламентує їх у програмі технічного нагляду, яка розробляється органом із сертифікації і затверджується його керівником.</p>
								<p>Технічний нагляд за сертифікованими послугами з розміщення у засобах розміщення сезонного функціонування проводиться на початку сезону.</p>
								<li> За результатами технічного нагляду орган з сертифікації складає звіт, у якому зазначає причини невідповідності  послуги з розміщення обов'язковим вимогам нормативних документів або невідповідності готелю або аналогічного йому засобу розміщення вимогам до присвоєної категорії (за їх наявності) та пропонує провести заходи для їх усунення. Один примірник звіту вручається виконавцю послуги, другий - зберігається у справі заявника.</li>
								<li> Орган із сертифікації може прийняти рішення про проведення позапланового технічного нагляду, про що завчасно в письмовій формі попереджає виконавця послуги, у разі надходження інформації про претензії (скарги) щодо сертифікованих послуг з розміщення від їх споживачів, а також від органів державної влади, які вповноважені здійснювати нагляд за послугами з розміщення відповідно до актів законодавства.  Позапланові технічні нагляди можуть проводитися у разі подання виконавцем послуги до органу із сертифікації інформації у письмовій формі про наявність претензій (скарг) на сертифіковані послуги, про зміну технології, характеристик або номенклатури послуг з розміщення чи умов обслуговування.</li>
							</ol>
						</li>
						<li>Орган із сертифікації може прийняти рішення про призупинення дії сертифіката відповідності в разі:
							<ol>
								<li>установлення невідповідності  послуги з розміщення обов’язковим вимогам нормативних документів;</li>
								<li>установлення невідповідності послуги вимогам нормативних документів до присвоєної готелю або аналогічного йому засобу розміщення категорії (зірок);</li>
								<li>установлення змін, унесених до нормативної та технологічної документації на послугу з розміщення, без попереднього узгодження із органом із сертифікації.</li>
							</ol>
						</li>
						<li> Рішення про призупинення дії сертифіката відповідності скасовується у разі усунення виконавцем послуги порушень, які були підставою для прийняття цього рішення у встановлений органом із сертифікації строк. Після закінчення цього строку проводиться технічний нагляд, який може здійснюватися за скороченою процедурою, ураховуючи результати попереднього технічного нагляду.</li>
						<p>Усунення порушень, які були підставою для прийняття органом із сертифікації рішення про призупинення дії сертифіката відповідності, проводиться виконавцем послуги після одержання цього рішення. Контроль за виконанням коригувальних заходів, ужитих для усунення причин виявлених невідповідностей, здійснює орган із сертифікації.</p>
						<li> Рішення про скасування дії сертифіката відповідності може бути прийняте, якщо порушення, які зазначені в пункті 9 цієї глави, не усунені  в установлений рішенням про призупинення дії сертифіката відповідності строк.</li>
						<li> Орган із сертифікації у триденний строк надає письмову інформацію про прийняте рішення щодо призупинення або скасування дії виданого сертифіката відповідності до Реєстру Системи, центрального органу виконавчої влади у сфері туризму, територіального органу Державного комітету України з питань технічного регулювання та споживчої політики та виконавцю послуги.</li>
						<li> Скасування дії сертифіката відповідності набирає чинності з моменту виключення його з Реєстру Системи.</li>
						<p>Виконавець послуги повинен на вимогу органу із сертифікації повернути оригінал сертифіката відповідності, дія якого скасована.</p>
						<li> Послуга з розміщення, на яку було скасовано дію сертифіката відповідності, може заявлятися виконавцем послуги на повторну сертифікацію після усунення ним порушень, виявлених під час технічного нагляду. У такому разі роботи із сертифікації проводяться без урахування результатів попередньої сертифікації цієї послуги.</li>
					</ol>
				</li>

			</ol>
		</li>
		<li> Розгляд спірних питань
			<ol>
				<li>Органи із сертифікації та організації, які діють за його дорученням, повинні забезпечувати конфіденційність інформації, що становить комерційну таємницю.</li>
				<li> У разі незгоди з рішенням органу із сертифікації виконавець послуги може подати скаргу до органу із сертифікації не пізніше одного місяця після одержання повідомлення про прийняте рішення або до суду.</li>
				<li> Скарга розглядається апеляційною комісією органу із сертифікації у місячний строк від дня її надходження.</li>
				<li> До скарги додаються такі документи (за їх наявності):</li>
			<p>листування із спірного питання між виконавцем послуги та органом із сертифікації;</p>
			<p>технологічна документація на послугу з розміщення.</p>
				<li> Виконавець послуги на його бажання заслуховується на засіданні апеляційної комісії.</li>
				<li> У разі незгоди з рішенням апеляційної комісії органу із сертифікації виконавець послуги може оскаржити це рішення протягом 10 днів з дня його одержання у Комісії з апеляцій Національного органу з сертифікації.</li>
				<li> У разі незгоди з рішенням апеляційної комісії органу із сертифікації та/або з рішенням Комісії з апеляцій Національного органу з сертифікації виконавець послуги може їх оскаржити в суді.</li>
			</ol>
		</li>
	</ol>
</div>