<p class="info">Ривачук Руслана Петрівна</p>
<p class="info">Горохівський район</p>
<p class="info">0976219821 </p>







<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня має новий двоповерховий цегляний будинок (2000 р.). Пропонує 3 двомісних кімнати  Туалет в будинку та на подвір’ї, душ, ванна.</p>
    <p>Можливість дивитися телевізор та користуватися пральною машиною, холодильником, радіоприймачем, телефоном, кухнею.</p>
    <p>Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. Дворазове харчування  35 грн., триразове харчування  -40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця. Є сад, город, квітник, виноградник.</p>
    <p>Господиня пропонує страви української кухні. За бажанням навчить вишивати.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні, катання на конях, полювати.</p>
    <p>Медична допомога (медпункт) та переговорний пункт знаходяться на відстані 0,5 км.</p>




















