<p class="info"> Потарась Надія Олексіївна

</p>
<p class="info">Шацький район</p>
<p class="info">0964882501  </p>






<hr>
    <p>Приватна садиба «Затишний маєток» Відпочинок на озері Світязь» з травня по листопад, в.т.ч. «травневі свята» «Корпоративний відпочинок, тренінги, корпоративні семінари.» Активний відпочинок, туризм»</p>
    <p>до озера 70 метрів, берег пісчаний</p>
    <p>велика затишна територія, гарно озеленена та огороджена високим парканом</p>
    <p>зручне розміщення: через - дорогу озеро, поряд центральна дорога, продуктові магазини, ринок, кафе</p>
    <p>недалеко гарні соснові та мішані ліси, багаті на гриби та ягоди - для приємних прогулянок та відпочинку</p>
    <p>на території завжди чисто та аккуратно, гарно озеленено</p>
    <p>дерев'яна стеля, перегородки, присутній аромат дерева.</p>
    <p>велика кількість різних видів альтанок, бесідок з мангалами – великих і малих розмірів, що забезпечує комфортний відпочинок на свіжому повітрі навіть в непогоду необхідні умови для проведення корпоративного відпочинку, тренінгів, святкувань</p>
    <p>автостоянка на території</p>
    <p>Опис:</p>
    <p>Цей котедж підходить для сімейного, індивідуального відпочинку, для закоханих та для гарних, дружніх компаній. Необхідні умови для проведення корпоративного відпочинку, тренінгів, святкувань. У ньому панує приємна та спокійна атмосфера, а порядний і уважний господар подбає про Вас під час перебування в «Затишний маєток».</p>
    <p>Проживання:</p>
    <p>У двох або трьох місних номерах. Можливе чотирьохмісне. Двокімнатний номер. Номера обладнані кондиціонером, супутниковим телебаченням, холодильником, шафа. Санвузол в номері (душ, умивальник, туалет). Є кімнати двох або трьохмісні, санвузол сумісний. Цілодобова подача гарячої води.</p>
    <p>Харчування:</p>
    <p>За домовленістю - здорове харчування з місцевих екологічних продуктів; сільське харчування Є можливість для самостійного приготування їжі на обладнаній усім необхідним кухні.</p>
    <p>Послуги:</p>
    <p>Включено в вартість: Прибирання номерів і зміна білизни по необхідності.</p>
    <p>Альтанки, бесідки, мангали, обладнана усім необхідним кухня, упорядкована територія для відпочинку</p>
    <p>За окрему плату:</p>
    <p>Екскурсія Шацькими озерами</p>
    <p>Екскурсія Шацьк-Брест</p>
    <p>Екскурсія Шацьк-Біловезька Пуща</p>
    <p>Пікнік на природі</p>
    <p>Стежки партизанів</p>
    <p>Екскурсія Шацьк - Луцьк</p>
    <p>Екскурсія Шацьк - Колодяжне</p>
    <p>Екскурсія Шацьк - Зимне</p>
    <p>Екскурсія "Поліські джунглі"</p>
    <p>Екскурсія "Вінок русалки"</p>
    <p>Екскурсія "Шляхи Робінзонів"</p>
    <p>Екскурсія на байдарках</p>
    <p>Організація велосипедних, автомобільних екскурсій, кінних прогулянок.</p>
    <p>Прокат велосипедів. Можливість оренди лодок, катамаранів. Організація рибалки.</p>

























