<p class="info">Юрій

</p>
<p class="info">Шацький район</p>
<p class="info">0509262668 </p>
<p class="info">0505649920  </p>
<p class="info">www.zelenyi-rai.com.ua </p>






<hr>
<p>Всі умови для сімей з дітьми:</p>
<p>За бажанням здорове сільське харчування;</p>
<p>Місця для автомобілів;</p>
<p>Повністю обладнана кухня-столова (холодильники, мікрохвильовка, ел.чайники, продуктові шафи, весь посуд);</p>
<p>Душ і туалет в будинку та на дворі;</p>
<p>В кімнатах зручні ліжка, постіль, шафи;</p>
<p>Автоматична пральна машина;</p>
<p>Супутникове телебачення,VHS,DVD, відеотека для дорослих та дітей.</p>

























