<p class="info">Брисюк
    Микола Антонович


</p>
<p class="info">Маневицький  район</p>
<p class="info">0972354816</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує: 1 одномісну, 2 двомісну кімнати в будинку.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку) в будинку так само -20 грн., сніданок 15 грн., дворазове харчування  35 грн., триразове харчування  - 40 грн.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Відпочиваючі мають можливість добре відпочити.</p>

































