<p class="info">Сусь
    Іван Сергійович



</p>
<p class="info">Маневицький  район</p>
<p class="info">0972354816</p>


<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господар пропонує: 1 одномісну, 2 двомісну кімнати в будинку. Туалет на вулиці, є душ, сауна.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником, телефоном, мікрохвильовою піччю, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку) в будинку так само -20 грн., сніданок 10 грн., дворазове харчування  40 грн., триразове харчування  - 40 грн.</p>
    <p>Господар приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Господар пропонує збирання грибів, ягід, а також екскурсії</p>
    <p>Відпочиваючі мають можливість ловити рибу, кататися у човні, купатися, полювати на зайців, кататися на бричці і</p>
    на конях верхи.
    <p>Медична допомога знаходиться на відстані 100 м і переговорний пункт знаходиться   на відстані 5 км.</p>


































