<p class="info">Жучик
    Ірина Миколаївна
</p>
<p class="info">Любомльський  район</p>
<p class="info">0964532292</p>







<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує: 1 двомісну кімнату в будинку. Туалет на подвір’ї.</p>
    <p>Є можливість користуватися телевізором, холодильником, радіоприймачем. Проживання  -1особа /1 ніч /1 ліжко -20 грн. (влітку і взимку), сніданок -10 грн. Дворазове харчування  40 грн., триразове харчування  - 40 грн.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є домашня птиця.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися.</p>
    <p>Медична допомога знаходиться на відстані 700 м, а переговорний пункт знаходиться на відстані 500 м.</p>

























