<p class="info">Білінець
    Тамара Степанівна

</p>
<p class="info">Ковельський район</p>
<p class="info">0965695853</p>



<hr>
    <p>Умови перебування та послуги:</p>
    <p>Господиня пропонує для відпочиваючих 2 двомісніих і 2 тримісних кімнати.</p>
    <p>Також окремий будиночок. Туалет на вулиці.</p>
    <p>Можливість користуватися кухнею, пральною машиною, холодильником, дивитись телевізор.</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є корова, порося, домашня птиця.</p>
    <p>Господиня за бажанням навчить вишиванню.</p>
    <p>Відпочиваючі мають можливість ловити рибу, купатися, кататися на човні, полювати, навчитися верховій їзді.</p>
    <p>Медична допомога (медпункт) знаходиться на відстані 1 км, а переговорний пункт -9 км.</p>










