<h1>Постанови та розпорядження Кабінету Міністрів України</h1>


<div class="body">
	<h3>Формування політики розвитку та функціонування сільського зеленого туризму в Україні</h3>
	<p>На виконанння рішення всеукраїнської конференції «Формування політики розвитку та функціонування сільського зеленого туризму в Україні», яка відбулася 7-8 грудня 2012 р. у м.Києві, та реалізації одноіменного проекту АгроІнвест, наразі вашій увазі пропонуємо проект Концепції нормативно-правового акту Кабінету Міністрів України щодо особливостей регулювання та сприяння подальшому розвитку сільського туризму в Україні.</p>

	<p>Розвиток сільської місцевості та сільський туризм</p>

	<p>Нині провідним директивним документом, який спрямований на розвиток сільських територій є Постанова Кабінету Міністрів України від 29 вересня 2007 р. №1158 «Про затвердження Державної цільової програми розвитку українського села на період до 2015 р.» (із змінами і доповненнями Постанова Кабміну від 28 грудня 2011р.), яким передбачено здійснення комплексу заходів в обсязі 128,2 млрд. гривень.</p>

	<p>Суттєвим недоліком цього документу, на наш погляд, є те, що відсутні дані про зміни, що прогнозуються за плановий період:</p>
	<ol>

		<li>у кількості сільського населення, її вікової, професійної та соціальної структури;</li>
		<li>структури і величини заробітку - доходів сільських жителів;</li>
		<li>типів і форм сільських поселень;</li>
		<li>кількості дворо-, домогосподарств в цих населених пунктах.</li>
	</ol>

	<p>Тобто він складений за концепцією «виробничого села», тому програма націлена на результати, що вимірюються в тоннах с/х продукції та мільярдах бюджетних надходжень. При тому, що за статистичними даними Державної служби статистики України з загальної кількості населення України на кінець 2012 року 45,55 млн. чоловік у сільській місцевості проживало 14,17 млн. чол., тобто більш ніж 30% населення країни. При цьому слід відмітити, що ця кількість і її частка у загальній чисельності населення стрімко зменшується: з 15,50 в 2003 р до 14,17 в 2012 році – тобто практично на 1% щорічно.</p>

	<p>За даними тієї же служби статистики[1] з 16984,1 тис. домогосподарств 30%, тобто 5216,1 тис. знаходяться у сільській місцевості. В кожному з цих домогосподарств у середньому по країні проживає 2,58 чоловік. Ця остання цифра суттєво різниться між регіонами. Так цей показник в центральних, східних і південних регіонах складає від 2,31 до 2,66 чоловік, то в західних «депресивних» регіонах він складає від 2,67 до 3,45 чоловік на одне домогосподарство. Статистика, як щодо кількості домогосподарств, так і до середньої кількості проживаючих у них осіб демонструє негативну динаміку.</p>

	<p>У багатьох аналітичних документах наголошується, що сільські території й у теперішній час розглядаються як економічні складові, а соціальний розвиток практично ігнорується, що очевидно призводить до подальшого зростання різниці в соціальних умовах проживання між міськими і сільськими місцевостями. Поступове «старіння» (що також демонструється статистикою) сільського населення, обезлюднення сільських територій в окремих регіонах держави набирає ознаки соціальної катастрофи. Практика доводить, що заходи які вживалися (вживаються) органами влади на противагу цим губним тенденціям належного ефекту не мають.</p>

	<p>На думку автора цієї Концепції сутність проблеми неефективності заходів, які спрямовані на збереження і відродження, ревіталізацію в сучасних умовах сільської місцевості полягає, перш за все, у принциповому методологічно-хибному підході до проблеми. А саме, в акцентуванні на первинності економічної, економічно-ресурсної складової, а не гуманної, гуманно-ресурсної. Тобто, у намаганні шляхом вливань державних (суспільних) ресурсів в окремі аграрно-виробничі сегменти та в розвиток інженерної і соціальної інфраструктури зробити соціально-привабливим і економічно вигідним перебування-проживання в сільській місцевості. Але оцінити реальну ефективність цього методу не вдається, і напевно не вдаватиметься й у майбутньому – адже ресурсів зажди не вистачає, а ті які спрямовуються, як правило, використовуються з низькою ефективністю.</p>

	<p>Тому, враховуючи обмеженість наявних для «підйому села» державних ресурсів, і їх низку ефективність в питанні вирішення проблеми, зусилля держави слід спрямувати в русло стимулювання ще наявних в сільській місцевості людських ресурсів шляхом створення максимально-сприятливих умов для розвиту широкого спектру різних видів підприємницької діяльності, перш за все, тих, які призводять до збільшення рівня зайнятості, й у тому числі, самозайнятості населення. Тих видів суспільно-корисної активності сільських мешканців, на базі яких зможуть утворитися часом елементи громадянського суспільства, які зможуть створити підвалини дійсній, взаємовигідній, добровільній кооперації сільських виробників, й в решта-решт призвести до формування сільських спільнот, що базуються на сучасних економічних реаліях. Рівень «сприятливості» таких умов повинен бути пропорційним «депресивності» відповідних територій. Ця «сприятливість» повинна мати на меті створення таких умов, при яких культивування традиційних місцевих аграрних та інших промислів, а також зайняття новими, не традиційними видами економічної діяльності, що базуються на наявних місцевих людських та природних ресурсах, стають економічно привабливими, прибутковими.</p>

	<p>Практика більш ніж півтора-десятирічного розвитку сільського туризму – сільської гостинності демонструє, що цей різновид господарської діяльності належить до тих, які, зокрема:</p>
		<ol>

			<li>для більшості сільських територій України й для наших селян є новим, але при цьому швидко освоюється на значних територіях, практично у всіх регіонах;</li>
			<li>ґрунтується на наявних місцевих матеріальних (садиба, селянське господарство) і гуманних (господар і члени його родини) ресурсах;</li>
			<li>при наявності сприятливих умов (практично цілковита дерегуляція діяльності) демонструє здатність до розвитку й при незначних капітальних вкладеннях;</li>
			<li>сприяє становленню громадянського суспільства - створюються місцеві і територіальні осередки, через які господарі власними силами вирішують ті проблеми, що складно піддаються розв’язанню в індивідуальному порядку (юридичний захист, рекламно-маркетингова діяльність тощо);</li>
			<li>сприяє розвитку інших, суміжних видів робіт і послуг в сільській місцевості, зокрема: розвитку інших видів туристичних послуг (агротуризм, екотуризм, етнографічний туризм тощо), транспортної сфери; торгівлі, традиційних та нових місцевих промислів тощо;</li>
			<li>сприяє кооперації, створенню певних видів кластерів, в яких об’єднуються економічні інтереси представників різних галузей: сільське-селянське господарство, транспорт, музейна справа, туризм, мисливство-рибальство, спорт тощо.</li>
		</ol>

	<p>Сучасний стан законодавчого регулювання діяльності у сфері сільського туризму</p>

	<p>Дослідження здійснені у рамках Спілки сприяння розвитку сільського зеленого туризму в Україні (Спілки СЗТУ) надають можливість скласти уявлення про сутність поняття, умови здійснення та сучасний рівень і обсяг законодавчого регулювання сільського туризму[2].</p>

	<p>Доведено, зокрема, що згідно зі статтею 4 Закону України «Про туризм» (Закон № 324 від 15.09.1995 р.), особливості здійснення окремих видів туризму визначаються законом. Це означає, що особливості сільського туризму мають визначати лише закони або міжнародні договори України, згоду на обов’язковість яких надала Верховна Рада України. У статті 6 указаного Закону передбачено, що розвиток екологічного (зеленого) та сільського туризму є пріоритетним напрямом державної політики у сфері туризму. Спеціальних законів про ці види туризму станом на лютий 2013 р. не було ухвалено.</p>

	<p>Поняття «сільський зелений туризм» був введений в законодавче поле України шляхом включення її у нормативний текст Закону України «Про особисте селянське господарство» (Закон N 742-IV, від 15.05.2003). Стаття 1 цього нормативного акту, що визначає поняття особистого селянського господарства гласить:</p>

	<p>«Особисте селянське господарство - це господарська діяльність, яка проводиться без створення юридичної особи фізичною особою індивідуально або особами, які перебувають у сімейних чи родинних відносинах і спільно проживають, з метою задоволення особистих потреб шляхом виробництва, переробки і споживання сільськогосподарської продукції, реалізації її надлишків та надання послуг з використанням майна особистого селянського господарства, у тому числі й у сфері сільського зеленого туризму.</p>

	<p>Члени особистого селянського господарства здійснюють діяльність на свій розсуд і ризик у межах встановленого правового господарського порядку, дотримуючись вимог цього Закону, законів України, інших нормативно-правових актів.</p>

	<p>Діяльність, пов'язана з веденням особистого селянського господарства, не відноситься до підприємницької діяльності».</p>

	<p>Хоча вищенаведений нормативний припис, на перший погляд, тільки встановлює статус цієї діяльності, як однієї з різновидності робіт, що можуть здійснюватися у межах особистого підсобного господарства українського селянина, але більш глибокий аналіз документу надає підстави стверджувати, що через цей закон ми отримали комплексне, закріплене силою закону дефініцію цього виду діяльності, а саме:</p>
		<ol>
			<li>сільський зелений туризм є одним з різновидів господарської діяльності у межах особистого господарювання сільського господаря;</li>
			<li>сільський зелений туризм - це господарська діяльність, яка проводиться без створення юридичної особи фізичною особою індивідуально або особами, які перебувають у сімейних чи родинних відносинах і спільно проживають;</li>
			<li>члени особистого селянського господарства здійснюють діяльність у сфері сільського зеленого туризм на свій розсуд і ризик у межах встановленого правового господарського порядку;</li>
			<li>діяльність, пов'язана з веденням особистого селянського господарства, у тому числі й у сфері сільського зеленого туризму, не відноситься до підприємницької діяльності.</li>
		</ol>

	<p>Тексти інших норм цього Закону містять приписи, що також наближають нас до розуміння сутності цього виду діяльності, визначення суб’єктно-об’єктних відносин у цій сфері правовідносин, прав та обов’язків пов’язаних з надаванням послуг сільського зеленого туризму, соціального статусу осіб зайнятих у цій сфері.</p>

	<p>До таких, зокрема, належать:</p>
		<ol>

			<li>Діяльність у сфері сільського зеленого туризму, як один з різновидів робіт і послуг в особистому підсобному господарюванні підлягає обліку, що здійснюють місцеві органи влади (ст. 4).</li>
			<li>Члени особистого селянського господарства котрі надають послуги  сільського зеленого туризму мають право, зокрема: відкривати рахунки в установах банків та отримувати кредити в установленому законодавством порядку; бути членами кредитної спілки та користуватися її послугами; отримувати в установленому законом порядку трудову пенсію, а також інші види соціальної державної допомоги та субсидії; надавати послуги з використанням майна особистого селянського господарства; брати участь у конкурсах сільськогосподарських виробників для отримання бюджетної підтримки відповідно до загальнодержавних і регіональних програм; об'єднуватися на добровільних засадах у виробничі товариства, асоціації, спілки з метою координації своєї діяльності, надання взаємодопомоги та захисту спільних інтересів тощо відповідно до законодавства України; проводити в установленому законом порядку зовнішньоекономічну діяльність(ст. 7).</li>
			<li>Члени особистого селянського господарства котрі надають послуги у сфері сільському зеленому туризму зобов’язані, зокрема: своєчасно сплачувати земельний податок або орендну плату; дотримуватися діючих нормативів щодо якості продукції, санітарних, екологічних та інших вимог відповідно до законодавства; надавати сільським, селищним, міським радам необхідні дані щодо їх обліку (ст. 7).</li>
			<li>Зайнятість по наданню послуг у сфері сільського зеленого туризму може бути основною роботою для членів особистого селянського господарства, як форма самозайнятості, відповідно до Закону України «Про зайнятість населення»(ст. 8).</li>
			<li>Члени особистих селянських господарств, які зайняті у сфері сільського зеленого туризму можуть брати участь у загальнообов'язковому державному соціальному страхуванні на добровільних засадах (ст. 9).</li>
			<li>Пенсійне забезпечення членів особистих селянських господарств та сплата ними страхових внесків на загальнообов'язкове державне пенсійне страхування здійснюються відповідно до законодавства про пенсійне забезпечення та загальнообов'язкове державне пенсійне страхування.</li>
		</ol>

	<p>Важливо також зазначити, що сільський зелений туризм згідно з Указом Президента України № 973/99 від 10.08.1999 р. належить до підсобної діяльності у сфери туризму (п.3. Указу), а відповідно до пунктів 3 і 7 Постанови Кабінету міністрів України № 297 від 15.03.2006 р. «Про затвердження Порядку надання послуг з тимчасового розміщення (проживання)» фізичні особи-власники або орендарі індивідуальних засобів розміщення мають право надавати такі послуги без їх державної реєстрації, як суб’єктів підприємницької діяльності, за умови, що кількість місць такого розміщення не перевищує 30.</p>

	<p>Першим і по теперішній час єдиним спеціальним програмним відомчим документом предметом якого є сприяння розвитку сільського туризму став Наказ Міністерства аграрної політики та продовольства України № 24 від 18.01.2013 р. «Про затвердження Плану заходів Мінагрополітики України щодо розвитку сільського зеленого туризму на період до 2015 року», яким передбачено здійснення низки заходів організаційно-методологічного (пункти 1, 7, 12 Плану), промоційно-маркетингового (2, 8, 9), програмного (3), навчально-консультативного (4, 5, 6, 10, 13) та дослідницько-проектного (14, 15) характеру. Новацією документу слід вважати й те, що у відповідності до приписів статті 21 Закону України «Про громадські об’єднання» (№ 4572-VІ від 22. 03. 2012) до виконання окремих програмних заходів залучається Спілка СЗТУ і її територіальні підрозділи.</p>

	<p>Проблемні питання, що заважають подальшому розвитку сільського туризму в Україні і вимагають законодавчого розв’язання</p>

	<p>Дослідження проведеними у рамках Спілки СЗТУ, а також аналіз і узагальнення змісту доповідей та виступів фахівців окремих галузей, представників органів влади, а також окремих спеціальностей та самих господарів, які займаються сільським туризмом – наданням послуг по тимчасовому розміщенню відпочиваючих, тобто сільською гостинністю[3] створюють підстави для формулювання наступних проблемних питань, що заважають безперебійній роботі у цій сфері, та/або заважають подальшому динамічному розвитку цієї виду діяльності.</p>
		<ol>

			<li> До громадян, які незареєстровані як підприємці, державні органи часто висувають вимоги щодо одержання дозволів, сертифікатів тощо.</li>

			<li> Не чіткість розмежування підприємницької і не підприємницької діяльності в сфері сільського туризму.</li>

			<li> Відсутність чіткого юридичного визначення поняття сільського туризму.</li>

			<li> Неврегульованість питання оподаткування доходів, які отримані за надання послуг у сфері сільського туризму.</li>

			<li> Проблема якості послуг та їх оцінки. Вимоги до приміщень, що використовуються для розміщення відпочиваючих, проблема офіційної категоризації, сертифікація об’єктів та рівня послуг у сфері сільського туризму.</li>

			<li> Доступність кредитування та отримання державної матеріальної підтримки.</li>

			<li> Доступ до туристичного ринку, співпраця з місцевими органами влади, з громадськими організаціями.</li>

			<li> Професійне навчання в рамках загальноосвітніх навчальних закладів. Навчання дорослих, навчання співробітників органів державної влади та місцевого самоврядування.</li>

			<li> Роль, місце і можливості громадських організацій сприяння сільському туризму, їх співпраця, взаємодія з органами влади</li>
		</ol>

	<p>Висновок</p>

	<p>Практика минулих більш ніж півтора десятилітнього становлення сільського туризму в Україні доводить, життєздатність цієї, іновативної по суті різновиду господарської діяльності сільських мешканців та його позитивний вплив на економічну активність і соціально-економічну ситуацію в сільській місцевості.</p>

	<p>Позитивний вплив сільського зеленого туризму на вирішення соціально-економічних проблем села полягає передусім у тому, що він розширює сферу зайнятості сільського населення, особливо жінок, і дає селянам додатковий заробіток; розширює можливості зайнятості сільського господаря не тільки у виробничій сфері але й у сфері обслуговування. При певному нагромадженні числа відпочиваючих з'являється потреба в задоволенні їх різноманітних запитів, а це, в свою чергу, стимулює розвиток сфери послуг: транспортних, зв'язку, торгівлі, служби побуту, відпочинково-розважальних та інших.</p>

	<p>За вказаний період часу сформувалася доволі практична і зручна нормативно-правова база, що створила сприятливі стартові умови для започаткування і становлення сільського туризму, як різновиду робіт і надання послуг в особистому підсобному господарстві.</p>

	<p>Шляхом здійснення відповідних досліджень, спілкування з діючими особами в сфері сільського туризму з’ясований перелік проблемних питань, які нині стоять на заваді подальшого розвитку сільського туризму, розв’язання яких вимагає спеціального нормативно-правового регулювання.</p>



	<p>Концепція нормативно-правового акту</p>

	<p>Обґрунтування рівня та форми нормативно-правового акту</p>

	<p>У фаховій літературі, в матеріалах різного рівня досліджень, а також у висловленнях і публікаціях громадських діячів, активістів руху за розвиток сільського туризму знаходимо різні міркування щодо найбільш доцільних і ефективних засобів, методів, форм подальшого нормативно-правового регулювання діяльності в сфері сільського туризму[4]. Протягом останнього десятиліття побачили світ чисельні проекті законів, що мали на меті регулювання суспільних відносин у сфері сільського туризму, окремі з них були зареєстровані як законодавчі ініціативи народних депутатів, а інші були розроблені відомствами України [5], але жодний з них не набув чинності.</p>

	<p>Враховуючи, що підготовка та прийняття комплексного закону вимагає значних інтелектуальних, організаційних зусиль та матеріальних витрат;</p>

	<p>з огляду на те, що обсяг і зміст чинних правових норм в основному задовольняє потреби як господарів, що надають послуги, так і користувачів послуг у сфері сільського туризму, а потреба виникає головним чином у систематизації і тлумаченні (а не в додатковій кодифікації) наявних регулятивних приписів;</p>

	<p>беручи до уваги досвід інших, у першу чергу, сусідніх з Україною колишніх соціалістичних країн (наприклад, Польщі та Угорщини), в яких цей різновид сільської гостинності набув суттєвого розвитку, і в яких не приймалися і не планується прийняття спеціального закону, а також досвід Республіки Білорусь, в якій головним регуляторним документом правовідносин в цій сфері є Указ Президента «Про заходи по розвитку агроекотуризму в Республіці Білорусь» від 02.06.2006 р № 372;</p>

	<p>враховуючи особливості конституційного розподілу владних повноважень між гілками і інститутами державної влади, відповідно до яких Кабінет Міністрів України забезпечує виконання законів; проведення інвестиційної та податкової політики; політики у сфері праці й зайнятості населення, соціального захисту, а також що Кабінет міністрів України в межах своєї компетенції видає постанови і розпорядження, які є обов’язковими для виконання (частина 1 і 3 статті 116, а також абзац перший статті 117 Конституції України),</p>

	<p>пропонуємо систематизацію правових норм, що покликані регулювати правовідносини в сфері сільського туризму, їх тлумачення і роз’яснення, визначення завдань органів виконавчої влади та органів місцевого самоврядування, а також встановлення форм і засобів взаємодії владних органів з фізичними особами та структурами громадянського суспільства визначити постановою Кабінету Міністрів України.</p>

	<p>На нашу думку положення статті 4 Закону України «Про туризм» (Закон № 324 від 15.09.1995 р.) яким встановлено, що особливості здійснення окремих видів туризму визначаються законом, не слід вважати цілковитою забороною на застосування підзаконних актів для регулювання суспільних відносин в даній сфері. Тим паче, що статтею 9 цього же Закону надає Кабінету міністрів України повноваження, зокрема, на здійснення державного управління та забезпечення реалізації державної політики в галузі туризму та прийняття нормативно-правових актів, що регулюють відносини в галузі туристичної діяльності.</p>

	<p>Мета, предмет і нормативний зміст проекту постанови</p>

	<p>Метою прийняття постанови Кабінету міністрів України є сприяння подальшому розвитку сільського туризму в Україні шляхом систематизації і роз’яснення змісту чинних нормативно-правових актів, які тією чи іншою мірою стосуються діяльності в цій сфері. Предмет регулювання визначається відповідно до наведеного вище аналізу наступними проблемними питаннями.</p>
		<ol>

			<li>Встановлення та тлумачення основних термінів.</li>
		</ol>

	<p>Пропонується визначити 4 терміни з наступним їх тлумаченням[6]:</p>
		<ol>

			<li>сільський зелений туризм – відпочинковий вид туризму, що передбачає тимчасове перебування туристів у сільській місцевості (селі) та отримання ними послуг сільського зеленого туризму;</li>

			<li>послуги сільського зеленого туризму – діяльність членів особистого селянського господарства, або фермерського господарства з наданням послуг бронювання, розміщення, харчування, інформаційного обслуговування, інших видів послуг, що спрямовані на задоволення потреб туристів;</li>

			<li>сільський господар – член особистого селянського, особистого підсобного або фермерського господарства, що здійснює господарську діяльність з використанням земельних ділянок та майна, які належать членам зазначених господарств на правах власності або оренди відповідно до законодавства України;</li>

			<li>сільська садиба – житловий будинок з присадибною земельною ділянкою, в якому постійно проживає сільський господар та члени його родини, або інший житловий будинок, що знаходиться за місцем основного проживання зазначених осіб, та належить на праві власності сільському господарю або будь-кому з членів родини, що постійно проживають разом з ним.</li>
		</ol>

	<p>Слід наголосити, що усі терміни, вживані в цьому документі, вживаються у тому значенні, і якому викладені в законах України «Про туризм» та «Про особисте селянське господарство»</p>
		<ol>

			<li>Розмежування підприємницької і не підприємницької діяльності в сфері сільського туризму</li>
		</ol>

	<p>У документі слід визначити рамки, критерії в межах яких та відповідно до яких виконання робіт і надання послуг в сфері сільського туризму не вважається підприємницькою діяльністю.</p>

	<p>Користуючись досвідом сусідніх країн, а також з врахуванням наявного вітчизняного позитивного досвіду критеріями можуть слугувати:</p>
		<ol>

			<li>сільська садиба - як виключна територія і місце розміщення відпочиваючих;</li>
			<li>сільський господар та члени його родини – як персонал, який виконує роботи і надає послуги;</li>
			<li>обсяг сукупного доходу з розрахунку на одного працездатного члена родини, або максимальна кількість ліжко-місць.</li>
		</ol>

	<p>Пропонується вважати діяльністю з сільського зеленого туризму виконання робіт і надання послуг сума винагороди за які не перевищує річного розміру прожиткового мінімуму з розрахунку на сільського господаря та на кожного працездатного члена його родини. Та/або критерієм може слугувати наявність ліжко-місць, що слугують прийому відпочиваючих. Такою кількістю може бути 30 ліжко-місць (див. Постанова Кабінету міністрів України № 297 від 15.03.2006 р. «Про затвердження Порядку надання послуг з тимчасового розміщення (проживання)»</p>
		<ol>
			<li>Одержання дозволів, сертифікатів, потреба в реєстрації тощо.</li>
		</ol>

	<p>Слід закріпити однозначним, чітким положенням документу, який проектується, що для початку та здійснення діяльності у сфері сільського зеленого туризму в межах і відповідно до вищенаведених критеріїв не вимагається жодного дозвільного документу. Відсутні також будь-які зобов’язання щодо реєстрації в будь-якому владному органі.</p>
		<ol>

			<li>Вимоги до приміщень, що використовуються для розміщення відпочиваючих. Оцінка якості робіт та послуг – категоризація об’єктів та рівня послуг.</li>
		</ol>

	<p>Будівлі і приміщення в них, які використовуються для надання послуг у сфері сільського зеленого туризму повинні відповідати будівельним, санітарним, протипожежним тощо нормам і правилам, які встановлені відповідними нормативними документами для житлових приміщень.</p>

	<p>За бажанням (заявою) сільського господаря сільським садибам можуть присвоюватись відповідні категорії якості та рівня обслуговування. Критерії віднесення до таких категорій визначаються та присвоюються всеукраїнською громадською організацією, яка об’єднує сільських господарів.</p>
		<ol>

			<li>Відповідальність за нанесену, заподіяну шкоду.</li>
		</ol>

	<p>Враховуючи відсутність спеціальних правил, які б стосувалися відповідальності за нанесені матеріальні збитки та заподіяння шкоди здоров’ю, які б стосувалися би сфери сільського зеленого туризму, а також відсутність потреби в розробці й прийняття таких норм і правил, слід визначити, що забезпечення безпеки життя, здоров’я, майна відпочиваючих та сільських господарів протягом існування між ними взаємин з надання (отримання) відповідних послуг відбувається на основі взаємної відповідальності сторін згідно з чинним законодавством.</p>
		<ol>
			<li>Навчання основам сільського туризму, розповсюдження знань про сільський туризм, підвищення кваліфікації.</li>
		</ol>

	<p>Міністерству освіти і науки України в співпраці з Спілкою СЗТУ розробити і затвердити навчальну програму з предмету «Сільська гостинність» і включити її до програми викладання предмету «Трудове виховання» в школах сільської місцевості, або надати дозвіл на її викладання у варіативній частині навчальних програм загальноосвітніх шкіл ІІ і ІІІ ступенів.</p>

	<p>Доведення інформативних матеріалів на тему сільського туризму включати до програм навчання та підвищення кваліфікації керівників і співробітників місцевих органів державної влади та місцевого самоврядування.</p>
		<ol>
			<li>Державне сприяння розвитку ринку послуг сільського туризму.</li>
		</ol>

	<p>Сприяння розвитку ринку послуг і надання сприяння та підтримки діяльності в сфері сільського туризму відбувається у рамках цільових загальнодержавних та місцевих програм. Прикладом якого може слугувати Наказ Міністерства аграрної політики та продовольства України № 24 від 18.01.2013 р. «Про затвердження Плану заходів Мінагрополітики України щодо розвитку сільського зеленого туризму на період до 2015 року».</p>
		<ol>

			<li>Роль і функції громадських організацій.</li>
		</ol>

	<p>Громадські організації, які створені сільськими господарями з метою представлення та захисту їх інтересів та для популяризації сільського зеленого туризму в обов’язковому порядку залучаються до процесів підготовки регулятивних актів органами влади відповідного рівня. Жоден з таких актів не можуть бути прийнятий без наявного висновку відповідної громадської організації. Витрати громадських організацій на підготовку таких висновків та пов’язаних з участю в робочих групах по підготовці регулятивних актів відшкодовуються за рахунок коштів передбачених на розробку таких документів.</p>



	<p>Товт Михайло Михайлович</p>
	<p>кандидат юридичних наук,</p>
	<p>старший науковий співробітник Інституту Держави</p>
	<p>і права ім. В.М. Корецького НАН України,</p>
	<p>Почесний голова Спілки сприяння розвитку</p>
	<p>сільського зеленого туризму в Україні</p>

	<p>[1] Державна служба статистики України. «Соціально-демографічні характеристики домогосподарств України у 2012 році (За даними вибіркового обстеження умов життя домогосподарств України)» Статистичний збірник. Київ – 2012 р., С 6-10.</p>
	<p>[2]Див., зокрема: О. Вінніков. Законодавче регулювання діяльності у сфері сільського туризму для осіб не зареєстрованих як підприємці. Журнал «Туризм сільський зелений» №ІІ – 2012 р. С. 4-5.; В. Біркович. Сільський зелений туризм – пріоритет розвитку туристичної галузі. Журнал «Стратегічні пріоритети» № 1(6), 2008 р. С. 138-143.</p>

	<p>[3] Див.: Публікації та аналітичні статті Журналу «Туризм сільський зелений» №ІІ – 2012 р.; Матеріали Конференції «Формування політики розвитку сільського зеленого туризму в Україні». 7-8 грудня 2012 р. м. Київ. Електронний ресурс. Режим доступу: http://www.greentour.com.ua/ukrainian/news</p>

	<p>[4] Див., зокрема: Голубовська О. Сільський туризм як одна із складових відродження українського села. «Вісник Чернівецького торговельно-економічного інституту» «Економічні науки» Випуск ІІІ (47) 2012 р.; Вішневська Ю. Адміністративно-правові заходи забезпечення діяльності у сфері сільського туризму в Україні. Автореферат дисертації на здобуття наукового ступеня кандидата юридичних наук. – Національний університет біоресурсів і природокористування України. – Київ, 2011 р.; В. Біркович. Сільський зелений туризм – пріоритет розвитку туристичної галузі. Журнал «Стратегічні пріоритети» № 1(6), 2008 р. С. 138-143.</p>

	<p>[5] Зокрема: Проект Закону України «Про сільський туризм» // Реєстр. № 1322 від 05.07.2002 р – Суб’єкт законодавчої ініціативи: Кафарський В.І., Толстоухов А.В.; Проект Закону України «Про сільський і сільський зелений туризм» // Реєстр. № 4299 від 23.10.2003 р – Суб’єкт законодавчої ініціативи: Кафарський В.І.;Проект Закону України «Про аграрний туризм та агротуристичну діяльність» виконано Міністерством аграрної політики, оприлюднене 25. 02. 2009 р.</p>

	<p>[6] Пропозиція запозичена з Проекту закону України «Про сільський зелений туризм». Див.: Все о туризме. Туристическая библиотека. Електронний ресурс. Режим доступу: http://tourlib.net/zakon/pro_siltur.htm</p>

	<p>ЗАТВЕРДЖЕНО</p>

	<p>постановою Кабінету Міністрів України</p>

	<p>від 15 березня 2006 р. N 297</p>

	<h2>ПОРЯДОК</h2>

	<h4>надання послуг з тимчасового розміщення (проживання)</h4>
	<ol>

		<li>Цей  Порядок  регулює  питання   надання   юридичними   та фізичними особами послуг з тимчасового розміщення (проживання).</li>
		<li>Готелі  та  інші об'єкти,  призначені для надання послуг з тимчасового розміщення (проживання) (далі  -  засоби  розміщення), поділяються на:</li>
	колективні -  засоби  розміщення загальною кількістю місць 30 або більше,  в яких надають місце для ночівлі в кімнаті чи  іншому приміщенні і за які справляється плата за встановленими цінами;
	індивідуальні -  житло,  в  якому  за  плату  або  безоплатно надається обмежена кількість місць (менш як 10).  У такому  засобі одиниці розміщення (кімнати, житло) повинні бути відокремлені одна від одної.
		<li>Послуги  з  тимчасового  розміщення  (проживання)   -   це діяльність юридичної та фізичної особи з надання місця для ночівлі у засобі розміщення за плату, а також інша діяльність, пов'язана з тимчасовим розміщенням (проживанням), передбачена законом.</li>
		<li>До   послуг   з  тимчасового  розміщення  (проживання)  не належать:</li>
	розміщення юридичною  особою  своїх  працівників   у   засобі розміщення, що йому належить;
	розміщення осіб,  з  якими  укладається  договір про наймання житла на строк,  що перевищує  один  місяць  (для  курортів  строк визначається місцевими органами виконавчої влади);
	розміщення осіб,  які  навчаються  у  навчальному закладі,  у засобі розміщення, що належить цьому закладу;
	безоплатне розміщення фізичною особою членів своєї сім'ї  або інших осіб.
		<li>Юридичні  та  фізичні  особи  -  суб'єкти  підприємницької діяльності,  що   надають   послуги   з   тимчасового   розміщення (проживання)  у колективних засобах розміщення,  зобов'язані вести книгу відгуків і пропозицій,  яка зберігається  у  доступному  для споживачів   місці,   своєчасно   надавати   повну  та  достовірну інформацію про документи,  якими вони керуються  під  час  надання послуг,  перелік послуг,  їх вартість та умови одержання,  правила ефективного  і   безпечного   користування   засобом   розміщення, найменування та адресу виконавця послуг, адреси і номери телефонів органів, що забезпечують державний захист прав споживачів.</li>
		<li>Фізичні особи - власники або орендарі колективних  засобів розміщення  надають  послуги з тимчасового розміщення (проживання) за умови державної  реєстрації  їх  як  суб'єктів  підприємницької діяльності.</li>
		<li>Фізичні  особи  -  власники  або  орендарі  індивідуальних засобів  розміщення  надають  послуги  з  тимчасового   розміщення (проживання)    без   державної   реєстрації   їх   як   суб'єктів підприємницької діяльності.</li>
		<li>Фізичні особи - власники або орендарі індивідуальних  засобів розміщення  зобов'язані подавати у визначений законодавством строк органу відповідної податкової служби  декларацію  за  встановленою формою про дохід,  отриманий від надання таких послуг, вести книгу реєстрації,  в якій зазначається прізвище,  ім'я  та  по  батькові мешканця,   рік  народження,  місце  проживання  (перебування)  та документ, який посвідчує особу, дата прибуття та вибуття, вартість наданих   послуг.  Статистичні  відомості  подаються  до  місцевих органів виконавчої влади за встановленою ними формою.</li>
		<li>Послуги з тимчасового розміщення  (проживання)  підлягають обов'язковій  сертифікації  стосовно безпеки для життя та здоров'я людей,  захисту  їх  майна  та   охорони   довкілля   в   порядку, встановленому законодавством.</li>
		<li>Плата   за   надані   послуги   з  тимчасового  розміщення (проживання) справляється на 12 годину поточної доби  за  місцевим часом.</li>
		<li>Типи  та  характерні  ознаки засобів розміщення,  правила користування ними визначаються МКТ.</li>
		<li>Державна класифікація засобів розміщення на відповідність певній категорії проводиться відповідно до законодавства.</li>
		<li>Для   проведення   державних   статистичних  спостережень юридичні та фізичні особи - суб'єкти  підприємницької  діяльності, що   надають  послуги  з  тимчасового  розміщення  (проживання)  у колективних  засобах  розміщення,  складають  звіт  відповідно  до законодавства.</li>
		<li>Зразки форм  документів  первинного  обліку  у  сфері надання послуг  з  тимчасового   розміщення   (проживання)   розробляє   і затверджує МКТ.</li>
		<li>Відповідальність   за   надання   споживачам  достовірної інформації стосовно послуг з тимчасового  розміщення  (проживання) та  їх  якості  несуть  юридичні  та фізичні особи,  що надають ці послуги, відповідно до закону.</li>
	</ol>
</div>