<p class="info">Галина Миколаївна Павловська

</p>
<p class="info">Старовижівський район</p>
<p class="info">(03346)2-17-85</p>
<p class="info">0663960455</p>




<hr>
<p>Господарі оселі, яка облаштована за всіма зручностями запропонують вам чудовий відпочинок: рибну ловлю на озерах району , річці Вижівці, катання на човні. Поїздки до пам’яток природи та архітектури Старовижівщини: 700-літнього дуба, 300-літньої сосни, Милецького Свято-Миколївського чоловічого монастиря, краєзнавчого музею, пам’ятки археології Семенової гори та ін., а також за бажання гостей екскурсії до м. Ковеля, в музей-садибу Лесі Українки, до смт. Ратно, м. Бреста (Білорусь) в Брестську фортецю.</p>
<p>Проживання з харчуванням за  добу – 60 - 70 грн. з особи.</p>
<p>Відпочиваючі мають можливість ловити рибу, купатися, кататися човном, збирати гриби, ягоди.</p>
<p>Запрошуємо посмакувати традиційними стравами Старовижівської кухні.</p>
<p>В садибі вистачить місця для 8 чоловік.</p>


















