<p class="info">Качула
    Світлана Михайлівна

</p>
<p class="info">Любешівський район</p>
<p class="info">(03362)2-45-60</p>



<hr>
<p>Умови перебування та послуги:</p>
<p>Господиня пропонує 2 двомісних і 3 тримісних кімнати. Туалет в будинку або на подвір’ї, є баня, душ.</p>
<p>Можливість дивитися телевізор та користуватися телефоном, пральною машиною, кухнею.</p>
<p>Господиня приймає відпочиваючих з дітьми. В господарстві є корова.</p>
<p>Господиня випікає домашній хліб і пропонує страви української кухні.</p>
<p>Відпочиваючі мають можливість ловити рибу, купатися, кататися в човні, отримати уроки верхової їзди.</p>
<p>Медична допомога (медпункт) знаходиться на відстані 300 м, пошта –на відстані 200 м.</p>
<p>Господиня пропонує екскурсії по селу і за його межами.</p>















