<p class="info">Боярчук Марія Василівна

</p>
<p class="info">Шацький район</p>
<p class="info">0673346179  </p>





<hr>
<p>На території  ГОСТИННОЇ  ХАТИ розміщені альтанки, дитячий майданчик, мангал, а також відведене  місце для розпалювання вогнища.</p>
<p>Гості  ГОСТИННОЇ ХАТИ мають можливість залишити авто на території, яка завжди чиста та акуратна і повністю огороджена парканом.</p>
<p>ГОСТИННА ХАТА підходить для сімейного, та індивідуального відпочинку. Тут панує приємна та спокійна атмосфера.</p>
<p>Будинок всередині повністю оздоблений деревом, аромат якого  додає затишку та комфорту. Для проживання пропонуємо   двох- , трьох -  та пятимісні номери.   В кожній кімнаті : супутникове телебачення, холодильник, та все необхідне. Прибирання номерів і зміна білизни по необхідності. Санвузол(душ,умивальник,туалет) на поверсі, а також обладнана кухня зі всім необхідним для приготування їжі.</p>
<p>Можливість замовити домашнє  харчування з  місцевих  екологічних  продуктів.</p>
<p>Додаткові послуги</p>
<p>Організація велосипедних, автомобільних екскурсій, кінних прогулянок.</p>
<p>Організація рибалки.</p>





















