<p class="info">Дрозд
    Тетяна Петрівна


</p>
<p class="info">Любомльський  район</p>
<p class="info">(03377)3-31-92</p>
<p class="info">(03377)3-31-76</p>
<p class="info">0506611621</p>







<hr>
    <p>Господиня пропонує: 15 двомісних кімнат в котеджі. Туалет в будинку, є душ, сауна, баня. Є окреме приміщення бару-ресторану.</p>
    <p>Є можливість користуватися пральною машиною, телевізором, холодильником. Проживання  -1особа /1 ніч /1 ліжко -75 грн., а окремий будиночок- 450 грн за 1 день (разом з харчуванням).</p>
    <p>Господиня приймає відпочиваючих з дітьми.</p>
    <p>В господарстві є дика косуля.</p>
    <p>Відпочиваючі мають можливість добре відпочити, адже кемпінг знаходиться за 50 км від Світязя.</p>
    <p>Є можливість покататися на катамарані, купатися, ловити рибу на території кемпінгу (або за бажанням виїжджати за 30-50 км до Світязя), можливість полювати –на відстані 25 км.</p>
    <p>Господиня пропонує екскурсії по визначних місцях Волині, а також збір ягід, грибів в лісі.</p>
    <p>Медична допомога і переговорний пункт знаходяться на відстані 4 км.</p>




























